Repository input-output-hk/jormungandr, pull requests merged in 2019-07, with the labels that each got.

#595 updated delegation script
  scripts/bootstrap
  scripts/create-account-and-delegate.shtempl
Labels: Tests, doc

#604 Improve bootstrap script to prevent a non-stake case to appear
  scripts/bootstrap
  scripts/bootstrap.ps1
Labels: enhancement

#567 Docker: use alpine base image and versioned releases
  docker/alpine/Dockerfile
Labels: build-system, packaging

#609 [Test] node stops producing blocks test case
  jormungandr-integration-tests/src/common/configuration/genesis_model.rs
  jormungandr-integration-tests/src/common/jcli_wrapper/jcli_transaction_wrapper/mod.rs
  jormungandr-integration-tests/src/common/jcli_wrapper/mod.rs
  jormungandr-integration-tests/src/common/jormungandr/logger.rs
  jormungandr-integration-tests/src/common/jormungandr/mod.rs
  jormungandr-integration-tests/src/common/startup/configuration_builder.rs
  jormungandr-integration-tests/src/non_functional/mod.rs
  jormungandr-integration-tests/src/non_functional/soak.rs
  jormungandr-integration-tests/src/non_functional/stress.rs
Labels: Tests

#620 Process events in the client connection
  jormungandr/src/network/client.rs
  jormungandr/src/network/mod.rs
  jormungandr/src/network/p2p/comm.rs
  jormungandr/src/network/p2p/comm/peer_map.rs
Labels: subsys-network

#635 Remove unused JCLI deps
  Cargo.lock
  jcli/Cargo.toml
  jcli/src/jcli_app/block/mod.rs
  jcli/src/main.rs
Labels: jcli, technical debt

#632 Rename more fields in p2p config
  doc/advanced/02_starting_bft_blockchain.md
  doc/configuration/introduction.md
  doc/configuration/network.md
  doc/quickstart/02_passive_node.md
  jormungandr-integration-tests/src/common/configuration/node_config_model.rs
  jormungandr-integration-tests/src/common/startup/configuration_builder.rs
  jormungandr-integration-tests/src/jormungandr/bft/start_node.rs
  jormungandr-integration-tests/src/networking/communication.rs
  jormungandr/src/settings/start/config.rs
  jormungandr/src/settings/start/mod.rs
  scripts/bootstrap
  scripts/bootstrap.ps1
Labels: breaking-change

#634 Add REST endpoint for getting node settings
  doc/jcli/rest.md
  jcli/src/jcli_app/rest/v0/mod.rs
  jcli/src/jcli_app/rest/v0/settings/mod.rs
  jormungandr-lib/src/time.rs
  jormungandr/src/leadership/process.rs
  jormungandr/src/leadership/task.rs
  jormungandr/src/main.rs
  jormungandr/src/rest/v0/handlers.rs
  jormungandr/src/rest/v0/mod.rs
  jormungandr/src/stats_counter.rs
Labels: REST, enhancement, jcli

#639 Push/pull chain as complete blocks in one go
  jormungandr/src/network/client.rs
Labels: subsys-network

#656 Poll gRPC client ready before sending any requests
  jormungandr/src/network/client.rs
Labels: bug, subsys-network

#653 Protocol doc update
  doc/specs/network.md
Labels: doc

#650 Don't let one client connection terminate task
  jormungandr/src/network/mod.rs
Labels: bug, subsys-network

#654 Add leadership management REST API
  doc/jcli/rest.md
  jcli/src/jcli_app/rest/mod.rs
  jcli/src/jcli_app/rest/v0/leaders/mod.rs
  jcli/src/jcli_app/rest/v0/mod.rs
  jcli/src/jcli_app/utils/io.rs
  jcli/src/jcli_app/utils/mod.rs
  jcli/src/jcli_app/utils/rest_api.rs
  jormungandr/src/leadership/task.rs
  jormungandr/src/main.rs
  jormungandr/src/rest/mod.rs
  jormungandr/src/rest/v0/handlers.rs
  jormungandr/src/rest/v0/mod.rs
  jormungandr/src/secure/enclave.rs
Labels: REST, control-api, enhancement

#666 add ROADMAP
  ROADMAP.md
Labels: doc

#625 CircleCI: Streamline the workflow
  .circleci/config.yml
Labels: build-system
