Repository input-output-hk/jormungandr, pull requests merged in 2019-05, with the labels that each got.

#329 integration test for the REST API: fix the expected error message
  tests/jcli_rest_test.rs
Labels: REST, Tests, bug

#334 New test cases for transaction builder
  tests/common/configuration/genesis_model.rs
  tests/common/configuration/jormungandr_config.rs
  tests/common/configuration/mod.rs
  tests/common/configuration/secret_model.rs
  tests/common/data/address.rs
  tests/common/data/mod.rs
  tests/common/data/utxo.rs
  tests/common/data/witness.rs
  tests/common/jcli_wrapper/jcli_transaction_wrapper.rs
  tests/common/jcli_wrapper/jcli_transaction_wrapper/jcli_transaction_commands.rs
  tests/common/jcli_wrapper/jcli_transaction_wrapper/mod.rs
  tests/common/jcli_wrapper/mod.rs
  tests/common/jormungandr_wrapper.rs
  tests/common/mod.rs
  tests/common/process_utils/process_guard.rs
  tests/common/startup/mod.rs
  tests/jcli_address_test.rs
  tests/jcli_key_tests.rs
  tests/jcli_rest_test.rs
  tests/jcli_transaction/e2e_transaction_tests.rs
  tests/jcli_transaction/input_output_tests.rs
  tests/jcli_transaction/mod.rs
  tests/jcli_transaction_test.rs
  tests/jormungandr_test.rs
  tests/tests.rs
Labels: Tests, bug

#336 integration test for account transaction
  tests/jcli_transaction/e2e_transaction_tests.rs
Labels: bug

#357 Improved block solicitation
  src/network/grpc/client.rs
  src/network/mod.rs
  src/network/propagate.rs
  src/network/service.rs
Labels: subsys-network

#362 network: Rename p2p modules and APIs
  src/intercom.rs
  src/network/grpc/client.rs
  src/network/grpc/mod.rs
  src/network/mod.rs
  src/network/p2p/comm.rs
  src/network/p2p/mod.rs
  src/network/p2p/topology.rs
  src/network/service.rs
  src/network/subscription.rs
  src/settings/start/config.rs
  src/settings/start/network.rs
Labels: subsys-network

#346 Transaction witness module tests
  tests/common/configuration/jormungandr_config.rs
  tests/common/configuration/node_config_model.rs
  tests/common/file_utils.rs
  tests/common/jcli_wrapper/jcli_transaction_wrapper/mod.rs
  tests/common/jormungandr_wrapper.rs
  tests/common/process_utils/process_guard.rs
  tests/common/startup/mod.rs
  tests/jcli_transaction/e2e_transaction_tests.rs
  tests/jcli_transaction/input_output_tests.rs
  tests/jcli_transaction/mod.rs
  tests/jcli_transaction/witness_tests.rs
  tests/networking/mod.rs
  tests/networking/network_test.rs
  tests/tests.rs
Labels: Tests

#356 Added retry for jormungandr startup if port is not available
  Cargo.lock
  Cargo.toml
  tests/common/configuration/jormungandr_config.rs
  tests/common/configuration/mod.rs
  tests/common/configuration/node_config_model.rs
  tests/common/configuration/secret_model.rs
  tests/common/file_utils.rs
  tests/common/process_utils/mod.rs
  tests/common/startup/configuration_builder.rs
  tests/common/startup/jormungandr_starter.rs
  tests/common/startup/mod.rs
  tests/jcli_rest_test.rs
  tests/jcli_transaction/e2e_transaction_tests.rs
  tests/jcli_transaction/input_output_tests.rs
  tests/jormungandr_test.rs
  tests/networking/network_test.rs
Labels: Tests

#367 Split testes into smaller pieces
  tests/jcli/address/account.rs
  tests/jcli/address/mod.rs
  tests/jcli/address/single.rs
  tests/jcli/certificate/e2e.rs
  tests/jcli/certificate/mod.rs
  tests/jcli/genesis/encode.rs
  tests/jcli/genesis/mod.rs
  tests/jcli/key/generate.rs
  tests/jcli/key/mod.rs
  tests/jcli/key/to_bytes.rs
  tests/jcli/key/to_public.rs
  tests/jcli/mod.rs
  tests/jcli/rest/block.rs
  tests/jcli/rest/hash.rs
  tests/jcli/rest/host.rs
  tests/jcli/rest/mod.rs
  tests/jcli/rest/tip.rs
  tests/jcli/rest/utxo.rs
  tests/jcli/transaction/add_account.rs
  tests/jcli/transaction/e2e.rs
  tests/jcli/transaction/finalize.rs
  tests/jcli/transaction/input.rs
  tests/jcli/transaction/mod.rs
  tests/jcli/transaction/new.rs
  tests/jcli/transaction/witness.rs
  tests/jcli_certificates/mod.rs
  tests/jcli_genesis/mod.rs
  tests/jcli_rest_test.rs
  tests/jcli_transaction/input_output_tests.rs
  tests/jcli_transaction/mod.rs
  tests/jormungandr/mod.rs
  tests/jormungandr/start_node.rs
  tests/jormungandr_config/jormungandr_config_test.rs
  tests/jormungandr_config/mod.rs
  tests/networking/communication.rs
  tests/networking/mod.rs
  tests/tests.rs
Labels: Tests

#377 remove unnecessary values in taskParameter
  src/leadership/process.rs
  src/leadership/schedule.rs
  src/leadership/task.rs
Labels: subsys-consensus

#376 Added a p2p option for listening socket address
  src/network/mod.rs
  src/settings/start/config.rs
  src/settings/start/mod.rs
  src/settings/start/network.rs
Labels: subsys-network

#382 Fragment Pool and Fragment Selection algorithm
  src/blockcfg/mod.rs
  src/blockchain/branch.rs
  src/blockchain/chain.rs
  src/blockchain/tip.rs
  src/fragment/entry.rs
  src/fragment/log.rs
  src/fragment/logs.rs
  src/fragment/mod.rs
  src/fragment/pool.rs
  src/fragment/process.rs
  src/fragment/selection.rs
  src/intercom.rs
  src/leadership/process.rs
  src/leadership/task.rs
  src/main.rs
  src/network/mod.rs
  src/rest/v0/message/mod.rs
  src/transaction/mod.rs
  src/transaction/pool.rs
  src/transaction/process.rs
  src/utils/task.rs
Labels: subsys-transaction

#386 Certificate in transaction
  doc/advanced/01_the_genesis_block.md
  src/bin/jcli_app/block/yaml.rs
  src/bin/jcli_app/transaction/add_certificate.rs
  src/bin/jcli_app/transaction/mod.rs
  src/bin/jcli_app/transaction/staging.rs
Labels: jcli

#384 2 failing tests to uncover issues with transaction
  src/bin/jcli_app/transaction/mk_witness.rs
  tests/common/configuration/genesis_model.rs
  tests/common/jcli_wrapper/jcli_commands.rs
  tests/common/jcli_wrapper/jcli_transaction_wrapper/jcli_transaction_commands.rs
  tests/common/jcli_wrapper/jcli_transaction_wrapper/mod.rs
  tests/common/jcli_wrapper/mod.rs
  tests/common/process_assert.rs
  tests/common/process_utils/mod.rs
  tests/common/startup/configuration_builder.rs
  tests/common/startup/mod.rs
  tests/jcli/transaction/e2e.rs
  tests/jormungandr/start_node.rs
Labels: Priority - High, bug
