Repository input-output-hk/jormungandr, pull requests merged in 2019-12, with the labels that each got.

#1243 properly report error and failures of the terminating service
  jormungandr/src/main.rs
Labels: bug

#1245 don't run test on appveyor PRs
  appveyor.yml
Labels: Tests, build-system: Windows

#1249 don't fail on error in the client task
  jormungandr/src/client.rs
Labels: bug, jörmungandr, subsys-client, subsys-network

#1257 add documentation regarding the stake pool Tax
  doc/stake_pool/registering_stake_pool.md
Labels: doc

#1255 Don't panic on network task error
  jormungandr/src/main.rs
Labels: enhancement, jörmungandr

#1222 Expose resource usage limits on UNIX systems
  Cargo.lock
  doc/openapi.yaml
  jcli/src/jcli_app/rest/v0/diagnostic/mod.rs
  jcli/src/jcli_app/rest/v0/mod.rs
  jormungandr/Cargo.toml
  jormungandr/src/diagnostic.rs
  jormungandr/src/main.rs
  jormungandr/src/rest/mod.rs
  jormungandr/src/rest/v0/handlers.rs
  jormungandr/src/rest/v0/mod.rs
  jormungandr/src/start_up/error.rs
Labels: enhancement, jörmungandr, subsys-rest

#1258 Resolve the ancestor once for chain streaming
  jormungandr/src/blockchain/storage.rs
  jormungandr/src/client.rs
  jormungandr/src/intercom.rs
  jormungandr/src/main.rs
Labels: enhancement, subsys-client

#1264 Yield the task after retrieving each block to send
  jormungandr/src/blockchain/storage.rs
Labels: bug, jörmungandr, subsys-storage

#1265 Add version to REST node stats
  doc/jcli/rest.md
  doc/openapi.yaml
  jormungandr/src/rest/v0/handlers.rs
Labels: enhancement, subsys-rest

#1259 change how to set the reward account in the jcli command line parameter
  jcli/src/jcli_app/certificate/new_stake_pool_registration.rs
Labels: breaking-change, jcli

#1266 Rest node stats REST cert fees
  doc/jcli/rest.md
  doc/openapi.yaml
  jormungandr-lib/src/interfaces/linear_fee.rs
  jormungandr-lib/src/interfaces/settings.rs
  jormungandr/src/rest/v0/handlers.rs
Labels: doc, subsys-rest, technical debt

#1267 fix rlimit builds on different libc impls
  jormungandr/src/diagnostic.rs
Labels: bug

#1277 Don't thrash slow connections in propagation
  jormungandr/src/network/p2p/comm.rs
  jormungandr/src/network/p2p/comm/peer_map.rs
Labels: enhancement, subsys-network

#1279 blockchain: Rework task state
  jormungandr/src/blockchain/mod.rs
  jormungandr/src/blockchain/process.rs
  jormungandr/src/main.rs
Labels: enhancement, subsys-block

#1285 Fragment pool boundaries
  doc/configuration/mempool.md
  jormungandr-integration-tests/src/common/configuration/node_config_model.rs
  jormungandr-integration-tests/src/jormungandr/mempool/mod.rs
  jormungandr-lib/src/interfaces/config/mempool.rs
  jormungandr/src/fragment/logs.rs
  jormungandr/src/fragment/pool.rs
  jormungandr/src/fragment/process.rs
  jormungandr/src/main.rs
Labels: enhancement, jörmungandr, subsys-mempool

#1287 add in more logs in the block event handling
  jormungandr/src/blockchain/process.rs
Labels: enhancement, jörmungandr

#1290 spawn blockchain process to allow for more concurrent action to happen
  jormungandr/src/blockchain/process.rs
Labels: enhancement, jörmungandr, subsys-block

#1292 Spawn client processing in tasks
  jormungandr/src/client.rs
Labels: subsys-client

#1296 prevent panic if the given chain advance is removed from concurrent processing
  jormungandr/src/blockchain/candidate.rs
Labels: bug, jörmungandr, subsys-block

#1300 [Tests] Update node stats dao in jormungandr_lib
  jormungandr-lib/src/interfaces/stats.rs
  jormungandr-scenario-tests/src/test/comm/leader_leader.rs
Labels: Tests

#1291 Add reward and treasury settings to settings REST
  doc/jcli/rest.md
  doc/openapi.yaml
  jormungandr-lib/src/interfaces/mod.rs
  jormungandr-lib/src/interfaces/settings.rs
  jormungandr-lib/src/interfaces/value.rs
  jormungandr/src/rest/v0/handlers.rs
Labels: doc, enhancement, jörmungandr, subsys-rest

#1306 [Tests] sync spending counter with blockchain
  jormungandr-integration-tests/src/common/data/address.rs
  jormungandr-integration-tests/src/common/data/witness.rs
  jormungandr-integration-tests/src/common/jcli_wrapper/jcli_transaction_wrapper/jcli_transaction_commands.rs
  jormungandr-integration-tests/src/common/jcli_wrapper/jcli_transaction_wrapper/mod.rs
  jormungandr-integration-tests/src/networking/testnet.rs
Labels: Tests

#1299 Rest: settings/stats - update and cleanup
  doc/jcli/rest.md
  doc/openapi.yaml
  jormungandr-lib/src/interfaces/settings.rs
  jormungandr-lib/src/interfaces/stats.rs
  jormungandr/src/rest/v0/handlers.rs
Labels: enhancement, jörmungandr, subsys-rest

#1309 prevent invalid addr to be set in the poldercast entry
  Cargo.lock
  jormungandr-integration-tests/Cargo.toml
  jormungandr-scenario-tests/Cargo.toml
  jormungandr/Cargo.toml
Labels: jörmungandr, subsys-network

#1311 dump the data in csv so easier to process on the long run
  jormungandr/src/blockchain/chain.rs
Labels: enhancement, jörmungandr

#1313 Fix jcli doc on tax
  doc/stake_pool/registering_stake_pool.md
  jcli/src/jcli_app/certificate/mod.rs
  jcli/src/jcli_app/certificate/new_stake_pool_registration.rs
Labels: bug, doc

#1318 remove trailing space to be compatible RFC4180
  jormungandr/src/blockchain/chain.rs
Labels: Tests, bug, jörmungandr

#1317 Update registering_stake_pool.md
  doc/stake_pool/registering_stake_pool.md
Labels: doc

#1316 remove duplicated line
  doc/openapi.yaml
Labels: bug, doc, subsys-rest

#1315 jcli key derive - update help messages related to bip32 keys
  jcli/src/jcli_app/key.rs
Labels: doc, enhancement, jcli

#1321 remove extra line in csv dump
  jormungandr/src/blockchain/chain.rs
Labels: bug

#1322 fix open-api document
  doc/openapi.yaml
Labels: bug, doc, subsys-rest

#1324 more fixes in the openapi doc
  doc/openapi.yaml
Labels: doc, subsys-rest

#1329 blockchain: Purge candidate forest from unresolved branches
  jormungandr/src/blockchain/process.rs
  jormungandr/src/main.rs
Labels: bug, enhancement, subsys-network

#1328 create directory if it does not exist
  jormungandr/src/blockchain/chain.rs
Labels: enhancement, jörmungandr

#1331 Add node IPs in REST network stats
  doc/jcli/rest.md
  doc/openapi.yaml
  jormungandr/src/intercom.rs
  jormungandr/src/network/mod.rs
  jormungandr/src/network/p2p/comm.rs
  jormungandr/src/network/p2p/comm/peer_map.rs
  jormungandr/src/rest/v0/handlers.rs
Labels: doc, enhancement, subsys-network, subsys-rest

#1330 [Tests] Rewards integration tests
  jormungandr-integration-tests/src/common/configuration/genesis_model.rs
  jormungandr-integration-tests/src/common/configuration/mod.rs
  jormungandr-integration-tests/src/common/jcli_wrapper/certificate/commands.rs
  jormungandr-integration-tests/src/common/jcli_wrapper/certificate/wrapper.rs
  jormungandr-integration-tests/src/common/jcli_wrapper/jcli_commands.rs
  jormungandr-integration-tests/src/common/jcli_wrapper/mod.rs
  jormungandr-integration-tests/src/common/startup/mod.rs
  jormungandr-integration-tests/src/jcli/certificate/e2e.rs
  jormungandr-integration-tests/src/jormungandr/genesis/mod.rs
  jormungandr-integration-tests/src/jormungandr/genesis/rewards.rs
  jormungandr-integration-tests/src/jormungandr/genesis/stake_pool.rs
  jormungandr-integration-tests/src/jormungandr/genesis/start_node.rs
  jormungandr-lib/src/interfaces/mod.rs
  jormungandr-lib/src/interfaces/settings.rs
  jormungandr-lib/src/interfaces/stake_pool_stats.rs
  jormungandr/src/rest/v0/handlers.rs
Labels: Tests

#1332 Expose Poldercast and Node Quarantine status
  Cargo.lock
  doc/openapi.yaml
  jormungandr/Cargo.toml
  jormungandr/src/main.rs
  jormungandr/src/network/mod.rs
  jormungandr/src/network/p2p/node.rs
  jormungandr/src/network/p2p/topology.rs
  jormungandr/src/rest/mod.rs
  jormungandr/src/rest/v0/handlers.rs
  jormungandr/src/rest/v0/mod.rs
Labels: doc, enhancement, jörmungandr, subsys-network, subsys-rest

#1337 Debug block operation in jcli
  jcli/src/jcli_app/debug/block.rs
  jcli/src/jcli_app/debug/mod.rs
Labels: enhancement, jcli

#1339 [Tests] logging enhancements for Private network tests
  jormungandr-scenario-tests/src/node.rs
  jormungandr-scenario-tests/src/scenario/settings.rs
  jormungandr-scenario-tests/src/test/utils/mod.rs
Labels: Tests

#1343 Get REST node stats from all framents containing TX
  jormungandr/src/rest/v0/handlers.rs
Labels: bug, subsys-rest

#1353 Minor enhancements to network block processing
  jormungandr/src/blockchain/process.rs
  jormungandr/src/network/subscription.rs
Labels: enhancement, subsys-block, subsys-network

#1375 [Tests] fixed non_functional tests compilation issues
  jormungandr-integration-tests/src/non_functional/soak.rs
  jormungandr-integration-tests/src/non_functional/stress.rs
Labels: Tests

#1346 Rework chain pull to be concurrency friendly
  jormungandr/src/blockchain/candidate.rs
  jormungandr/src/blockchain/chain.rs
  jormungandr/src/blockchain/process.rs
  jormungandr/src/main.rs
Labels: subsys-block

#1385 Exclude block 0 from sent branches
  jormungandr/src/blockchain/chain.rs
  jormungandr/src/blockchain/storage.rs
  jormungandr/src/network/bootstrap.rs
  jormungandr/src/start_up/mod.rs
Labels: bug, subsys-client, subsys-storage

#1389 Fix a race condition of header pull with block pull
  jormungandr/src/blockchain/candidate.rs
  jormungandr/src/blockchain/process.rs
Labels: bug, jörmungandr, subsys-block

#1345 remove custom_error
  Cargo.lock
  jcli/Cargo.toml
  jcli/src/jcli_app/address.rs
  jcli/src/jcli_app/auto_completion.rs
  jcli/src/jcli_app/block/mod.rs
  jcli/src/jcli_app/certificate/mod.rs
  jcli/src/jcli_app/debug/block.rs
  jcli/src/jcli_app/debug/message.rs
  jcli/src/jcli_app/debug/mod.rs
  jcli/src/jcli_app/key.rs
  jcli/src/jcli_app/rest/mod.rs
  jcli/src/jcli_app/rest/v0/message/mod.rs
  jcli/src/jcli_app/transaction/mk_witness.rs
  jcli/src/jcli_app/transaction/mod.rs
  jcli/src/jcli_app/transaction/staging.rs
  jcli/src/jcli_app/utils/account_id.rs
  jcli/src/jcli_app/utils/error.rs
  jcli/src/jcli_app/utils/host_addr.rs
  jcli/src/jcli_app/utils/io.rs
  jcli/src/jcli_app/utils/key_parser.rs
  jcli/src/jcli_app/utils/mod.rs
  jcli/src/jcli_app/utils/open_api_verifier.rs
  jcli/src/jcli_app/utils/output_format.rs
  jcli/src/jcli_app/utils/rest_api.rs
  jcli/src/lib.rs
  jcli/src/main.rs
  jormungandr-integration-tests/Cargo.toml
  jormungandr-integration-tests/src/common/jormungandr/logger.rs
  jormungandr-integration-tests/src/common/jormungandr/starter.rs
  jormungandr-integration-tests/src/common/process_utils/mod.rs
  jormungandr-lib/Cargo.toml
  jormungandr-lib/src/crypto/account.rs
  jormungandr-lib/src/interfaces/account_identifier.rs
  jormungandr-lib/src/interfaces/block0_configuration/active_slot_coefficient.rs
  jormungandr-lib/src/interfaces/block0_configuration/initial_config.rs
  jormungandr-lib/src/interfaces/block0_configuration/initial_fragment.rs
  jormungandr-lib/src/interfaces/block0_configuration/kes_update_speed.rs
  jormungandr-lib/src/interfaces/block0_configuration/leader_id.rs
  jormungandr-lib/src/interfaces/block0_configuration/mod.rs
  jormungandr-lib/src/interfaces/block0_configuration/number_of_slots_per_epoch.rs
  jormungandr-lib/src/interfaces/block0_configuration/slots_duration.rs
  jormungandr-lib/src/interfaces/certificate.rs
  jormungandr-lib/src/interfaces/ratio.rs
  jormungandr-lib/src/interfaces/transaction_witness.rs
  jormungandr-lib/src/lib.rs
  jormungandr/Cargo.toml
  jormungandr/src/blockcfg/mod.rs
  jormungandr/src/blockchain/candidate.rs
  jormungandr/src/leadership/process.rs
  jormungandr/src/main.rs
  jormungandr/src/network/mod.rs
  jormungandr/src/secure/mod.rs
  jormungandr/src/settings/start/mod.rs
  jormungandr/src/start_up/error.rs
Labels: cleaning, jcli, jörmungandr, technical debt

#1397 Eliminate duplicates in transactions by address
  jormungandr/src/explorer/mod.rs
Labels: bug, explorer

#1394 handle utxo pointers in the same block
  jormungandr/src/explorer/indexing.rs
Labels: bug, explorer

#1365 Limit concurrent pull requests
  jormungandr/src/blockchain/process.rs
  jormungandr/src/utils/fire_forget_scheduler.rs
  jormungandr/src/utils/mod.rs
Labels: DO NOT MERGE, subsys-block, subsys-network, subsys-threading

#1393 [Tests] Stability fix - Change reward test parameters
  jormungandr-integration-tests/src/jormungandr/genesis/rewards.rs
Labels: Tests

#1405 blockchain: More robust CandidateForest
  jormungandr/src/blockchain/candidate.rs
Labels: bug, subsys-block

#1425 Handle concurrency in CandidateForest::apply_block
  jormungandr/src/blockchain/candidate.rs
  jormungandr/src/blockchain/process.rs
Labels: bug, subsys-block

#1426 Fix block time issue in the REST API and documentation
  doc/openapi.yaml
  jormungandr-integration-tests/src/jormungandr/genesis/rewards.rs
  jormungandr/src/blockchain/branch.rs
  jormungandr/src/blockchain/chain_selection.rs
  jormungandr/src/blockchain/process.rs
  jormungandr/src/blockchain/reference.rs
  jormungandr/src/rest/v0/handlers.rs
  jormungandr/src/stats_counter.rs
Labels: bug, doc, jörmungandr, subsys-consensus, subsys-rest
