Repository input-output-hk/jormungandr, pull requests merged in 2019-02, with the labels that each got.

#120 Rework the network protocol in documentation
  doc/specs/network.md
Labels: subsys-network

#130 Rest API
  .gitignore
  Cargo.lock
  Cargo.toml
  demo/demo-genesis.json
  src/blockchain/process.rs
  src/client.rs
  src/intercom.rs
  src/main.rs
  src/rest/mod.rs
  src/rest/server_service/error.rs
  src/rest/server_service/mod.rs
  src/rest/server_service/server_service.rs
  src/rest/server_service/server_service_builder.rs
  src/rest/v0_node_stats/mod.rs
  src/rest/v0_node_stats/stats_counter.rs
  src/settings/start/config.rs
  src/settings/start/mod.rs
  src/transaction/process.rs
Labels: REST

#132 remove the `o` from the setting as this is slightly not to the point
  src/blockcfg/genesis_data.rs
  src/main.rs
  src/settings/command_arguments.rs
  src/settings/init.rs
Labels: consensus-BFT

#138 Initial utxos
  src/blockcfg/genesis_data.rs
  src/blockchain/chain.rs
Labels: subsys-transaction
