Repository input-output-hk/jormungandr, pull requests merged in 2019-09, with the labels that each got.

#729 Update stats and scenario testing
  doc/openapi.yaml
  jormungandr-lib/src/interfaces/fragment_log.rs
  jormungandr-scenario-tests/src/lib.rs
  jormungandr-scenario-tests/src/main.rs
  jormungandr-scenario-tests/src/node.rs
  jormungandr-scenario-tests/src/scenario/controller.rs
  jormungandr-scenario-tests/src/scenario/mod.rs
  jormungandr-scenario-tests/src/scenario/settings.rs
  jormungandr-scenario-tests/src/wallet/account.rs
  jormungandr-scenario-tests/src/wallet/mod.rs
  jormungandr/src/blockchain/process.rs
  jormungandr/src/rest/v0/handlers.rs
Labels: REST, Tests

#730 Versioning improvements for jcli and jörmungandr
  .github/ISSUE_TEMPLATE/bug_report.md
  Cargo.lock
  jcli/Cargo.toml
  jcli/build.rs
  jcli/src/jcli_app/mod.rs
  jormungandr/Cargo.toml
  jormungandr/build.rs
  jormungandr/src/main.rs
  jormungandr/src/settings/command_arguments.rs
  jormungandr/src/settings/start/mod.rs
Labels: enhancement, jcli, jörmungandr

#733 fix issue with --full-version expecting the --config
  jormungandr/src/leadership/mod.rs
  jormungandr/src/main.rs
  jormungandr/src/settings/command_arguments.rs
  jormungandr/src/settings/start/mod.rs
Labels: jörmungandr, subsys-consensus

#735 Clean up fragment network API docs
  doc/specs/network.md
Labels: doc, subsys-network

#736 make the node use multiaddr for the listen_addr
  doc/configuration/network.md
  doc/quickstart/02_passive_node.md
  jormungandr/src/settings/start/config.rs
  jormungandr/src/settings/start/mod.rs
  jormungandr/src/settings/start/network.rs
Labels: jörmungandr, subsys-network

#737 Fragment process clean up
  jormungandr/src/fragment/logs.rs
  jormungandr/src/fragment/pool.rs
  jormungandr/src/fragment/process.rs
  jormungandr/src/fragment/selection.rs
Labels: subsys-mempool, technical debt

#743 Add stub to process fragment subscription
  jormungandr/src/network/client.rs
  jormungandr/src/network/subscription.rs
Labels: subsys-network

#747 Process fragment subscription on the server side
  jormungandr/src/network/service.rs
Labels: subsys-network

#739 Outline expected schema
  jormungandr/src/explorer/graphql/mod.rs
  jormungandr/src/explorer/mod.rs
Labels: enhancement, explorer

#749 go through the whole list of trusted peers on the network
  jormungandr/src/main.rs
  jormungandr/src/network/mod.rs
  jormungandr/src/settings/start/config.rs
Labels: subsys-network

#751 explicit compilation of the node and jcli
  ci/script.sh
Labels: Tests

#750 make sure we don't build the integration tests dependencies unless needed
  jormungandr-integration-tests/Cargo.toml
  jormungandr-integration-tests/src/lib.rs
Labels: technical debt

#753 add missing break in the bootstrap function
  jormungandr/src/network/mod.rs
Labels: bug, subsys-network

#755 Offer content service on the server Node
  jormungandr/src/network/service.rs
Labels: subsys-network

#757 Remove Id from the poldercast gossiping
  Cargo.lock
  doc/configuration/introduction.md
  doc/configuration/network.md
  doc/quickstart/02_passive_node.md
  jormungandr-integration-tests/Cargo.toml
  jormungandr-integration-tests/src/common/configuration/node_config_model.rs
  jormungandr-integration-tests/src/common/startup/configuration_builder.rs
  jormungandr-integration-tests/src/jormungandr/bft/start_node.rs
  jormungandr-integration-tests/src/networking/communication.rs
  jormungandr-scenario-tests/Cargo.toml
  jormungandr-scenario-tests/src/scenario/context.rs
  jormungandr-scenario-tests/src/scenario/settings.rs
  jormungandr/Cargo.toml
  jormungandr/src/network/client.rs
  jormungandr/src/network/mod.rs
  jormungandr/src/network/p2p/topology.rs
  jormungandr/src/settings/start/config.rs
  jormungandr/src/settings/start/network.rs
Labels: breaking-change, subsys-network

#758 [Documentation] Remove public_id from docs
  doc/configuration/network.md
  doc/quickstart/02_passive_node.md
Labels: doc

#762 config cleanup and validation
  jormungandr/src/settings/start/config.rs
  jormungandr/src/settings/start/mod.rs
  jormungandr/src/settings/start/network.rs
Labels: breaking-change, jörmungandr

#731 Openapi lvl4
  Cargo.lock
  jcli/Cargo.toml
  jcli/src/jcli_app/utils/open_api_verifier.rs
  jcli/src/main.rs
Labels: REST, Tests, doc

#761 Restore logs check
  jormungandr/src/fragment/logs.rs
  jormungandr/src/fragment/pool.rs
  jormungandr/src/fragment/process.rs
Labels: subsys-mempool

#764 Small update to improve perf and memory usage of blockchain cache
  jormungandr/src/blockchain/branch.rs
  jormungandr/src/blockchain/chain.rs
  jormungandr/src/blockchain/process.rs
  jormungandr/src/blockchain/reference_cache.rs
  jormungandr/src/blockchain/storage.rs
  jormungandr/src/network/bootstrap.rs
  jormungandr/src/rest/v0/handlers.rs
Labels: Priority - High, subsys-block

#767 provide better checkpoints than before
  jormungandr/src/blockchain/chain.rs
  jormungandr/src/blockchain/checkpoints.rs
  jormungandr/src/blockchain/mod.rs
  jormungandr/src/intercom.rs
  jormungandr/src/network/mod.rs
Labels: subsys-block, subsys-network

#770 remove pre-jormungandr configs
  jormungandr/src/settings/start/config.rs
Labels: jörmungandr, technical debt

#772 Fall back to block 0 when no starting checkpoints match
  jormungandr/src/client.rs
  jormungandr/src/main.rs
Labels: subsys-client

#773 make sure we keep up to date the right branches on the different network
  jormungandr/src/blockcfg/mod.rs
  jormungandr/src/blockchain/branch.rs
  jormungandr/src/blockchain/chain.rs
  jormungandr/src/blockchain/chain_selection.rs
  jormungandr/src/blockchain/mod.rs
  jormungandr/src/blockchain/process.rs
  jormungandr/src/blockchain/tip.rs
  jormungandr/src/client.rs
  jormungandr/src/leadership/mod.rs
  jormungandr/src/main.rs
  jormungandr/src/network/bootstrap.rs
  jormungandr/src/network/mod.rs
  jormungandr/src/rest/mod.rs
  jormungandr/src/start_up/mod.rs
Labels: enhancement, jörmungandr, subsys-block

#777 Less scary connection error logging
  jormungandr/src/network/grpc/server.rs
Labels: jörmungandr, subsys-logging, subsys-network

#784 Link network fragment subscription with fragment pool
  jormungandr/src/fragment/pool.rs
  jormungandr/src/fragment/process.rs
  jormungandr/src/main.rs
  jormungandr/src/network/client.rs
  jormungandr/src/network/service.rs
  jormungandr/src/network/subscription.rs
Labels: enhancement, subsys-mempool, subsys-network

#789 Improve processing of inbound subscription streams
  jormungandr/src/network/subscription.rs
Labels: subsys-network

#779 add network informations
  doc/SUMMARY.md
  doc/concepts/network.md
  doc/concepts/node.md
Labels: doc, subsys-network

#790 Make sure the TIP's tag is updated in the storage too
  jormungandr/src/blockchain/chain.rs
  jormungandr/src/blockchain/mod.rs
  jormungandr/src/blockchain/process.rs
  jormungandr/src/network/bootstrap.rs
Labels: bug, jörmungandr, subsys-block

#794 fix silly bug in the checkpoint
  jormungandr/src/blockchain/checkpoints.rs
Labels: Priority - High, bug

#798 Remove fragments added to block from fragment pool V1
  jormungandr/src/blockchain/process.rs
  jormungandr/src/fragment/logs.rs
  jormungandr/src/fragment/pool.rs
  jormungandr/src/fragment/process.rs
  jormungandr/src/intercom.rs
  jormungandr/src/main.rs
Labels: enhancement, subsys-block, subsys-mempool

#800 Allow non reachable nodes, use actual interests and fix in mempool's logs
  Cargo.lock
  jormungandr-integration-tests/Cargo.toml
  jormungandr-scenario-tests/Cargo.toml
  jormungandr/Cargo.toml
  jormungandr/src/fragment/logs.rs
  jormungandr/src/network/mod.rs
  jormungandr/src/network/p2p/topology.rs
Labels: enhancement, jörmungandr, subsys-network

#805 Get the trusted peer list from the CLI and make `--config` optional
  jormungandr/src/network/mod.rs
  jormungandr/src/settings/command_arguments.rs
  jormungandr/src/settings/start/config.rs
  jormungandr/src/settings/start/mod.rs
Labels: Priority - High, jörmungandr, subsys-network

#801 only update the block counter once the block has been validated
  jormungandr/src/blockchain/process.rs
Labels: REST, jörmungandr

#804 Fix URI formatting for IPv6 addresses
  jormungandr/src/network/grpc/client.rs
Labels: subsys-network

#807 reduce the error level when peers have invalid addresses
  jormungandr/src/network/client.rs
Labels: subsys-network

#811 Make bump_peer_for_block_fetch miss non-fatal
  jormungandr/src/network/p2p/comm/peer_map.rs
Labels: subsys-network

#771 Use imhamt and multiverse in explorer
  Cargo.lock
  jormungandr/Cargo.toml
  jormungandr/src/blockchain/process.rs
  jormungandr/src/explorer/error.rs
  jormungandr/src/explorer/graphql/error.rs
  jormungandr/src/explorer/graphql/mod.rs
  jormungandr/src/explorer/indexing.rs
  jormungandr/src/explorer/mod.rs
  jormungandr/src/explorer/set.rs
  jormungandr/src/intercom.rs
  jormungandr/src/main.rs
  jormungandr/src/start_up/error.rs
Labels: enhancement, explorer, jörmungandr

#831 Try trusted peers in random order
  jormungandr/src/network/grpc/client.rs
  jormungandr/src/network/grpc/mod.rs
  jormungandr/src/network/mod.rs
Labels: enhancement, subsys-network

#830 general cleanup and display better error messages
  jormungandr/src/main.rs
  jormungandr/src/network/mod.rs
  jormungandr/src/settings/start/config.rs
  jormungandr/src/settings/start/mod.rs
Labels: enhancement, jörmungandr

#810 Filter private addresses from gossip
  jormungandr/src/network/p2p/topology.rs
  jormungandr/src/network/subscription.rs
  jormungandr/src/settings/start/config.rs
  jormungandr/src/settings/start/mod.rs
  jormungandr/src/settings/start/network.rs
Labels: enhancement, subsys-network

#835 set the slot start time to the correct value
  jormungandr/src/stats_counter.rs
Labels: REST, jörmungandr

#841 Fix peer map pointer update bug
  jormungandr/src/network/p2p/comm/peer_map.rs
Labels: bug, subsys-network

#838 JCLI: management_threshold validity
  jcli/src/jcli_app/certificate/mod.rs
  jcli/src/jcli_app/certificate/new_stake_pool_registration.rs
Labels: enhancement, jcli

#845 Lower bootstrap error log level to warnings
  jormungandr/src/network/mod.rs
Labels: subsys-network

#847 some cleanup for future releases
  jcli/Cargo.toml
  jormungandr-integration-tests/Cargo.toml
  jormungandr-lib/Cargo.toml
  jormungandr-scenario-tests/Cargo.toml
  jormungandr/Cargo.toml
  jormungandr/src/network/mod.rs
Labels: doc

#848 don't use all the trusted peers unless it is actually necessary
  jormungandr/src/network/p2p/topology.rs
Labels: enhancement, subsys-network

#809 Add quickstart explorer documentation page
  doc/SUMMARY.md
  doc/quickstart/02_passive_node.md
  doc/quickstart/04_explorer.md
  doc/quickstart/05_leader_candidate.md
Labels: doc, explorer

#862 Evict p2p peers after a failed client connection
  Cargo.lock
  jormungandr/Cargo.toml
  jormungandr/src/network/mod.rs
  jormungandr/src/network/p2p/comm.rs
  jormungandr/src/network/p2p/comm/peer_map.rs
  jormungandr/src/network/p2p/topology.rs
Labels: enhancement, subsys-network

#866 update poldercast to 0.7.1
  Cargo.lock
  jormungandr/Cargo.toml
Labels: bug, subsys-network
