Repository input-output-hk/jormungandr, pull requests merged in 2019-06, with the labels that each got.

#428 add current date so users are not suprised with very large epoch start
  scripts/stakepool-single-node-test
Labels: Tests

#429 update doc
  doc/advanced/02_starting_bft_blockchain.md
Labels: doc

#459 Add a full transaction creation and sending example to the docs
  doc/jcli/transaction.md
Labels: doc

#488 replace invalid TransactionId
  jcli/src/jcli_app/transaction/info.rs
  jcli/src/jcli_app/transaction/mod.rs
  jcli/src/jcli_app/transaction/staging.rs
Labels: jcli

#521 Update introduction.md
  doc/introduction.md
Labels: doc

#522 Unify jormungandr API Types to allow better reusability
  Cargo.lock
  Cargo.toml
  jormungandr-integration-tests/Cargo.toml
  jormungandr-integration-tests/src/common/data/message_log.rs
  jormungandr-integration-tests/src/common/data/mod.rs
  jormungandr-integration-tests/src/common/jcli_wrapper/mod.rs
  jormungandr-lib/Cargo.toml
  jormungandr-lib/src/crypto/account.rs
  jormungandr-lib/src/crypto/hash.rs
  jormungandr-lib/src/crypto/key.rs
  jormungandr-lib/src/crypto/mod.rs
  jormungandr-lib/src/crypto/serde.rs
  jormungandr-lib/src/interfaces/blockdate.rs
  jormungandr-lib/src/interfaces/fragment_log.rs
  jormungandr-lib/src/interfaces/mod.rs
  jormungandr-lib/src/lib.rs
  jormungandr-lib/src/time.rs
  jormungandr/Cargo.toml
  jormungandr/src/fragment/log.rs
  jormungandr/src/fragment/logs.rs
  jormungandr/src/fragment/mod.rs
  jormungandr/src/fragment/pool.rs
  jormungandr/src/fragment/selection.rs
  jormungandr/src/intercom.rs
  jormungandr/src/main.rs
  jormungandr/src/rest/v0/message/post.rs
Labels: Tests

#524 Documentation update
  README.md
  doc/SUMMARY.md
  doc/advanced/introduction.md
  doc/concepts/node.md
  doc/configuration/introduction.md
  doc/configuration/logging.md
  doc/configuration/network.md
Labels: doc

#528 provide more details on the error if available
  jormungandr/src/fragment/selection.rs
Labels: subsys-transaction

#426 New corner cases for transaction module
  jormungandr-integration-tests/src/common/jcli_wrapper/jcli_transaction_wrapper/mod.rs
  jormungandr-integration-tests/src/jcli/transaction/add_account.rs
  jormungandr-integration-tests/src/jcli/transaction/finalize.rs
  jormungandr-integration-tests/src/jcli/transaction/id.rs
  jormungandr-integration-tests/src/jcli/transaction/mod.rs
  jormungandr-integration-tests/src/jcli/transaction/new.rs
  jormungandr-integration-tests/src/jcli/transaction/output.rs
  jormungandr-integration-tests/src/jcli/transaction/seal.rs
  jormungandr-integration-tests/src/jcli/transaction/witness.rs
Labels: Tests

#531 Revert "New corner cases for transaction module"
  jormungandr-integration-tests/src/common/jcli_wrapper/jcli_transaction_wrapper/mod.rs
  jormungandr-integration-tests/src/jcli/transaction/add_account.rs
  jormungandr-integration-tests/src/jcli/transaction/finalize.rs
  jormungandr-integration-tests/src/jcli/transaction/id.rs
  jormungandr-integration-tests/src/jcli/transaction/mod.rs
  jormungandr-integration-tests/src/jcli/transaction/new.rs
  jormungandr-integration-tests/src/jcli/transaction/output.rs
  jormungandr-integration-tests/src/jcli/transaction/seal.rs
  jormungandr-integration-tests/src/jcli/transaction/witness.rs
Labels: Tests

#526 Fix for soak test after #522
  jormungandr-integration-tests/Cargo.toml
  jormungandr-integration-tests/src/non_functional/soak.rs
Labels: Tests

#532 account state for both jormungandr, jcli and tests
  doc/jcli/rest.md
  jormungandr-integration-tests/src/common/jcli_wrapper/mod.rs
  jormungandr-lib/src/crypto/key.rs
  jormungandr-lib/src/interfaces/account_state.rs
  jormungandr-lib/src/interfaces/address.rs
  jormungandr-lib/src/interfaces/mod.rs
  jormungandr-lib/src/interfaces/value.rs
  jormungandr/src/rest/v0/account/mod.rs
  scripts/create-account-and-delegate.shtempl
Labels: subsys-transaction

#537 fix the path to the default genesis block in the documentation
  doc/advanced/01_the_genesis_block.md
Labels: doc

#534 add hex-crate to replace cardano::util::hex
  Cargo.lock
  Cargo.toml
  hex/Cargo.toml
  hex/src/lib.rs
  jcli/Cargo.toml
  jcli/src/jcli_app/debug/message.rs
  jcli/src/jcli_app/debug/mod.rs
  jcli/src/jcli_app/key.rs
  jcli/src/jcli_app/rest/v0/block/next_id.rs
  jcli/src/jcli_app/rest/v0/block/subcommand.rs
  jcli/src/jcli_app/rest/v0/message/mod.rs
  jcli/src/jcli_app/transaction/mod.rs
  jcli/src/jcli_app/utils/account_id.rs
  jcli/src/jcli_app/utils/rest_api.rs
  jcli/src/main.rs
  jormungandr/Cargo.toml
  jormungandr/src/main.rs
  jormungandr/src/rest/v0/utxo/utxo.rs
  testing/mjolnir/Cargo.toml
  testing/mjolnir/src/lib.rs
Labels: technical debt

#539 ignore unstable test
  jormungandr-integration-tests/src/networking/communication.rs
Labels: Tests, subsys-network

#483 Test stability fix for transaction test cases
  jormungandr-integration-tests/src/common/configuration/genesis_model.rs
  jormungandr-integration-tests/src/common/jcli_wrapper/jcli_transaction_wrapper/jcli_transaction_commands.rs
  jormungandr-integration-tests/src/common/jcli_wrapper/jcli_transaction_wrapper/mod.rs
  jormungandr-integration-tests/src/common/jcli_wrapper/mod.rs
  jormungandr-integration-tests/src/common/startup/configuration_builder.rs
  jormungandr-integration-tests/src/jcli/transaction/e2e.rs
  jormungandr-integration-tests/src/jormungandr/genesis/start_node.rs
Labels: Tests

#543 UTxO Info as a common interface between jcli, jormungandr and the tests
  jormungandr-integration-tests/src/common/configuration/genesis_model.rs
  jormungandr-integration-tests/src/common/data/mod.rs
  jormungandr-integration-tests/src/common/data/utxo.rs
  jormungandr-integration-tests/src/common/jcli_wrapper/jcli_commands.rs
  jormungandr-integration-tests/src/common/jcli_wrapper/jcli_transaction_wrapper/jcli_transaction_commands.rs
  jormungandr-integration-tests/src/common/jcli_wrapper/jcli_transaction_wrapper/mod.rs
  jormungandr-integration-tests/src/common/jcli_wrapper/mod.rs
  jormungandr-integration-tests/src/common/startup/mod.rs
  jormungandr-integration-tests/src/jcli/genesis/encode.rs
  jormungandr-integration-tests/src/jcli/rest/utxo.rs
  jormungandr-integration-tests/src/jcli/transaction/e2e.rs
  jormungandr-integration-tests/src/jcli/transaction/finalize.rs
  jormungandr-integration-tests/src/jcli/transaction/input.rs
  jormungandr-integration-tests/src/jormungandr/genesis/start_node.rs
  jormungandr-integration-tests/src/lib.rs
  jormungandr-integration-tests/src/networking/communication.rs
  jormungandr-integration-tests/src/non_functional/soak.rs
  jormungandr-lib/src/interfaces/account_state.rs
  jormungandr-lib/src/interfaces/mod.rs
  jormungandr-lib/src/interfaces/utxo_info.rs
  jormungandr-lib/src/interfaces/value.rs
  jormungandr/src/rest/v0/utxo/mod.rs
  jormungandr/src/rest/v0/utxo/utxo.rs
Labels: Tests

#547 add more documentation
  book.toml
  doc/SUMMARY.md
  doc/concepts/blockchain.md
  doc/concepts/stake.md
  doc/stake_pool/delegating_stake.md
  doc/stake_pool/registering_stake.md
Labels: doc

#557 mark gelf as optional feature
  jormungandr/Cargo.toml
  jormungandr/src/main.rs
  jormungandr/src/settings/logging.rs
Labels: dependencies

#584 experiment with changelog generation
  .github_changelog_generator
  CHANGELOG.md
Labels: build-system

#574 Improve GELF logging backend configuration
  doc/quickstart/02_passive_node.md
  jormungandr/src/settings/command_arguments.rs
  jormungandr/src/settings/logging.rs
  jormungandr/src/settings/start/config.rs
  jormungandr/src/settings/start/mod.rs
Labels: subsys-logging

#583 Fix multi output funds support in genesis yaml file
  doc/advanced/01_the_genesis_block.md
  doc/advanced/02_starting_bft_blockchain.md
  jcli/src/jcli_app/block/yaml.rs
  jormungandr-integration-tests/src/common/configuration/genesis_model.rs
  jormungandr-integration-tests/src/common/startup/configuration_builder.rs
  jormungandr-integration-tests/src/jcli/genesis/encode.rs
  jormungandr-lib/src/interfaces/block0_configuration/DOCUMENTED_EXAMPLE.yaml
  jormungandr-lib/src/interfaces/block0_configuration/initial_fragment.rs
  scripts/bootstrap
  scripts/bootstrap.ps1
Labels: breaking-change

#587 More logging improvements; add output to stdout
  doc/configuration/logging.md
  doc/quickstart/02_passive_node.md
  jormungandr/src/log/json_drain.rs
  jormungandr/src/log/mod.rs
  jormungandr/src/main.rs
  jormungandr/src/settings/command_arguments.rs
  jormungandr/src/settings/logging.rs
Labels: enhancement, subsys-logging, technical debt

#588 More graceful error handling in blockchain task
  jormungandr/src/blockchain/process.rs
  jormungandr/src/main.rs
Labels: enhancement, subsys-block

#582 Add notes on protobuf and C compilers to the install steps
  README.md
Labels: doc

#593 REST refactoring and simplification
  doc/advanced/02_starting_bft_blockchain.md
  doc/configuration/network.md
  doc/quickstart/02_passive_node.md
  doc/quickstart/03_rest_api.md
  jormungandr-integration-tests/src/common/configuration/node_config_model.rs
  jormungandr/src/blockchain/process.rs
  jormungandr/src/fragment/process.rs
  jormungandr/src/main.rs
  jormungandr/src/rest/mod.rs
  jormungandr/src/rest/server/mod.rs
  jormungandr/src/rest/server/server_builder.rs
  jormungandr/src/rest/v0/account/mod.rs
  jormungandr/src/rest/v0/block/mod.rs
  jormungandr/src/rest/v0/block/next_id.rs
  jormungandr/src/rest/v0/handlers.rs
  jormungandr/src/rest/v0/message/logs.rs
  jormungandr/src/rest/v0/message/mod.rs
  jormungandr/src/rest/v0/message/post.rs
  jormungandr/src/rest/v0/mod.rs
  jormungandr/src/rest/v0/node/mod.rs
  jormungandr/src/rest/v0/node/stats/mod.rs
  jormungandr/src/rest/v0/tip/mod.rs
  jormungandr/src/rest/v0/utxo/mod.rs
  jormungandr/src/settings/start/config.rs
  jormungandr/src/stats_counter.rs
  scripts/bootstrap
  scripts/bootstrap.ps1
Labels: REST, breaking-change, technical debt
