Repository input-output-hk/jormungandr, pull requests merged in 2019-10, with the labels that each got.

#870 Eliminate a panic on block task message box
  jormungandr/src/network/client.rs
  jormungandr/src/network/subscription.rs
Labels: subsys-network

#874 be more liberal with the node's resources and trust default values
  jormungandr/src/utils/task.rs
Labels: enhancement, jörmungandr

#876 Don't panic when intercom reply is cancelled
  jormungandr/src/client.rs
  jormungandr/src/intercom.rs
Labels: bug, jörmungandr, subsys-network

#880 add more logging information and comfort for users
  jormungandr/src/blockchain/process.rs
Labels: enhancement, jörmungandr, subsys-block

#878 Add certificate query for transaction
  jormungandr/src/explorer/graphql/mod.rs
  jormungandr/src/explorer/graphql/scalars.rs
  jormungandr/src/explorer/indexing.rs
  jormungandr/src/explorer/mod.rs
Labels: enhancement, explorer

#891 Network improvements: less noisy logging, evict peers more actively
  jormungandr/src/network/client.rs
  jormungandr/src/network/p2p/comm.rs
Labels: subsys-network

#890 Implement connection limit
  Cargo.lock
  doc/configuration/network.md
  doc/quickstart/02_passive_node.md
  jormungandr/Cargo.toml
  jormungandr/src/main.rs
  jormungandr/src/network/client.rs
  jormungandr/src/network/mod.rs
  jormungandr/src/network/p2p/comm.rs
  jormungandr/src/network/p2p/comm/peer_map.rs
  jormungandr/src/network/service.rs
  jormungandr/src/network/subscription.rs
  jormungandr/src/settings/start/config.rs
  jormungandr/src/settings/start/mod.rs
  jormungandr/src/settings/start/network.rs
Labels: subsys-network

#892 Log termination of P2P connections
  jormungandr/src/network/client.rs
  jormungandr/src/network/grpc/server.rs
  jormungandr/src/network/mod.rs
Labels: subsys-network

#889 Add paginated blocks query as a BlockConnection
  jormungandr/src/explorer/graphql/connections.rs
  jormungandr/src/explorer/graphql/error.rs
  jormungandr/src/explorer/graphql/mod.rs
  jormungandr/src/explorer/mod.rs
Labels: enhancement, explorer

#898 bump our full version generator library to include the proper target ARCH and OS
  Cargo.lock
  jcli/Cargo.toml
  jormungandr/Cargo.toml
Labels: jcli, jörmungandr, packaging

#899 Fix panic on short-lived incoming connections
  jormungandr/src/network/grpc/server.rs
Labels: enhancement, jörmungandr, subsys-network

#894 Return HTTP 400 from next_id when block is not in tip chain
  doc/openapi.yaml
  jormungandr/src/blockchain/storage.rs
  jormungandr/src/rest/v0/handlers.rs
Labels: REST, bug, jcli

#901 Handle listening error in run_listen_socket
  jormungandr/src/network/grpc/server.rs
Labels: subsys-network

#902 Fix Cargo.lock after release
  Cargo.lock
Labels: build-system

#903 make sure the lock is always up to date
  .circleci/config.yml
Labels: Tests, build-system

#904 Fix end and start cursors in block connection
  jormungandr/src/explorer/graphql/connections.rs
Labels: bug, explorer

#909 Put a hard limit on incoming p2p connections
  Cargo.lock
  jormungandr/Cargo.toml
  jormungandr/src/main.rs
  jormungandr/src/network/grpc/server.rs
Labels: enhancement, subsys-network

#910 JCLI: transaction info - remove args positionality
  jcli/src/jcli_app/transaction/info.rs
Labels: breaking-change, enhancement, jcli

#912 Fix REST server panic when get_block_id gets nonexistent block ID
  jormungandr/src/rest/v0/handlers.rs
Labels: REST, bug, enhancement

#911 Make network task startup fail on listen failure
  jormungandr-integration-tests/src/common/jormungandr/starter.rs
  jormungandr-integration-tests/src/jormungandr/recovery.rs
  jormungandr/src/main.rs
  jormungandr/src/network/client.rs
  jormungandr/src/network/grpc/server.rs
  jormungandr/src/network/mod.rs
  jormungandr/src/network/subscription.rs
  jormungandr/src/utils/task.rs
Labels: subsys-network

#921 Per-peer statistics on items received via subscription channels
  jormungandr/src/intercom.rs
  jormungandr/src/network/client.rs
  jormungandr/src/network/mod.rs
  jormungandr/src/network/p2p/comm.rs
  jormungandr/src/network/p2p/comm/peer_map.rs
  jormungandr/src/network/service.rs
  jormungandr/src/network/subscription.rs
Labels: subsys-network

#925 Add --rest-listen-address Jormungandr CLI arg
  jormungandr/src/settings/command_arguments.rs
  jormungandr/src/settings/start/mod.rs
Labels: REST, enhancement, jörmungandr

#926 Fix node that do not sync when no Public Address is set
  Cargo.lock
  doc/configuration/introduction.md
  doc/configuration/network.md
  doc/quickstart/02_passive_node.md
  jormungandr-integration-tests/src/common/configuration/jormungandr_config.rs
  jormungandr-integration-tests/src/common/configuration/node_config_model.rs
  jormungandr-integration-tests/src/common/startup/configuration_builder.rs
  jormungandr-integration-tests/src/jormungandr/bft/start_node.rs
  jormungandr-integration-tests/src/networking/communication.rs
  jormungandr-scenario-tests/src/scenario/settings.rs
  jormungandr/Cargo.toml
  jormungandr/src/main.rs
  jormungandr/src/network/client.rs
  jormungandr/src/network/grpc/mod.rs
  jormungandr/src/network/mod.rs
  jormungandr/src/network/p2p/comm.rs
  jormungandr/src/network/p2p/topology.rs
  jormungandr/src/network/service.rs
  jormungandr/src/network/subscription.rs
  jormungandr/src/settings/command_arguments.rs
  jormungandr/src/settings/start/config.rs
  jormungandr/src/settings/start/mod.rs
  jormungandr/src/settings/start/network.rs
Labels: breaking-change, jörmungandr, subsys-network

#929 add cargo audit in our circle ci jobs
  .circleci/config.yml
Labels: Priority - Medium, security

#928 update dependencies
  Cargo.lock
Labels: Priority - Low

#931 Fix and improvements in the fragment logs handling
  doc/jcli/transaction.md
  doc/openapi.yaml
  jormungandr-lib/src/crypto/hash.rs
  jormungandr-lib/src/interfaces/block0_configuration/mod.rs
  jormungandr-lib/src/interfaces/fragment_log.rs
  jormungandr-scenario-tests/src/node.rs
  jormungandr/src/blockchain/process.rs
  jormungandr/src/fragment/logs.rs
  jormungandr/src/fragment/pool.rs
  jormungandr/src/fragment/process.rs
  jormungandr/src/fragment/selection.rs
  jormungandr/src/intercom.rs
Labels: bug, enhancement, jörmungandr, subsys-mempool

#933 dropping *BSD builds
  .travis.yml
Labels: build-system, technical debt

#934 Don't advise build from master but from latest release tag.
  README.md
Labels: doc

#939 Network stats
  doc/jcli/rest.md
  doc/openapi.yaml
  jcli/src/jcli_app/rest/v0/mod.rs
  jcli/src/jcli_app/rest/v0/network/mod.rs
  jcli/src/jcli_app/rest/v0/network/stats.rs
  jormungandr/src/main.rs
  jormungandr/src/network/p2p/comm.rs
  jormungandr/src/rest/mod.rs
  jormungandr/src/rest/v0/handlers.rs
  jormungandr/src/rest/v0/mod.rs
Labels: REST, doc, enhancement, jcli, subsys-network

#937 general code improvements
  jormungandr/src/blockchain/chain_selection.rs
  jormungandr/src/blockchain/process.rs
  jormungandr/src/fragment/pool.rs
  jormungandr/src/leadership/mod.rs
  jormungandr/src/network/p2p/comm.rs
  jormungandr/src/settings/start/mod.rs
Labels: jörmungandr, technical debt

#938 add PeerStats's creation time
  doc/jcli/rest.md
  doc/openapi.yaml
  jormungandr/src/network/p2p/comm.rs
  jormungandr/src/rest/v0/handlers.rs
Labels: subsys-network

#940 Reuse pending client connections
  jormungandr/src/network/client.rs
  jormungandr/src/network/mod.rs
  jormungandr/src/network/p2p/comm.rs
Labels: subsys-network

#946 make the trusted peer list more random
  jormungandr/src/network/p2p/topology.rs
Labels: enhancement, jörmungandr, subsys-network

#949 treat the network blocks just like every other blocks even at bootstrap
  jormungandr/src/blockchain/mod.rs
  jormungandr/src/main.rs
  jormungandr/src/network/bootstrap.rs
Labels: enhancement, jörmungandr, subsys-network

#977 Start REST server before bootstrap
  jormungandr/src/main.rs
  jormungandr/src/rest/explorer/handlers.rs
  jormungandr/src/rest/mod.rs
  jormungandr/src/rest/v0/handlers.rs
  jormungandr/src/rest/v0/mod.rs
Labels: REST, enhancement

#984 Update longest chain only after successful insert
  jormungandr/src/explorer/mod.rs
Labels: bug, explorer

#959 doc: private_id is optional, used for trusted peers
  doc/configuration/network.md
Labels: doc

#985 network: Get rid of DefaultExecutor
  jormungandr/src/network/bootstrap.rs
  jormungandr/src/network/client/connect.rs
  jormungandr/src/network/grpc/client.rs
  jormungandr/src/network/grpc/mod.rs
  jormungandr/src/network/mod.rs
  jormungandr/src/network/p2p/comm.rs
  jormungandr/src/start_up/mod.rs
Labels: enhancement, subsys-network

#986 Add node state to REST node stats
  doc/jcli/rest.md
  doc/openapi.yaml
  jormungandr/src/main.rs
  jormungandr/src/rest/mod.rs
  jormungandr/src/rest/v0/handlers.rs
Labels: REST, doc, enhancement

#960 Add block search by stake pool
  jormungandr/src/explorer/graphql/connections.rs
  jormungandr/src/explorer/graphql/mod.rs
  jormungandr/src/explorer/indexing.rs
  jormungandr/src/explorer/mod.rs
Labels: enhancement, explorer

#992 Fix busy looping in connect
  jormungandr/src/network/client/connect.rs
Labels: subsys-network

#994 Fix a hangup in network client polling
  jormungandr/src/log/mod.rs
  jormungandr/src/log/stream.rs
  jormungandr/src/network/client/mod.rs
  jormungandr/src/network/service.rs
Labels: bug, subsys-network

#983 [Tests] Stability fix for test net e2e test
  jormungandr-integration-tests/src/common/jormungandr/logger.rs
  jormungandr-integration-tests/src/common/jormungandr/starter.rs
  jormungandr-integration-tests/src/networking/testnet.rs
Labels: Tests

#1010 network: Rewrite the client state machine
  jormungandr/src/network/client/connect.rs
  jormungandr/src/network/client/mod.rs
  jormungandr/src/network/mod.rs
  jormungandr/src/network/service.rs
  jormungandr/src/network/subscription.rs
Labels: subsys-network

#1004 [Tests] Jormungandr starter refactor
  jormungandr-integration-tests/src/common/jcli_wrapper/certificate/wrapper.rs
  jormungandr-integration-tests/src/common/jormungandr/commands.rs
  jormungandr-integration-tests/src/common/jormungandr/configuration_builder.rs
  jormungandr-integration-tests/src/common/jormungandr/mod.rs
  jormungandr-integration-tests/src/common/jormungandr/process.rs
  jormungandr-integration-tests/src/common/jormungandr/starter.rs
  jormungandr-integration-tests/src/common/process_utils/output_extensions.rs
  jormungandr-integration-tests/src/common/startup/mod.rs
  jormungandr-integration-tests/src/jcli/rest/block.rs
  jormungandr-integration-tests/src/jcli/rest/tip.rs
  jormungandr-integration-tests/src/jcli/rest/utxo.rs
  jormungandr-integration-tests/src/jcli/transaction/e2e.rs
  jormungandr-integration-tests/src/jormungandr/bft/start_node.rs
  jormungandr-integration-tests/src/jormungandr/genesis/stake_pool.rs
  jormungandr-integration-tests/src/jormungandr/genesis/start_node.rs
  jormungandr-integration-tests/src/jormungandr/recovery.rs
  jormungandr-integration-tests/src/networking/communication.rs
  jormungandr-integration-tests/src/networking/testnet.rs
Labels: Tests

#1012 Fix initial leader event schedule
  jormungandr/src/blockchain/chain.rs
  jormungandr/src/start_up/mod.rs
Labels: bug

#914 [Tests] Extract common folder from test configuration
  Cargo.lock
  jormungandr-integration-tests/Cargo.toml
  jormungandr-integration-tests/src/lib.rs
Labels: Tests

#1014 Logging improvements in the network task
  Cargo.lock
  jormungandr/src/log/stream.rs
  jormungandr/src/network/client/mod.rs
  jormungandr/src/network/grpc/server.rs
  jormungandr/src/network/mod.rs
  jormungandr/src/network/p2p/comm.rs
  jormungandr/src/network/p2p/topology.rs
  jormungandr/src/network/service.rs
  jormungandr/src/network/subscription.rs
Labels: subsys-logging, subsys-network

#1015 [Tests] Grpc mock
  jormungandr-integration-tests/build.rs
  jormungandr-integration-tests/src/bin/mock_client_app.rs
  jormungandr-integration-tests/src/bin/mock_server_app.rs
  jormungandr-integration-tests/src/lib.rs
  jormungandr-integration-tests/src/mock/client.rs
  jormungandr-integration-tests/src/mock/convert/mod.rs
  jormungandr-integration-tests/src/mock/mod.rs
  jormungandr-integration-tests/src/mock/proto/mod.rs
  jormungandr-integration-tests/src/mock/proto/node.rs
  jormungandr-integration-tests/src/mock/proto/node_grpc.rs
  jormungandr-integration-tests/src/mock/server.rs
Labels: Tests

#1019 Safeguards against connecting to self
  jormungandr/src/network/mod.rs
Labels: subsys-network

#1029 [Tests] Extract trusted peers definition outside script into env var
  jormungandr-integration-tests/src/networking/testnet.rs
Labels: Tests

#1032 [Tests] Testnet testcase fix
  jormungandr-integration-tests/src/jormungandr/genesis/stake_pool.rs
Labels: Tests

#1022 Add JCLI sign and verify tools
  doc/jcli/key.md
  jcli/src/jcli_app/key.rs
  jcli/src/lib.rs
Labels: enhancement, jcli

#1021 [Tests] Jormungandr Grpc mock tests
  jormungandr-integration-tests/src/common/configuration/node_config_model.rs
  jormungandr-integration-tests/src/common/jcli_wrapper/jcli_commands.rs
  jormungandr-integration-tests/src/common/jcli_wrapper/mod.rs
  jormungandr-integration-tests/src/common/jormungandr/logger.rs
  jormungandr-integration-tests/src/common/jormungandr/process.rs
  jormungandr-integration-tests/src/mock/testing/client_tests.rs
  jormungandr-integration-tests/src/mock/testing/mod.rs
  jormungandr-integration-tests/src/mock/testing/server_tests.rs
  jormungandr-integration-tests/src/mock/testing/setup.rs
  jormungandr-lib/src/interfaces/settings.rs
Labels: Tests

#1041 Drill down on connect errors in logs
  jormungandr/src/network/client/connect.rs
  jormungandr/src/network/mod.rs
Labels: subsys-logging, subsys-network

#1017 [Tests] Recovery new testcase (automation for #1011)
  jormungandr-integration-tests/src/common/jormungandr/process.rs
  jormungandr-integration-tests/src/common/jormungandr/starter.rs
  jormungandr-integration-tests/src/jormungandr/recovery.rs
Labels: Tests

#1045 [Tests] add error_chain to grpc mock
  Cargo.lock
  jormungandr-integration-tests/Cargo.toml
  jormungandr-integration-tests/src/lib.rs
  jormungandr-integration-tests/src/mock/client.rs
Labels: Tests

#1050 [Tests] Jomungandr bootstrap fix
  jormungandr-integration-tests/src/common/jormungandr/logger.rs
  jormungandr-integration-tests/src/common/jormungandr/starter.rs
  jormungandr-integration-tests/src/jcli/rest/block.rs
Labels: Tests
