Repository input-output-hk/jormungandr, pull requests merged in 2019-11, with the labels that each got.

#1055 Inbound streaming post-fixes
  jormungandr/src/intercom.rs
  jormungandr/src/network/inbound.rs
  jormungandr/src/network/subscription.rs
Labels: subsys-network, technical debt

#1058 Lay ground for policy management and update
  Cargo.lock
  doc/configuration/introduction.md
  doc/configuration/network.md
  jormungandr-integration-tests/Cargo.toml
  jormungandr-integration-tests/src/common/configuration/jormungandr_config.rs
  jormungandr-integration-tests/src/common/configuration/node_config_model.rs
  jormungandr-integration-tests/src/jormungandr/bft/start_node.rs
  jormungandr-integration-tests/src/networking/communication.rs
  jormungandr-scenario-tests/Cargo.toml
  jormungandr-scenario-tests/src/main.rs
  jormungandr-scenario-tests/src/scenario/settings.rs
  jormungandr/Cargo.toml
  jormungandr/src/blockchain/process.rs
  jormungandr/src/intercom.rs
  jormungandr/src/leadership/mod.rs
  jormungandr/src/network/client/connect.rs
  jormungandr/src/network/client/mod.rs
  jormungandr/src/network/grpc/client.rs
  jormungandr/src/network/grpc/mod.rs
  jormungandr/src/network/mod.rs
  jormungandr/src/network/p2p/comm.rs
  jormungandr/src/network/p2p/comm/peer_map.rs
  jormungandr/src/network/p2p/gossip.rs
  jormungandr/src/network/p2p/id.rs
  jormungandr/src/network/p2p/mod.rs
  jormungandr/src/network/p2p/node.rs
  jormungandr/src/network/p2p/topology.rs
  jormungandr/src/network/service.rs
  jormungandr/src/network/subscription.rs
  jormungandr/src/settings/start/config.rs
  jormungandr/src/settings/start/mod.rs
  jormungandr/src/settings/start/network.rs
  jormungandr/src/start_up/mod.rs
Labels: breaking-change, enhancement, subsys-network

#1066 prevent blowing up limit and mitigate generic serialisation format
  jormungandr/src/network/p2p/gossip.rs
  jormungandr/src/network/p2p/id.rs
  jormungandr/src/network/p2p/mod.rs
Labels: bug, jörmungandr

#1035 Implement pagination for transactions
  jormungandr/src/explorer/graphql/connections.rs
  jormungandr/src/explorer/graphql/error.rs
  jormungandr/src/explorer/graphql/mod.rs
  jormungandr/src/explorer/graphql/scalars.rs
  jormungandr/src/explorer/indexing.rs
  jormungandr/src/explorer/mod.rs
  jormungandr/src/explorer/persistent_sequence.rs
Labels: breaking-change, enhancement, explorer

#1039 [Test] Node mempool settings test
  jormungandr-integration-tests/src/common/configuration/node_config_model.rs
  jormungandr-integration-tests/src/common/jcli_wrapper/mod.rs
  jormungandr-integration-tests/src/common/jormungandr/configuration_builder.rs
  jormungandr-integration-tests/src/jormungandr/mempool/mod.rs
  jormungandr-integration-tests/src/jormungandr/mod.rs
  jormungandr-lib/src/interfaces/config/mempool.rs
  jormungandr-lib/src/interfaces/config/mod.rs
  jormungandr-lib/src/interfaces/mod.rs
  jormungandr/src/settings/start/config.rs
  jormungandr/src/settings/start/mod.rs
Labels: Tests

#1047 [Tests] Jormungandr-scenario-tests added grpc calls to node
  Cargo.lock
  jormungandr-scenario-tests/Cargo.toml
  jormungandr-scenario-tests/src/main.rs
  jormungandr-scenario-tests/src/node.rs
Labels: Tests

#1075 remove unused imports
  jormungandr/src/settings/start/config.rs
Labels: cleaning, jörmungandr

#1076 Implement a custom policy object
  Cargo.lock
  doc/concepts/network.md
  doc/configuration/network.md
  jormungandr/Cargo.toml
  jormungandr/src/network/mod.rs
  jormungandr/src/network/p2p/mod.rs
  jormungandr/src/network/p2p/policy.rs
  jormungandr/src/network/p2p/topology.rs
  jormungandr/src/settings/start/config.rs
  jormungandr/src/settings/start/mod.rs
  jormungandr/src/settings/start/network.rs
Labels: doc, jörmungandr, subsys-network

#1051 [Tests] Testnet test case stability fix
  jormungandr-integration-tests/src/common/jcli_wrapper/mod.rs
  jormungandr-integration-tests/src/common/jormungandr/starter.rs
  jormungandr-integration-tests/src/common/process_utils/mod.rs
  jormungandr-integration-tests/src/common/process_utils/wait.rs
  jormungandr-integration-tests/src/jormungandr/genesis/stake_pool.rs
  jormungandr-integration-tests/src/networking/testnet.rs
Labels: Tests

#1077 [Tests ] Stats rest method for node
  jormungandr-lib/src/interfaces/mod.rs
  jormungandr-lib/src/interfaces/stats.rs
  jormungandr-scenario-tests/src/node.rs
Labels: Tests

#1079 doc: Remove remaining traces of private_id
  doc/quickstart/02_passive_node.md
Labels: doc

#1078 Reimplemented chain pull
  Cargo.lock
  jormungandr/src/blockchain/candidate.rs
  jormungandr/src/blockchain/chain.rs
  jormungandr/src/blockchain/mod.rs
  jormungandr/src/blockchain/process.rs
  jormungandr/src/blockchain/storage.rs
  jormungandr/src/intercom.rs
  jormungandr/src/main.rs
  jormungandr/src/network/bootstrap.rs
  jormungandr/src/network/client/mod.rs
  jormungandr/src/network/mod.rs
Labels: enhancement, subsys-network

#1074 [Tests] Use KeyPair from jormungandr-libs
  jormungandr-integration-tests/src/common/data/keys.rs
  jormungandr-integration-tests/src/common/data/mod.rs
  jormungandr-integration-tests/src/common/jormungandr/configuration_builder.rs
  jormungandr-integration-tests/src/common/startup/mod.rs
  jormungandr-integration-tests/src/jcli/certificate/e2e.rs
  jormungandr-integration-tests/src/jormungandr/genesis/stake_pool.rs
  jormungandr-integration-tests/src/jormungandr/genesis/start_node.rs
Labels: Tests

#1080 [Tests] move NodeState to jormungandr-lib
  jormungandr-lib/src/interfaces/mod.rs
  jormungandr-lib/src/interfaces/stats.rs
  jormungandr/src/main.rs
  jormungandr/src/rest/mod.rs
  jormungandr/src/rest/v0/handlers.rs
Labels: Tests

#1073 jcli transaction - add data-for-witness (alias id) and fragment-id
  doc/jcli/transaction.md
  jcli/src/jcli_app/transaction/info.rs
  jcli/src/jcli_app/transaction/mod.rs
  jormungandr-integration-tests/src/common/jcli_wrapper/jcli_transaction_wrapper/jcli_transaction_commands.rs
Labels: enhancement, jcli

#1023 [Tests] Genesis initial test cases
  jormungandr-integration-tests/src/jcli/genesis/encode.rs
Labels: Tests

#1081 Rest utxo
  doc/jcli/rest.md
  doc/openapi.yaml
  jcli/src/jcli_app/rest/v0/utxo/mod.rs
  jormungandr-integration-tests/src/common/configuration/jormungandr_config.rs
  jormungandr-integration-tests/src/common/jcli_wrapper/jcli_commands.rs
  jormungandr-integration-tests/src/common/jcli_wrapper/jcli_transaction_wrapper/mod.rs
  jormungandr-integration-tests/src/common/jcli_wrapper/mod.rs
  jormungandr-integration-tests/src/common/startup/mod.rs
  jormungandr-integration-tests/src/jcli/rest/utxo.rs
  jormungandr-integration-tests/src/jcli/transaction/e2e.rs
  jormungandr-integration-tests/src/jormungandr/recovery.rs
  jormungandr-integration-tests/src/networking/communication.rs
  jormungandr-integration-tests/src/non_functional/soak.rs
  jormungandr-lib/src/interfaces/mod.rs
  jormungandr-lib/src/interfaces/utxo_info.rs
  jormungandr/src/rest/v0/handlers.rs
  jormungandr/src/rest/v0/mod.rs
Labels: REST, Tests, breaking-change, doc, jcli

#1046 [Tests] Jormungandr-scenario-tests node in persistent mode
  jormungandr-scenario-tests/src/lib.rs
  jormungandr-scenario-tests/src/main.rs
  jormungandr-scenario-tests/src/node.rs
  jormungandr-scenario-tests/src/scenario/controller.rs
  jormungandr-scenario-tests/src/scenario/settings.rs
Labels: Tests

#1091 add default custom modules to handle unreachable nodes
  Cargo.lock
  jormungandr/Cargo.toml
  jormungandr/src/network/mod.rs
  jormungandr/src/network/p2p/topology.rs
Labels: enhancement, subsys-network

#1092 Logging improvements for network and chain pull
  jormungandr/src/blockchain/candidate.rs
  jormungandr/src/main.rs
  jormungandr/src/network/client/mod.rs
  jormungandr/src/network/subscription.rs
  jormungandr/src/settings/start/mod.rs
Labels: enhancement, subsys-block, subsys-logging, subsys-network

#1096 Fix blocks in epoch first cursor not being 0
  jormungandr/src/explorer/graphql/mod.rs
Labels: bug

#1101 registering_stake_pool.md: do not longer sign the cert
  doc/stake_pool/registering_stake_pool.md
Labels: doc

#1100 Properly filter checkpoints for given descendant
  jormungandr/src/blockchain/storage.rs
  jormungandr/src/client.rs
  jormungandr/src/intercom.rs
Labels: enhancement, subsys-block

#1083 Start improving the readability of this document.
  doc/concepts/network.md
Labels: doc, enhancement

#1106 leadership re-write
  doc/jcli/rest.md
  doc/openapi.yaml
  jormungandr-lib/src/interfaces/leadership_log.rs
  jormungandr-lib/src/interfaces/mod.rs
  jormungandr/src/blockchain/branch.rs
  jormungandr/src/blockchain/chain.rs
  jormungandr/src/blockchain/mod.rs
  jormungandr/src/blockchain/process.rs
  jormungandr/src/blockchain/tip.rs
  jormungandr/src/client.rs
  jormungandr/src/intercom.rs
  jormungandr/src/leadership/enclave.rs
  jormungandr/src/leadership/logs.rs
  jormungandr/src/leadership/mod.rs
  jormungandr/src/leadership/process.rs
  jormungandr/src/leadership/schedule.rs
  jormungandr/src/main.rs
  jormungandr/src/network/bootstrap.rs
  jormungandr/src/rest/v0/handlers.rs
  jormungandr/src/start_up/mod.rs
Labels: bug, consensus-BFT, consensus-Genesis, enhancement, jörmungandr

#1112 Allow setting multiple stake pool for delegation
  doc/jcli/certificate.md
  jcli/src/jcli_app/certificate/mod.rs
  jcli/src/jcli_app/certificate/new_stake_delegation.rs
  jormungandr-integration-tests/src/common/jcli_wrapper/certificate/commands.rs
Labels: doc, enhancement, jcli

#1114 Leeway for schedule to happen
  jormungandr-lib/src/time.rs
  jormungandr/src/leadership/process.rs
Labels: bug, enhancement, jörmungandr, subsys-consensus

#1115 Port Jormungandr to 2018 edition
  jcli/Cargo.toml
  jcli/src/jcli_app/address.rs
  jcli/src/jcli_app/block/mod.rs
  jcli/src/jcli_app/certificate/get_stake_pool_id.rs
  jcli/src/jcli_app/certificate/mod.rs
  jcli/src/jcli_app/certificate/new_stake_delegation.rs
  jcli/src/jcli_app/certificate/new_stake_pool_registration.rs
  jcli/src/jcli_app/certificate/sign.rs
  jcli/src/jcli_app/debug/message.rs
  jcli/src/jcli_app/debug/mod.rs
  jcli/src/jcli_app/key.rs
  jcli/src/jcli_app/rest/mod.rs
  jcli/src/jcli_app/rest/v0/account/mod.rs
  jcli/src/jcli_app/rest/v0/block/mod.rs
  jcli/src/jcli_app/rest/v0/block/next_id.rs
  jcli/src/jcli_app/rest/v0/block/subcommand.rs
  jcli/src/jcli_app/rest/v0/leaders/mod.rs
  jcli/src/jcli_app/rest/v0/message/mod.rs
  jcli/src/jcli_app/rest/v0/mod.rs
  jcli/src/jcli_app/rest/v0/network/mod.rs
  jcli/src/jcli_app/rest/v0/network/stats.rs
  jcli/src/jcli_app/rest/v0/node/mod.rs
  jcli/src/jcli_app/rest/v0/node/stats.rs
  jcli/src/jcli_app/rest/v0/settings/mod.rs
  jcli/src/jcli_app/rest/v0/shutdown/mod.rs
  jcli/src/jcli_app/rest/v0/stake/mod.rs
  jcli/src/jcli_app/rest/v0/stake_pools/mod.rs
  jcli/src/jcli_app/rest/v0/tip/mod.rs
  jcli/src/jcli_app/rest/v0/utxo/mod.rs
  jcli/src/jcli_app/transaction/add_account.rs
  jcli/src/jcli_app/transaction/add_certificate.rs
  jcli/src/jcli_app/transaction/add_input.rs
  jcli/src/jcli_app/transaction/add_output.rs
  jcli/src/jcli_app/transaction/add_witness.rs
  jcli/src/jcli_app/transaction/auth.rs
  jcli/src/jcli_app/transaction/common.rs
  jcli/src/jcli_app/transaction/finalize.rs
  jcli/src/jcli_app/transaction/info.rs
  jcli/src/jcli_app/transaction/mk_witness.rs
  jcli/src/jcli_app/transaction/mod.rs
  jcli/src/jcli_app/transaction/new.rs
  jcli/src/jcli_app/transaction/seal.rs
  jcli/src/jcli_app/transaction/staging.rs
  jcli/src/jcli_app/utils/debug_flag.rs
  jcli/src/jcli_app/utils/open_api_verifier.rs
  jcli/src/jcli_app/utils/rest_api.rs
  jormungandr/Cargo.toml
  jormungandr/src/intercom.rs
  jormungandr/src/log/asyncable_drain.rs
  jormungandr/src/main.rs
  jormungandr/src/network/service.rs
  jormungandr/src/settings/logging.rs
  jormungandr/src/utils/task.rs
Labels: technical debt

#1118 (#511) logging to a file
  doc/quickstart/02_passive_node.md
  jormungandr/src/settings/logging.rs
Labels: enhancement, jörmungandr, subsys-logging

#1119 logging settings: .async() -> .into_async()
  jormungandr/src/settings/logging.rs
Labels: cleaning

#1117 Clean up JCLI TX info command
  Cargo.lock
  doc/jcli/transaction.md
  jcli/Cargo.toml
  jcli/src/jcli_app/transaction/common.rs
  jcli/src/jcli_app/transaction/info.rs
  jcli/src/jcli_app/transaction/mod.rs
  jcli/src/lib.rs
  jcli/src/main.rs
Labels: breaking-change, cleaning, doc, jcli

#1113 Docs: update some certificate related commands
  doc/jcli/certificate.md
  doc/stake_pool/delegating_stake.md
  doc/stake_pool/registering_stake_pool.md
Labels: doc

#1131 Add safety checks to bootstrap script
  scripts/bootstrap
Labels: Tests

#1133 Fetch block's body only once for transactions in block
  jormungandr/src/explorer/graphql/connections.rs
  jormungandr/src/explorer/graphql/mod.rs
Labels: explorer

#1134 Logging to multiple outputs
  jormungandr-integration-tests/src/common/configuration/node_config_model.rs
  jormungandr-integration-tests/src/jormungandr/bft/start_node.rs
  jormungandr/src/main.rs
  jormungandr/src/settings/logging.rs
  jormungandr/src/settings/start/config.rs
  jormungandr/src/settings/start/mod.rs
Labels: enhancement, subsys-logging

#1126 make the blockchain::process fully async
  jormungandr/src/blockchain/process.rs
Labels: jörmungandr, subsys-block, technical debt

#1139 Gracefully handle mutual connection flares
  jormungandr/src/network/mod.rs
Labels: enhancement, jörmungandr, subsys-network

#1136 Implement BIP32 key derivation
  Cargo.lock
  jcli/Cargo.toml
  jcli/src/jcli_app/key.rs
Labels: enhancement, jcli

#1140 Move REST to a service
  jormungandr/src/main.rs
  jormungandr/src/rest/mod.rs
  jormungandr/src/rest/server/mod.rs
  jormungandr/src/rest/v0/handlers.rs
Labels: cleaning, subsys-rest

#1154 catch the error the drains
  jormungandr/src/settings/logging.rs
Labels: bug, jörmungandr, subsys-logging

#1129 [Tests][JST] Improve Error Reporting
  jormungandr-scenario-tests/src/example_scenarios.rs
  jormungandr-scenario-tests/src/lib.rs
  jormungandr-scenario-tests/src/main.rs
  jormungandr-scenario-tests/src/node.rs
  jormungandr-scenario-tests/src/scenario/controller.rs
  jormungandr-scenario-tests/src/scenarios_repository.rs
  jormungandr-scenario-tests/src/test/comm/leader_leader.rs
  jormungandr-scenario-tests/src/test/comm/passive_leader.rs
  jormungandr-scenario-tests/src/test/mod.rs
  jormungandr-scenario-tests/src/test/network/topology/scenarios.rs
  jormungandr-scenario-tests/src/test/utils/mod.rs
Labels: Tests

#1151 Make sure if the node wake too early for the leader event to wait a bit
  jormungandr/src/leadership/process.rs
Labels: bug, jörmungandr, subsys-consensus

#1153 allow setting the number of unreachable nodes to contact for propagation
  doc/configuration/network.md
  jormungandr/src/network/mod.rs
  jormungandr/src/network/p2p/topology.rs
  jormungandr/src/settings/start/config.rs
  jormungandr/src/settings/start/mod.rs
  jormungandr/src/settings/start/network.rs
Labels: enhancement, jörmungandr, subsys-network

#1159 Ground work for header chain validation
  jormungandr/src/blockchain/candidate.rs
  jormungandr/src/blockchain/process.rs
  jormungandr/src/main.rs
Labels: enhancement, subsys-block

#1141 Shutdown node when any service terminates
  jormungandr/src/main.rs
  jormungandr/src/rest/server/mod.rs
  jormungandr/src/utils/drop_watchdog.rs
  jormungandr/src/utils/mod.rs
  jormungandr/src/utils/task.rs
Labels: subsys-rest, technical debt

#1162 Rise type_length_limit
  jormungandr/src/main.rs
  jormungandr/src/utils/task.rs
Labels: bug

#1161 Expose stake pool parameters
  jormungandr/src/explorer/graphql/mod.rs
  jormungandr/src/explorer/graphql/scalars.rs
  jormungandr/src/explorer/indexing.rs
  jormungandr/src/explorer/mod.rs
Labels: enhancement, explorer

#1167 clean imports in jormungandr-integration-tests
  jormungandr-integration-tests/src/bin/mock_client_app.rs
  jormungandr-integration-tests/src/bin/mock_server_app.rs
  jormungandr-integration-tests/src/common/jcli_wrapper/certificate/wrapper.rs
  jormungandr-integration-tests/src/common/jormungandr/configuration_builder.rs
  jormungandr-integration-tests/src/jcli/genesis/encode.rs
  jormungandr-integration-tests/src/jormungandr/genesis/stake_pool.rs
  jormungandr-integration-tests/src/jormungandr/mempool/mod.rs
  jormungandr-integration-tests/src/mock/client.rs
Labels: Tests

#1169 Add pool retirement and pool update certificates graphql types
  jormungandr/src/explorer/graphql/mod.rs
Labels: breaking-change, enhancement, explorer

#1170 added script for creating a new stakepool
  scripts/bootstrap
  scripts/create-stakepool.shtempl
Labels: Tests

#1172 poldercast crate update and automatic topology reset
  Cargo.lock
  doc/configuration/network.md
  jormungandr/Cargo.toml
  jormungandr/src/network/mod.rs
  jormungandr/src/network/p2p/topology.rs
  jormungandr/src/settings/start/config.rs
  jormungandr/src/settings/start/mod.rs
  jormungandr/src/settings/start/network.rs
Labels: enhancement, jörmungandr, subsys-network

#1157 Add warning if blockchain is not moving up
  doc/quickstart/02_passive_node.md
  jormungandr/src/blockchain_stuck_notifier.rs
  jormungandr/src/main.rs
  jormungandr/src/settings/start/config.rs
  jormungandr/src/settings/start/mod.rs
Labels: enhancement, jörmungandr, subsys-block

#1175 Logging improvements for network subscriptions
  jormungandr/src/network/subscription.rs
  jormungandr/src/utils/async_msg.rs
Labels: enhancement, subsys-network

#1168 [Jormungandr-scenario-test] fix failing tests from nighly run
  jormungandr-scenario-tests/src/main.rs
  jormungandr-scenario-tests/src/node.rs
  jormungandr-scenario-tests/src/scenarios_repository.rs
  jormungandr-scenario-tests/src/test/comm/leader_leader.rs
  jormungandr-scenario-tests/src/test/comm/passive_leader.rs
  jormungandr-scenario-tests/src/test/network/topology/scenarios.rs
  jormungandr-scenario-tests/src/test/utils/mod.rs
  jormungandr-scenario-tests/src/wallet/utxo.rs
Labels: Tests

#1088 regenerate grpc port after unsuccessful jormungandr bootstrap
  jormungandr-integration-tests/src/common/configuration/node_config_model.rs
  jormungandr-integration-tests/src/common/jormungandr/logger.rs
  jormungandr-integration-tests/src/common/jormungandr/starter.rs
Labels: Tests

#1194 Small network fixes, improve logging
  jormungandr/src/blockchain/chain.rs
  jormungandr/src/network/bootstrap.rs
  jormungandr/src/network/mod.rs
Labels: enhancement, subsys-network

#1173 Transform REST server into Tokio service
  jormungandr/src/main.rs
  jormungandr/src/rest/mod.rs
  jormungandr/src/rest/server/mod.rs
  jormungandr/src/rest/v0/handlers.rs
Labels: subsys-rest, subsys-threading, technical debt

#1197 Add multisignature to address in explorer
  jormungandr/src/explorer/indexing.rs
Labels: enhancement, explorer

#1198 Add input output to block and initial fees
  jormungandr/src/explorer/graphql/mod.rs
  jormungandr/src/explorer/indexing.rs
  jormungandr/src/explorer/mod.rs
Labels: enhancement, explorer

#1203 Disgraceful REST shutdown
  jormungandr/src/rest/server/mod.rs
Labels: subsys-rest

#1196 remote syslog via UDP
  doc/quickstart/02_passive_node.md
  jormungandr/src/settings/logging.rs
Labels: enhancement, subsys-logging

#1208 rename blockchain_stuck_notifier
  jormungandr/src/main.rs
  jormungandr/src/stuck_notifier.rs
Labels: jörmungandr

#1205 fix stake pool blocks query off by one
  jormungandr/src/explorer/graphql/mod.rs
Labels: bug, explorer

#1195 Add stake pool details getter to REST
  doc/jcli/rest.md
  doc/openapi.yaml
  jcli/src/jcli_app/rest/v0/mod.rs
  jcli/src/jcli_app/rest/v0/stake_pool/mod.rs
  jormungandr/src/rest/v0/handlers.rs
  jormungandr/src/rest/v0/mod.rs
Labels: doc, enhancement, jcli, subsys-rest

#1213 Allow setting treasury in the genesis file
  jormungandr-lib/src/interfaces/block0_configuration/DOCUMENTED_EXAMPLE.yaml
  jormungandr-lib/src/interfaces/block0_configuration/initial_config.rs
  jormungandr-lib/src/interfaces/mod.rs
  jormungandr-lib/src/interfaces/tax_type.rs
Labels: enhancement, jcli

#1207 [Tests] Jts timeout fix
  jormungandr-scenario-tests/src/node.rs
  jormungandr-scenario-tests/src/test/comm/passive_leader.rs
  jormungandr-scenario-tests/src/test/network/topology/scenarios.rs
  jormungandr-scenario-tests/src/test/utils/mod.rs
Labels: Tests

#1214 mitigate issue with loading existing state from storage
  jormungandr/src/blockchain/chain.rs
Labels: bug, jörmungandr, subsys-block

#1218 Header chain validation errors are not fatal
  jormungandr/src/blockchain/process.rs
Labels: bug, subsys-block

#1177 [Tests][Testnet] more logging for testnet test
  jormungandr-integration-tests/src/common/jcli_wrapper/mod.rs
  jormungandr-integration-tests/src/common/process_utils/mod.rs
  jormungandr-integration-tests/src/jormungandr/genesis/stake_pool.rs
  jormungandr-integration-tests/src/networking/testnet.rs
Labels: Tests

#1225 Pull from block 0 if no checkpoints intersect
  jormungandr/src/client.rs
Labels: enhancement, jörmungandr, subsys-block

#1219 Add `git submodule update` to "How to install from sources"
  README.md
Labels: doc

#1199 [Tests] another attempt to stabilize tests
  jormungandr-integration-tests/src/common/jormungandr/commands.rs
  jormungandr-integration-tests/src/common/jormungandr/configuration_builder.rs
  jormungandr-integration-tests/src/common/jormungandr/starter.rs
  jormungandr-integration-tests/src/networking/testnet.rs
Labels: Tests

#1227 expose the reward parameters
  jormungandr-lib/src/interfaces/block0_configuration/DOCUMENTED_EXAMPLE.yaml
  jormungandr-lib/src/interfaces/block0_configuration/initial_config.rs
  jormungandr-lib/src/interfaces/mod.rs
  jormungandr-lib/src/interfaces/reward_parameters.rs
Labels: enhancement, jcli, jörmungandr

#1228 Fix nightly for introduction of built-in never type
  jormungandr/src/explorer/graphql/mod.rs
Labels: bug

#1230 Log which service has finished and how
  jormungandr/src/utils/task.rs
Labels: enhancement, subsys-threading

#1231 Task unwind safety
  jormungandr/src/utils/task.rs
Labels: technical debt

#1229 Switch Circle-CI from Rust nightly to beta
  .circleci/config.yml
Labels: Tests, build-system

#1223 Implement all stake pools graphql query
  jormungandr/src/explorer/graphql/connections.rs
  jormungandr/src/explorer/graphql/mod.rs
  jormungandr/src/explorer/graphql/scalars.rs
  jormungandr/src/explorer/mod.rs
Labels: explorer

#1233 intercom: Make reply not fatal if receiver goes away
  jormungandr/src/client.rs
  jormungandr/src/intercom.rs
Labels: bug, subsys-client, subsys-threading
