Repository input-output-hk/jormungandr, pull requests merged in 2019-03, with the labels that each got.

#145 Simplify configuration.
  README.md
  src/blockcfg/genesis_data.rs
  src/main.rs
Labels: consensus-BFT

#150 Implement response to block subscription
  src/blockchain/process.rs
  src/utils/task.rs
Labels: subsys-block, subsys-network

#152 introduce poldercast as a topology manager
  Cargo.lock
  Cargo.toml
  src/main.rs
  src/network/mod.rs
  src/network/p2p_topology.rs
  src/settings/start/network.rs
Labels: subsys-network

#154 update the settings to reflect the peer 2 peer settings
  Cargo.lock
  Cargo.toml
  README.md
  src/network/grpc/mod.rs
  src/network/mod.rs
  src/network/p2p_topology.rs
  src/settings/start/config.rs
  src/settings/start/mod.rs
  src/settings/start/network.rs
Labels: subsys-network

#160 fix the grpc server spawn issue
  src/network/grpc/server.rs
Labels: bug, subsys-network

#159 update poldercast to 0.2. include serde for the gossip message
  Cargo.lock
  Cargo.toml
  src/network/p2p_topology.rs
  src/settings/start/config.rs
Labels: subsys-network

#169 Handler infrastructure for incoming block announcements in Blockchain
  src/blockchain/chain.rs
  src/blockchain/process.rs
  src/intercom.rs
  src/network/grpc/client.rs
  src/network/grpc/server.rs
  src/network/mod.rs
Labels: subsys-block, subsys-network
