Repository input-output-hk/jormungandr, pull requests merged in 2019-08, with the labels that each got.

#647 [Tests] Use fragment Id to track transaction status after post
  Cargo.lock
  doc/jcli/rest.md
  jcli/Cargo.toml
  jcli/src/jcli_app/rest/mod.rs
  jcli/src/jcli_app/rest/v0/message/mod.rs
  jormungandr-integration-tests/src/common/data/witness.rs
  jormungandr-integration-tests/src/common/jcli_wrapper/jcli_transaction_wrapper/jcli_transaction_commands.rs
  jormungandr-integration-tests/src/common/jcli_wrapper/jcli_transaction_wrapper/mod.rs
  jormungandr-integration-tests/src/common/jcli_wrapper/mod.rs
  jormungandr-integration-tests/src/common/process_utils/output_extensions.rs
  jormungandr-integration-tests/src/jcli/transaction/e2e.rs
  jormungandr-integration-tests/src/networking/communication.rs
  jormungandr-integration-tests/src/non_functional/soak.rs
  jormungandr-integration-tests/src/non_functional/stress.rs
Labels: Tests, jcli

#671 Jcli: Fix - address info, wrong subcommand description
  jcli/src/jcli_app/address.rs
Labels: doc, jcli

#673 New blockchain data representation
  Cargo.lock
  doc/internal_design.md
  doc/internal_design/architecture-1.png
  doc/internal_design/blockchain_structure.dot
  doc/internal_design/blockchain_structure.png
  doc/internal_design/blockchain_structure_block0.dot
  doc/internal_design/blockchain_structure_block0.png
  doc/internal_design/blockchain_structure_blockk.dot
  doc/internal_design/blockchain_structure_blockk.png
  doc/internal_design/blockchain_structure_transition.dot
  doc/internal_design/blockchain_structure_transition.png
  jormungandr/Cargo.toml
  jormungandr/src/blockchain/chain.rs
  jormungandr/src/blockchain/mod.rs
  jormungandr/src/blockchain/protocols/branch.rs
  jormungandr/src/blockchain/protocols/mod.rs
  jormungandr/src/blockchain/protocols/multiverse.rs
  jormungandr/src/blockchain/protocols/reference.rs
  jormungandr/src/blockchain/protocols/reference_cache.rs
  jormungandr/src/blockchain/protocols/storage.rs
  jormungandr/src/leadership/leaderships.rs
  jormungandr/src/main.rs
  jormungandr/src/start_up/error.rs
  jormungandr/src/start_up/mod.rs
Labels: subsys-block

#677 it seems that debug_assertions feature was not doing what I expected
  jormungandr/src/blockchain/protocols/reference.rs
Labels: bug

#651 Fixed test_correct_utxo_transaction_replaces_old_utxo_by_node test
  jormungandr-integration-tests/src/jcli/transaction/e2e.rs
Labels: Tests

#678 Upgrade custom_error to 1.7.1
  Cargo.lock
  jcli/src/jcli_app/transaction/mod.rs
  jcli/src/jcli_app/transaction/staging.rs
  jormungandr/src/network/mod.rs
  jormungandr/src/network/p2p/topology.rs
Labels: bug

#675 Implement bootstrap for new blockchain API
  jormungandr/src/main.rs
  jormungandr/src/network/bootstrap.rs
  jormungandr/src/network/grpc/mod.rs
  jormungandr/src/network/mod.rs
  jormungandr/src/network/protocols/bootstrap.rs
  jormungandr/src/network/protocols/mod.rs
Labels: subsys-network

#679 Extend logs with app version, epoch and slot_id
  jormungandr/src/blockchain/process.rs
  jormungandr/src/leadership/process.rs
  jormungandr/src/leadership/schedule.rs
  jormungandr/src/leadership/task.rs
  jormungandr/src/main.rs
Labels: enhancement, subsys-logging

#682 Remove unused deps from Jormungandr
  Cargo.lock
  jormungandr/Cargo.toml
  jormungandr/src/main.rs
Labels: technical debt

#681 internal code design: simple case state machine
  doc/internal_design/network_nano_protocol_simple.dot
  doc/internal_design/network_nano_protocol_simple.png
Labels: doc, subsys-network

#683 Remove Mjolnir
  testing/mjolnir/.gitignore
  testing/mjolnir/Cargo.toml
  testing/mjolnir/LICENSE_APACHE
  testing/mjolnir/LICENSE_MIT
  testing/mjolnir/README.md
  testing/mjolnir/src/lib.rs
  testing/mjolnir/src/utils.rs
  testing/mjolnir/tests/web.rs
  testing/thor/.gitignore
  testing/thor/LICENSE-APACHE
  testing/thor/LICENSE-MIT
  testing/thor/README.md
  testing/thor/bootstrap.js
  testing/thor/index.html
  testing/thor/index.js
  testing/thor/package-lock.json
  testing/thor/package.json
  testing/thor/webpack.config.js
Labels: technical debt

#668 [Tests] Set rust backtrace in e2e tests
  jormungandr-integration-tests/build.rs
Labels: Tests

#669 Update ROADMAP.md
  ROADMAP.md
Labels: doc

#685 Update Leadership module to handle new blockchain API
  jormungandr-lib/src/interfaces/leadership_log.rs
  jormungandr-lib/src/interfaces/mod.rs
  jormungandr/src/leadership/mod.rs
  jormungandr/src/leadership/process.rs
  jormungandr/src/leadership/protocols/enclave.rs
  jormungandr/src/leadership/protocols/logs.rs
  jormungandr/src/leadership/protocols/mod.rs
  jormungandr/src/leadership/protocols/schedule.rs
  jormungandr/src/leadership/schedule.rs
  jormungandr/src/leadership/task.rs
  jormungandr/src/rest/v0/handlers.rs
  jormungandr/src/secure/enclave.rs
Labels: consensus-BFT, consensus-Genesis, enhancement, subsys-consensus

#686 cosmetic-summing fixes
  doc/concepts/blockchain.md
Labels: doc

#688 plumbing changes for the leadership scheduling and blockchain validation
  jormungandr/src/blockchain/branch.rs
  jormungandr/src/blockchain/chain.rs
  jormungandr/src/blockchain/mod.rs
  jormungandr/src/blockchain/multiverse.rs
  jormungandr/src/blockchain/process.rs
  jormungandr/src/blockchain/protocols/branch.rs
  jormungandr/src/blockchain/protocols/mod.rs
  jormungandr/src/blockchain/reference.rs
  jormungandr/src/blockchain/reference_cache.rs
  jormungandr/src/blockchain/storage.rs
  jormungandr/src/blockchain/tip.rs
  jormungandr/src/client.rs
  jormungandr/src/leadership/enclave.rs
  jormungandr/src/leadership/epoch_parameters.rs
  jormungandr/src/leadership/leaderships.rs
  jormungandr/src/leadership/logs.rs
  jormungandr/src/leadership/mod.rs
  jormungandr/src/leadership/process.rs
  jormungandr/src/leadership/protocols/mod.rs
  jormungandr/src/leadership/protocols/schedule.rs
  jormungandr/src/leadership/schedule.rs
  jormungandr/src/leadership/task.rs
  jormungandr/src/main.rs
  jormungandr/src/network/bootstrap.rs
  jormungandr/src/network/mod.rs
  jormungandr/src/network/protocols/bootstrap.rs
  jormungandr/src/network/protocols/mod.rs
  jormungandr/src/rest/mod.rs
  jormungandr/src/rest/v0/handlers.rs
  jormungandr/src/start_up/error.rs
  jormungandr/src/start_up/mod.rs
Labels: consensus-BFT, enhancement, subsys-block

#689 Fix tests aborting on invalid logs
  jormungandr-integration-tests/src/common/jormungandr/logger.rs
  jormungandr-integration-tests/src/common/jormungandr/process.rs
Labels: bug

#690 Create OpenAPI docs
  doc/openapi.yaml
Labels: REST, doc

#684 Added block processing for new blockchain
  jormungandr/src/blockchain/chain.rs
  jormungandr/src/blockchain/process.rs
  jormungandr/src/blockchain/storage.rs
  jormungandr/src/client.rs
  jormungandr/src/network/bootstrap.rs
Labels: bug, enhancement, subsys-block

#693 blockchain task: Process block announcements and blocks from network
  jormungandr/src/blockchain/chain.rs
  jormungandr/src/blockchain/process.rs
  jormungandr/src/intercom.rs
Labels: enhancement, subsys-block, subsys-network

#695 allow setting the address prefix manually when creating the address
  build.rs
  doc/jcli/address.md
  jcli/build.rs
  jcli/src/jcli_app/address.rs
  jcli/src/jcli_app/transaction/info.rs
  jormungandr-lib/build.rs
  jormungandr-lib/src/interfaces/address.rs
Labels: enhancement, jcli

#696 blockchain: Restore block propagation
  jormungandr/src/blockchain/process.rs
Labels: subsys-block

#697 add link to the Node REST Api documentation
  doc/quickstart/03_rest_api.md
Labels: REST, doc

#701 Finalize the loop for the new leadership code/event
  jormungandr/src/blockchain/chain.rs
  jormungandr/src/blockchain/process.rs
  jormungandr/src/blockchain/reference.rs
  jormungandr/src/leadership/mod.rs
  jormungandr/src/network/mod.rs
Labels: enhancement, subsys-block, subsys-consensus

#703 Mempool and Leadership logs GC setting and fixes
  doc/SUMMARY.md
  doc/configuration/leadership.md
  doc/configuration/mempool.md
  doc/configuration/network.md
  jormungandr-lib/src/time.rs
  jormungandr/src/fragment/logs.rs
  jormungandr/src/leadership/logs.rs
  jormungandr/src/leadership/mod.rs
  jormungandr/src/main.rs
  jormungandr/src/settings/start/config.rs
  jormungandr/src/settings/start/mod.rs
  jormungandr/src/start_up/mod.rs
Labels: bug, doc

#706 make sure we don't block the poll in the fragment pool too
  jormungandr/src/fragment/pool.rs
Labels: bug

#707 Add leadership logs fetching over REST API and JCLI
  doc/jcli/rest.md
  doc/openapi.yaml
  jcli/src/jcli_app/mod.rs
  jcli/src/jcli_app/rest/v0/leaders/mod.rs
  jcli/src/jcli_app/utils/io.rs
  jcli/src/main.rs
  jormungandr/src/main.rs
  jormungandr/src/rest/mod.rs
  jormungandr/src/rest/v0/handlers.rs
  jormungandr/src/rest/v0/mod.rs
Labels: REST, enhancement, jcli

#692 Openapi validator 1st level
  Cargo.lock
  jcli/Cargo.toml
  jcli/src/jcli_app/rest/mod.rs
  jcli/src/jcli_app/rest/v0/account/mod.rs
  jcli/src/jcli_app/rest/v0/block/next_id.rs
  jcli/src/jcli_app/rest/v0/block/subcommand.rs
  jcli/src/jcli_app/rest/v0/leaders/mod.rs
  jcli/src/jcli_app/rest/v0/message/mod.rs
  jcli/src/jcli_app/rest/v0/node/stats.rs
  jcli/src/jcli_app/rest/v0/settings/mod.rs
  jcli/src/jcli_app/rest/v0/shutdown/mod.rs
  jcli/src/jcli_app/rest/v0/stake_pools/mod.rs
  jcli/src/jcli_app/rest/v0/tip/mod.rs
  jcli/src/jcli_app/rest/v0/utxo/mod.rs
  jcli/src/jcli_app/utils/mod.rs
  jcli/src/jcli_app/utils/open_api_verifier.rs
  jcli/src/jcli_app/utils/rest_api.rs
  jcli/src/main.rs
  jormungandr-integration-tests/src/common/configuration/mod.rs
  jormungandr-integration-tests/src/common/jcli_wrapper/jcli_commands.rs
  jormungandr-integration-tests/src/jcli/rest/host.rs
  jormungandr-integration-tests/src/jcli/rest/tip.rs
Labels: REST, Tests, doc

#711 Add CORS to REST endpoint
  doc/configuration/network.md
  doc/quickstart/02_passive_node.md
  jormungandr/src/rest/mod.rs
  jormungandr/src/rest/v0/mod.rs
  jormungandr/src/settings/start/config.rs
  jormungandr/src/settings/start/mod.rs
Labels: REST, enhancement

#713 [Tests] Fixed test_genesis_stake_pool_with_utxo_faucet_starts_successfully
  jormungandr-integration-tests/src/common/data/address.rs
  jormungandr-integration-tests/src/common/startup/mod.rs
  jormungandr-integration-tests/src/jormungandr/genesis/start_node.rs
Labels: Tests

#714 Rest async
  jormungandr/src/main.rs
  jormungandr/src/rest/mod.rs
  jormungandr/src/rest/v0/handlers.rs
  jormungandr/src/rest/v0/mod.rs
Labels: REST

#715 Testing scenario managing test flow
  Cargo.lock
  jormungandr-scenario-tests/Cargo.toml
  jormungandr-scenario-tests/src/lib.rs
  jormungandr-scenario-tests/src/main.rs
  jormungandr-scenario-tests/src/node.rs
  jormungandr-scenario-tests/src/scenario/context.rs
  jormungandr-scenario-tests/src/scenario/controller.rs
  jormungandr-scenario-tests/src/scenario/mod.rs
  jormungandr-scenario-tests/src/scenario/settings.rs
  jormungandr-scenario-tests/src/style.rs
Labels: Tests

#716 Testing scenario managing test flow
  jormungandr-scenario-tests/src/main.rs
  jormungandr-scenario-tests/src/node.rs
  jormungandr-scenario-tests/src/scenario/context.rs
  jormungandr-scenario-tests/src/scenario/controller.rs
  jormungandr-scenario-tests/src/scenario/mod.rs
  jormungandr-scenario-tests/src/scenario/settings.rs
  jormungandr-scenario-tests/src/scenario/topology.rs
  jormungandr-scenario-tests/src/scenario/wallet.rs
  jormungandr-scenario-tests/src/style.rs
  jormungandr-scenario-tests/src/wallet/mod.rs
Labels: Tests

#717 add some logging on the leader event created block
  jormungandr/src/blockchain/process.rs
Labels: enhancement

#718 capture the standard error output from the running nodes
  Cargo.lock
  jormungandr-scenario-tests/Cargo.toml
  jormungandr-scenario-tests/src/node.rs
  jormungandr-scenario-tests/src/scenario/controller.rs
Labels: Tests

#652 [Test] Recovery test for abrupt node restart
  jormungandr-integration-tests/src/common/configuration/genesis_model.rs
  jormungandr-integration-tests/src/common/configuration/jormungandr_config.rs
  jormungandr-integration-tests/src/common/jcli_wrapper/jcli_commands.rs
  jormungandr-integration-tests/src/common/jcli_wrapper/mod.rs
  jormungandr-integration-tests/src/common/jormungandr/logger.rs
  jormungandr-integration-tests/src/common/jormungandr/starter.rs
  jormungandr-integration-tests/src/jormungandr/mod.rs
  jormungandr-integration-tests/src/jormungandr/recovery.rs
  jormungandr-lib/src/interfaces/block0_configuration/initial_config.rs
  jormungandr-lib/src/interfaces/linear_fee.rs
  jormungandr-lib/src/interfaces/mod.rs
  jormungandr-lib/src/interfaces/settings.rs
Labels: Tests

#722 JCLI: add rest/v0/stake
  doc/jcli/rest.md
  jcli/src/jcli_app/rest/v0/mod.rs
  jcli/src/jcli_app/rest/v0/stake/mod.rs
Labels: REST, jcli

#702 Add explorer mode startup config
  jormungandr/src/blockchain/process.rs
  jormungandr/src/explorer.rs
  jormungandr/src/intercom.rs
  jormungandr/src/main.rs
  jormungandr/src/rest/mod.rs
  jormungandr/src/settings/command_arguments.rs
  jormungandr/src/settings/start/config.rs
  jormungandr/src/settings/start/mod.rs
Labels: enhancement
