Repository input-output-hk/jormungandr, pull requests merged in 2019-04, with the labels that each got.

#252 network: Rationalize shared connection state
  src/network/grpc/client.rs
  src/network/grpc/mod.rs
  src/network/grpc/server.rs
  src/network/mod.rs
  src/network/p2p_topology.rs
  src/network/propagate.rs
  src/network/service.rs
  src/settings/start/network.rs
Labels: subsys-network

#253 Make the leadership task create genesis praos block
  src/leadership/leaderships.rs
  src/leadership/process.rs
Labels: consensus-Genesis

#258 network: Can't have ConnectionState in service
  src/network/grpc/server.rs
  src/network/mod.rs
  src/network/service.rs
Labels: subsys-network

#254 First integration tests case for genesis block encode
  Cargo.lock
  Cargo.toml
  README.md
  doc/starting_bft_blockchain.md
  tests/__galvanic_test/file_assert.rs
  tests/build/deploy_tests_resources.rs
  tests/jcli_genesis.rs
  tests/resources/genesis/genesis.yaml
Labels: Tests

#260 Add integration test job to circle ci
  .circleci/config.yml
Labels: Tests

#266 Add propagation among subscribed peers
  src/network/mod.rs
  src/network/p2p_topology.rs
  src/network/propagate.rs
Labels: subsys-network

#264 First node integration test
  README.md
  tests/__galvanic_test/configuration.rs
  tests/__galvanic_test/file_assert.rs
  tests/__galvanic_test/file_utils.rs
  tests/__galvanic_test/jcli_wrapper.rs
  tests/__galvanic_test/jormungandr_wrapper.rs
  tests/__galvanic_test/process_assert.rs
  tests/__galvanic_test/process_utils.rs
  tests/jcli_genesis.rs
  tests/jormungandr.rs
  tests/resources/jormungandr/node.config
Labels: Tests

#270 Propagate on demand
  src/intercom.rs
  src/network/grpc/client.rs
  src/network/grpc/mod.rs
  src/network/mod.rs
  src/network/p2p_topology.rs
  src/network/propagate.rs
Labels: subsys-network

#279 add auto completion command line interface
  src/bin/jcli_app/mod.rs
Labels: jcli

#281 add genesis praos leadership handling
  src/blockcfg/mod.rs
  src/blockchain/chain.rs
  src/leadership/process.rs
Labels: consensus-Genesis, subsys-consensus

#284 update jcli key to allow seed inputs when generating keys
  src/bin/jcli_app/key.rs
  src/bin/jcli_app/mod.rs
Labels: jcli

#285 add trusted peer environment
  Cargo.lock
  Cargo.toml
  src/network/mod.rs
  src/network/p2p_topology.rs
  src/settings/start/config.rs
  src/settings/start/mod.rs
  src/settings/start/network.rs
Labels: subsys-network

#286 Transaction Build integration tests
  tests/build/deploy_tests_resources.rs
  tests/common/configuration/genesis_model.rs
  tests/common/configuration/mod.rs
  tests/common/configuration/node_config_model.rs
  tests/common/file_utils.rs
  tests/common/jcli_wrapper.rs
  tests/common/jcli_wrapper/jcli_transaction_wrapper.rs
  tests/common/jcli_wrapper/mod.rs
  tests/common/jcli_wrapper/utxo.rs
  tests/common/mod.rs
  tests/common/process_assert.rs
  tests/common/process_utils/mod.rs
  tests/common/process_utils/output_extensions.rs
  tests/common/process_utils/process_guard.rs
  tests/common/startup/mod.rs
  tests/jcli_genesis_test.rs
  tests/jcli_rest_utxo_test.rs
  tests/jcli_transaction_test.rs
  tests/jormungandr_test.rs
  tests/lib.rs
  tests/resources/jormungandr/node.config
Labels: Tests

#295 Remove the links key from Cargo.toml
  Cargo.toml
Labels: build-system

#297 update travis ci to include `cross` and prepare for delivery
  .travis.yml
  appveyor.yml
  ci/before_deploy.ps1
  ci/before_deploy.sh
  ci/install.sh
  ci/script.sh
  tests/build/deploy_tests_resources.rs
Labels: Tests, WIP, build-system

#301 Implement block 0 fetching from network on startup
  src/network/grpc/client.rs
  src/start_up/error.rs
  src/start_up/mod.rs
Labels: subsys-network

#303 new integration tests for keys
  tests/common/file_utils.rs
  tests/common/jcli_wrapper/jcli_commands.rs
  tests/common/jcli_wrapper/mod.rs
  tests/common/startup/mod.rs
  tests/jcli_key_tests.rs
Labels: Tests

#305 Integration tests for jcli address
  tests/common/jcli_wrapper/jcli_commands.rs
  tests/common/jcli_wrapper/mod.rs
  tests/common/process_assert.rs
  tests/jcli_address_test.rs
  tests/jcli_key_tests.rs
Labels: Tests, jcli

#309 Clean test code removing warnings due to unused code
  tests/common/configuration/genesis_model.rs
  tests/common/configuration/mod.rs
  tests/common/configuration/node_config_model.rs
  tests/common/file_assert.rs
  tests/common/file_utils.rs
  tests/common/jcli_wrapper/jcli_commands.rs
  tests/common/jcli_wrapper/jcli_transaction_wrapper.rs
  tests/common/jcli_wrapper/mod.rs
  tests/common/jormungandr_wrapper.rs
  tests/common/process_assert.rs
  tests/common/process_utils/mod.rs
  tests/common/process_utils/process_guard.rs
  tests/common/startup/mod.rs
  tests/jcli_address_test.rs
  tests/jcli_key_tests.rs
Labels: Tests
