Repository input-output-hk/jormungandr, pull requests merged in 2020-05, with the labels that each got.

#2161 GH - actions, update api linter
  .github/workflows/api.yml
Labels: automated, subsys-rest

#2157 JCli vote plan certificate
  jcli/src/jcli_app/certificate/mod.rs
  jcli/src/jcli_app/certificate/new_vote_plan.rs
Labels: VOTE, enhancement, jcli

#2162 DOC - api, update specification. Fixed err/warn
  doc/api/v0.yaml
Labels: doc, enhancement, subsys-rest

#2146 override package version for nightly builds
  .github/workflows/nightly.yml
  jcli/build.rs
  jormungandr/build.rs
Labels: CI, enhancement, jcli, jörmungandr

#2164 jormungandr-lib: move sysinfo to dev-dependencies
  jormungandr-lib/Cargo.toml
Labels: Tests, bug, build-system

#2163 JCLI - certificate new vote-plan, fix empty plan
  jcli/src/jcli_app/certificate/mod.rs
  jcli/src/jcli_app/certificate/new_vote_plan.rs
Labels: VOTE, cleaning, jcli

#2166 JCLI - properly expose vote commands
  doc/api/v0.yaml
  doc/jcli/rest.md
  jcli/src/jcli_app/rest/v0/mod.rs
  jcli/src/jcli_app/rest/v0/vote/active.rs
  jcli/src/jcli_app/rest/v0/vote/committees.rs
  jcli/src/jcli_app/rest/v0/vote/mod.rs
  jcli/src/jcli_app/rest/v0/vote/plans.rs
Labels: VOTE, enhancement, jcli

#2167 Node Id leftovers
  jormungandr-integration-tests/src/mock/testing/setup.rs
  jormungandr-integration-tests/src/networking/p2p.rs
Labels: Tests, cleaning

#2168 Missing .await calls fix
  jormungandr/src/rest/v0/logic.rs
Labels: cleaning

#2170 Fix FragmentFactory import
  jormungandr-lib/src/testing/fragments/mod.rs
Labels: Tests

#2124 revert type_length_limit for rustc 1.43
  jormungandr/src/main.rs
Labels: jörmungandr, technical debt

#2171 [Test] legacy disruption tests
  jormungandr-lib/src/testing/network_builder/spawn_params.rs
  jormungandr-scenario-tests/src/scenario/controller.rs
  jormungandr-scenario-tests/src/scenario/repository/mod.rs
  jormungandr-scenario-tests/src/test/non_functional/legacy.rs
Labels: Tests

#2173 Unused imports and warnings cleanup after tokio02
  jormungandr/src/blockchain/storage.rs
  jormungandr/src/explorer/graphql/mod.rs
  jormungandr/src/network/p2p/layers/mod.rs
  jormungandr/src/rest/v0/logic.rs
Labels: cleaning

#2177 remove deps on quickcheck in jormungandr
  Cargo.lock
  jormungandr-lib/Cargo.toml
  jormungandr/Cargo.toml
  jormungandr/src/secure/enclave.rs
Labels: cleaning, dependencies, jörmungandr

#2176 Log unused results
  jormungandr/src/network/client/mod.rs
  jormungandr/src/network/mod.rs
  jormungandr/src/network/service.rs
  jormungandr/src/network/subscription.rs
  jormungandr/src/rest/v0/logic.rs
Labels: cleaning

#2178 [Test] Test maintenance
  jormungandr-lib/src/interfaces/peer_stats.rs
  testing/jormungandr-integration-tests/src/mock/testing/client_tests.rs
Labels: Tests

#2179 Sundry improvements and code cleanup in network
  .github/workflows/nightly.yml
  .github/workflows/release.yml
  jormungandr/Cargo.toml
  jormungandr/src/network/client/connect.rs
  jormungandr/src/network/mod.rs
Labels: CI, cleaning, subsys-network

#2182 Fix type aliases bound warnings
  jormungandr/src/network/convert.rs
  jormungandr/src/network/service.rs
Labels: cleaning

#2181 Remove unused polls results warnings
  jormungandr-lib/src/interfaces/vote/mod.rs
  jormungandr/src/fragment/pool.rs
  jormungandr/src/network/client/mod.rs
  jormungandr/src/network/p2p/layers/preferred_list.rs
  jormungandr/src/network/service.rs
  jormungandr/src/network/subscription.rs
Labels: cleaning

#2186 GitHub CI: build binaries from subproject manifests
  .github/workflows/nightly.yml
  .github/workflows/release.yml
Labels: CI

#2195 Clean unused and redundant members from P2pTopology
  jormungandr/src/network/mod.rs
  jormungandr/src/network/p2p/topology.rs
Labels: cleaning, subsys-network

#2199 Cleanup futures 0.1 from jormungandr
  Cargo.lock
  jormungandr/Cargo.toml
  jormungandr/src/blockchain/branch.rs
  jormungandr/src/blockchain/candidate.rs
  jormungandr/src/blockchain/chain.rs
  jormungandr/src/blockchain/multiverse.rs
  jormungandr/src/blockchain/process.rs
  jormungandr/src/blockchain/reference_cache.rs
  jormungandr/src/blockchain/storage.rs
  jormungandr/src/client.rs
  jormungandr/src/explorer/graphql/mod.rs
  jormungandr/src/explorer/mod.rs
  jormungandr/src/fragment/pool.rs
  jormungandr/src/fragment/process.rs
  jormungandr/src/intercom.rs
  jormungandr/src/leadership/logs.rs
  jormungandr/src/leadership/process.rs
  jormungandr/src/log/stream.rs
  jormungandr/src/main.rs
  jormungandr/src/network/bootstrap.rs
  jormungandr/src/network/client/connect.rs
  jormungandr/src/network/client/mod.rs
  jormungandr/src/network/convert.rs
  jormungandr/src/network/grpc/client.rs
  jormungandr/src/network/mod.rs
  jormungandr/src/network/p2p/comm.rs
  jormungandr/src/network/p2p/topology.rs
  jormungandr/src/network/service.rs
  jormungandr/src/network/subscription.rs
  jormungandr/src/rest/context.rs
  jormungandr/src/rest/explorer/handlers.rs
  jormungandr/src/rest/mod.rs
  jormungandr/src/rest/v0/logic.rs
  jormungandr/src/secure/enclave.rs
  jormungandr/src/stuck_notifier.rs
  jormungandr/src/utils/async_msg.rs
  jormungandr/src/utils/fire_forget_scheduler.rs
  jormungandr/src/utils/task.rs
Labels: cleaning, dependencies, jörmungandr

#2207 Restore stepwise processing for inbound fragments and gossip
  jormungandr/src/network/client/mod.rs
  jormungandr/src/network/subscription.rs
Labels: enhancement, subsys-network

#2209 Fix a format problem with fragment payloads, clean up in encoding code
  jormungandr/src/network/convert.rs
  jormungandr/src/network/mod.rs
Labels: bug, cleaning, subsys-network

#2210 implement to_socketaddr in jormungandr-lib
  Cargo.lock
  jormungandr-lib/Cargo.toml
  jormungandr-lib/src/lib.rs
  jormungandr-lib/src/multiaddr.rs
  jormungandr/src/network/mod.rs
  jormungandr/src/network/p2p/comm/peer_map.rs
  jormungandr/src/network/p2p/gossip.rs
  jormungandr/src/network/service.rs
  jormungandr/src/settings/start/mod.rs
  jormungandr/src/settings/start/network.rs
  testing/jormungandr-scenario-tests/src/node.rs
  testing/jormungandr-scenario-tests/src/test/features/p2p/mod.rs
Labels: cleaning, jörmungandr

#2206 JCLI - clean some clippy warning and reorganize imports
  jcli/src/jcli_app/address.rs
  jcli/src/jcli_app/block/mod.rs
  jcli/src/jcli_app/certificate/get_stake_pool_id.rs
  jcli/src/jcli_app/certificate/mod.rs
  jcli/src/jcli_app/certificate/new_owner_stake_delegation.rs
  jcli/src/jcli_app/certificate/new_stake_delegation.rs
  jcli/src/jcli_app/certificate/new_stake_pool_registration.rs
  jcli/src/jcli_app/certificate/sign.rs
  jcli/src/jcli_app/certificate/weighted_pool_ids.rs
  jcli/src/jcli_app/debug/block.rs
  jcli/src/jcli_app/debug/message.rs
  jcli/src/jcli_app/key.rs
  jcli/src/jcli_app/rest/mod.rs
  jcli/src/jcli_app/transaction/add_account.rs
  jcli/src/jcli_app/transaction/add_input.rs
  jcli/src/jcli_app/transaction/add_witness.rs
  jcli/src/jcli_app/transaction/auth.rs
  jcli/src/jcli_app/transaction/info.rs
  jcli/src/jcli_app/transaction/mk_witness.rs
  jcli/src/jcli_app/transaction/mod.rs
  jcli/src/jcli_app/transaction/staging.rs
  jcli/src/jcli_app/utils/host_addr.rs
  jcli/src/jcli_app/utils/io.rs
  jcli/src/jcli_app/utils/key_parser.rs
  jcli/src/jcli_app/utils/mod.rs
  jcli/src/jcli_app/utils/open_api_verifier.rs
  jcli/src/jcli_app/utils/rest_api.rs
Labels: cleaning, jcli

#2219 Print error lines as such
  testing/jormungandr-integration-tests/src/common/jormungandr/logger.rs
Labels: Tests

#2223 Fix replies to upload requests
  jormungandr/src/intercom.rs
  jormungandr/src/network/client/mod.rs
  jormungandr/src/network/service.rs
Labels: bug, subsys-network

#2222 [Tests] move create block test from sanity to soak tests
  testing/jormungandr-integration-tests/src/non_functional/soak.rs
Labels: Tests

#2215 [Tests] remove obsolete tests for node id
  testing/jormungandr-scenario-tests/src/scenario/repository/mod.rs
  testing/jormungandr-scenario-tests/src/test/features/p2p/mod.rs
  testing/jormungandr-scenario-tests/src/test/features/p2p/node_id.rs
Labels: Tests

#2174 doc: add CORS origin example
  doc/configuration/network.md
Labels: doc, jörmungandr

#2184 ci/release: remove unnecessary checkout
  .github/workflows/release.yml
Labels: CI

#2208 Update dependencies in Cargo.lock
  Cargo.lock
Labels: dependencies

#2225 [Tests] Fix mesh topology setup
  testing/jormungandr-scenario-tests/src/test/network/topology/scenarios.rs
Labels: Tests

#2220 jcli - certificate get-vote-plan-id, implemented
  jcli/src/jcli_app/certificate/get_vote_plan_id.rs
  jcli/src/jcli_app/certificate/mod.rs
Labels: VOTE, enhancement, jcli

#2183 CORS origin validation
  jormungandr/src/settings/start/config.rs
Labels: enhancement, jörmungandr, subsys-rest

#2227 Performance improvements and clean up in polling inbound subscription streams
  jormungandr/src/network/subscription.rs
Labels: Priority - Low, cleaning, performance, subsys-network

#2212 [Test] Added legacy nodes to private network scenario soak test
  testing/jormungandr-integration-tests/src/common/legacy/mod.rs
  testing/jormungandr-scenario-tests/src/test/network/real.rs
  testing/jormungandr-scenario-tests/src/test/utils/mod.rs
  testing/jormungandr-testing-utils/src/legacy/mod.rs
  testing/jormungandr-testing-utils/src/legacy/version.rs
Labels: Tests

#2237 [Tests] move tests to stable
  testing/jormungandr-scenario-tests/src/scenario/repository/mod.rs
Labels: Tests

#2236 [Tests] Reuse stake pool cert in test project
  testing/jormungandr-integration-tests/src/common/data/mod.rs
  testing/jormungandr-integration-tests/src/common/jormungandr/configuration_builder.rs
  testing/jormungandr-integration-tests/src/common/startup/mod.rs
  testing/jormungandr-integration-tests/src/jormungandr/genesis/rewards.rs
  testing/jormungandr-integration-tests/src/jormungandr/genesis/stake_distribution.rs
  testing/jormungandr-integration-tests/src/jormungandr/genesis/start_node.rs
  testing/jormungandr-testing-utils/src/lib.rs
  testing/jormungandr-testing-utils/src/stake_pool.rs
  testing/jormungandr-testing-utils/src/testing/fragments/initial_certificates.rs
  testing/jormungandr-testing-utils/src/testing/fragments/mod.rs
  testing/jormungandr-testing-utils/src/testing/mod.rs
  testing/jormungandr-testing-utils/src/testing/network_builder/settings.rs
Labels: Tests

#2221 [Test] Reuse rest across test projects
  jormungandr-lib/src/interfaces/peer_stats.rs
  testing/jormungandr-integration-tests/src/common/jormungandr/mod.rs
  testing/jormungandr-integration-tests/src/common/jormungandr/rest.rs
  testing/jormungandr-integration-tests/src/common/legacy/rest.rs
  testing/jormungandr-scenario-tests/src/node.rs
  testing/jormungandr-scenario-tests/src/test/features/p2p/mod.rs
Labels: Tests

#2238 remove jormungandr-watchdog experimentation
  Cargo.lock
  Cargo.toml
  jormungandr-watchdog-derive/Cargo.toml
  jormungandr-watchdog-derive/src/lib.rs
  jormungandr-watchdog/Cargo.toml
  jormungandr-watchdog/LICENSE-APACHE
  jormungandr-watchdog/LICENSE-MIT
  jormungandr-watchdog/README.md
  jormungandr-watchdog/doc/.gitignore
  jormungandr-watchdog/doc/book.toml
  jormungandr-watchdog/doc/src/SUMMARY.md
  jormungandr-watchdog/doc/src/chapter_1.md
  jormungandr-watchdog/doc/src/chapter_2.md
  jormungandr-watchdog/doc/src/chapter_3.md
  jormungandr-watchdog/doc/src/intercom_flow.svg
  jormungandr-watchdog/doc/src/overview.svg
  jormungandr-watchdog/doc/src/settings_flow.svg
  jormungandr-watchdog/doc/src/settings_overview.svg
  jormungandr-watchdog/doc/src/state_flow.svg
  jormungandr-watchdog/doc/src/state_overview.svg
  jormungandr-watchdog/examples/stdin_echo.rs
  jormungandr-watchdog/src/lib.rs
  jormungandr-watchdog/src/service/control.rs
  jormungandr-watchdog/src/service/intercom.rs
  jormungandr-watchdog/src/service/mod.rs
  jormungandr-watchdog/src/service/settings.rs
  jormungandr-watchdog/src/service/state.rs
  jormungandr-watchdog/src/service/stats.rs
  jormungandr-watchdog/src/service/status.rs
  jormungandr-watchdog/src/watchdog/control_command.rs
  jormungandr-watchdog/src/watchdog/mod.rs
  jormungandr-watchdog/src/watchdog/monitor.rs
  jormungandr-watchdog/tests/compat.rs
  jormungandr-watchdog/tests/ping_pong.rs
  jormungandr-watchdog/tests/watchdog.rs
  jormungandr/Cargo.toml
Labels: cleaning, dependencies

#2239 cleaning up some dependencies
  Cargo.lock
  jormungandr-lib/Cargo.toml
  jormungandr/Cargo.toml
  testing/jormungandr-integration-tests/Cargo.toml
Labels: cleaning, dependencies

#2246 [Tests] Fix for disruption test - added more transactions.
  testing/jormungandr-scenario-tests/src/test/non_functional/disruption.rs
  testing/jormungandr-scenario-tests/src/test/utils/mod.rs
Labels: Tests

#2240 [Tests] Expose send fragment api from wallet
  testing/jormungandr-integration-tests/src/common/configuration/jormungandr_config.rs
  testing/jormungandr-integration-tests/src/common/configuration/node_config_builder.rs
  testing/jormungandr-integration-tests/src/common/jormungandr/configuration_builder.rs
  testing/jormungandr-integration-tests/src/common/jormungandr/process.rs
  testing/jormungandr-integration-tests/src/common/jormungandr/starter/commands.rs
  testing/jormungandr-integration-tests/src/common/jormungandr/starter/mod.rs
  testing/jormungandr-integration-tests/src/common/legacy/configuration_builder.rs
  testing/jormungandr-integration-tests/src/common/legacy/jormungandr_configuration.rs
  testing/jormungandr-integration-tests/src/common/legacy/node.rs
  testing/jormungandr-integration-tests/src/common/legacy/starter.rs
  testing/jormungandr-integration-tests/src/common/network/controller.rs
  testing/jormungandr-integration-tests/src/common/startup/mod.rs
  testing/jormungandr-integration-tests/src/jormungandr/genesis/start_node.rs
  testing/jormungandr-integration-tests/src/mock/testing/server_tests.rs
  testing/jormungandr-testing-utils/Cargo.toml
  testing/jormungandr-testing-utils/src/stake_pool.rs
  testing/jormungandr-testing-utils/src/testing/fragments/initial_certificates.rs
  testing/jormungandr-testing-utils/src/testing/fragments/mod.rs
  testing/jormungandr-testing-utils/src/testing/network_builder/settings.rs
  testing/jormungandr-testing-utils/src/wallet/mod.rs
Labels: Tests

#2245 [Tests] Fragments send utils
  testing/jormungandr-integration-tests/src/common/configuration/node_config_builder.rs
  testing/jormungandr-integration-tests/src/common/jormungandr/mod.rs
  testing/jormungandr-integration-tests/src/common/jormungandr/process.rs
  testing/jormungandr-integration-tests/src/common/jormungandr/rest.rs
  testing/jormungandr-integration-tests/src/common/jormungandr/starter/mod.rs
  testing/jormungandr-integration-tests/src/common/legacy/node.rs
  testing/jormungandr-integration-tests/src/common/legacy/rest.rs
  testing/jormungandr-integration-tests/src/jormungandr/genesis/fragments.rs
  testing/jormungandr-integration-tests/src/jormungandr/genesis/mod.rs
  testing/jormungandr-integration-tests/src/jormungandr/genesis/start_node.rs
  testing/jormungandr-integration-tests/src/jormungandr/legacy/mod.rs
  testing/jormungandr-integration-tests/src/jormungandr/mod.rs
  testing/jormungandr-scenario-tests/src/example_scenarios.rs
  testing/jormungandr-scenario-tests/src/legacy/node.rs
  testing/jormungandr-scenario-tests/src/lib.rs
  testing/jormungandr-scenario-tests/src/main.rs
  testing/jormungandr-scenario-tests/src/node.rs
  testing/jormungandr-scenario-tests/src/scenario/controller.rs
  testing/jormungandr-scenario-tests/src/scenario/fragment_node.rs
  testing/jormungandr-scenario-tests/src/scenario/mod.rs
  testing/jormungandr-scenario-tests/src/test/comm/leader_leader.rs
  testing/jormungandr-scenario-tests/src/test/comm/passive_leader.rs
  testing/jormungandr-scenario-tests/src/test/mod.rs
  testing/jormungandr-scenario-tests/src/test/network/real.rs
  testing/jormungandr-scenario-tests/src/test/network/topology/scenarios.rs
  testing/jormungandr-scenario-tests/src/test/non_functional/disruption.rs
  testing/jormungandr-scenario-tests/src/test/non_functional/legacy.rs
  testing/jormungandr-scenario-tests/src/test/non_functional/soak.rs
  testing/jormungandr-scenario-tests/src/test/utils/mod.rs
  testing/jormungandr-testing-utils/src/stake_pool.rs
  testing/jormungandr-testing-utils/src/testing/fragments/mod.rs
  testing/jormungandr-testing-utils/src/testing/fragments/node.rs
  testing/jormungandr-testing-utils/src/testing/fragments/sender.rs
  testing/jormungandr-testing-utils/src/testing/fragments/verifier.rs
  testing/jormungandr-testing-utils/src/testing/mod.rs
  testing/jormungandr-testing-utils/src/testing/network_builder/wallet.rs
Labels: Tests

#2252 Port integration tests to grpc 0.8
  Cargo.lock
  testing/jormungandr-integration-tests/Cargo.toml
  testing/jormungandr-integration-tests/build.rs
  testing/jormungandr-integration-tests/src/bin/mock_client_app.rs
  testing/jormungandr-integration-tests/src/mock/client.rs
  testing/jormungandr-integration-tests/src/mock/mod.rs
  testing/jormungandr-integration-tests/src/mock/proto/node.rs
  testing/jormungandr-integration-tests/src/mock/proto/node_grpc.rs
  testing/jormungandr-integration-tests/src/mock/server.rs
  testing/jormungandr-integration-tests/src/mock/testing/server_tests.rs
Labels: Tests, dependencies

#2254 update the header import, use proper module as expected
  jormungandr/src/blockchain/process.rs
Labels: cleaning

#2253 blockchain/storage: remove BlockInfo from the public interface
  jormungandr/src/blockchain/storage.rs
Labels: cleaning, jörmungandr, subsys-storage

#2248 Rest - add voteplan_id and proposal_index
  jormungandr-lib/src/interfaces/mod.rs
  jormungandr-lib/src/interfaces/vote/mod.rs
  jormungandr/src/rest/v0/logic.rs
Labels: VOTE, enhancement, subsys-rest, technical debt

#2241 Rest - /api/v0/message, add framentdID to response
  doc/api/v0.yaml
  jcli/src/jcli_app/rest/v0/message/mod.rs
  jormungandr/src/rest/v0/handlers.rs
  jormungandr/src/rest/v0/logic.rs
Labels: enhancement, jcli, subsys-rest

#2266 [Tests] Logger fix in integration tests
  testing/jormungandr-integration-tests/src/common/jormungandr/logger.rs
Labels: Tests

#2271 [Tests] Reveal fragment node error
  testing/jormungandr-integration-tests/src/common/jormungandr/mod.rs
  testing/jormungandr-testing-utils/src/testing/fragments/node.rs
Labels: Tests

#2265 [Tests] Grpc test stack migration to tonic
  Cargo.lock
  testing/jormungandr-integration-tests/Cargo.toml
  testing/jormungandr-integration-tests/build.rs
  testing/jormungandr-integration-tests/src/bin/mock_client_app.rs
  testing/jormungandr-integration-tests/src/bin/mock_server_app.rs
  testing/jormungandr-integration-tests/src/common/configuration/jormungandr_config.rs
  testing/jormungandr-integration-tests/src/lib.rs
  testing/jormungandr-integration-tests/src/mock/client.rs
  testing/jormungandr-integration-tests/src/mock/mod.rs
  testing/jormungandr-integration-tests/src/mock/proto/mod.rs
  testing/jormungandr-integration-tests/src/mock/proto/node.rs
  testing/jormungandr-integration-tests/src/mock/proto/node_grpc.rs
  testing/jormungandr-integration-tests/src/mock/server.rs
  testing/jormungandr-integration-tests/src/mock/testing/client_tests.rs
  testing/jormungandr-integration-tests/src/mock/testing/server_tests.rs
  testing/jormungandr-integration-tests/src/mock/testing/setup.rs
  testing/jormungandr-scenario-tests/Cargo.toml
  testing/jormungandr-scenario-tests/src/legacy/node.rs
  testing/jormungandr-scenario-tests/src/node.rs
Labels: Tests

#2277 [Tests] Fault tolerant sender
  Cargo.lock
  testing/jormungandr-integration-tests/Cargo.toml
  testing/jormungandr-integration-tests/src/common/jormungandr/rest.rs
  testing/jormungandr-integration-tests/src/common/legacy/node.rs
  testing/jormungandr-integration-tests/src/jormungandr/legacy/mod.rs
  testing/jormungandr-integration-tests/src/mock/client.rs
  testing/jormungandr-integration-tests/src/mock/testing/client_tests.rs
  testing/jormungandr-integration-tests/src/mock/testing/server_tests.rs
  testing/jormungandr-integration-tests/src/mock/testing/setup.rs
  testing/jormungandr-scenario-tests/src/example_scenarios.rs
  testing/jormungandr-scenario-tests/src/node.rs
  testing/jormungandr-scenario-tests/src/scenario/controller.rs
  testing/jormungandr-scenario-tests/src/test/comm/leader_leader.rs
  testing/jormungandr-scenario-tests/src/test/comm/passive_leader.rs
  testing/jormungandr-scenario-tests/src/test/features/p2p/connections.rs
  testing/jormungandr-scenario-tests/src/test/features/p2p/mod.rs
  testing/jormungandr-scenario-tests/src/test/network/topology/scenarios.rs
  testing/jormungandr-scenario-tests/src/test/non_functional/disruption.rs
  testing/jormungandr-scenario-tests/src/test/non_functional/legacy.rs
  testing/jormungandr-scenario-tests/src/test/non_functional/soak.rs
  testing/jormungandr-scenario-tests/src/test/utils/mod.rs
  testing/jormungandr-testing-utils/src/testing/fragments/mod.rs
  testing/jormungandr-testing-utils/src/testing/fragments/sender.rs
  testing/jormungandr-testing-utils/src/testing/fragments/setup.rs
  testing/jormungandr-testing-utils/src/testing/fragments/verifier.rs
  testing/jormungandr-testing-utils/src/testing/measurement/benchmark/speed_benchmark.rs
  testing/jormungandr-testing-utils/src/testing/mod.rs
  testing/jormungandr-testing-utils/src/testing/sync/mod.rs
  testing/jormungandr-testing-utils/src/testing/sync/wait.rs
Labels: Tests

#2258 Implement bft leader explorer tracking
  jormungandr/src/explorer/graphql/mod.rs
  jormungandr/src/explorer/indexing.rs
  jormungandr/src/explorer/mod.rs
Labels: explorer

#2278 Add vote plan proposal certificates to explorer
  jormungandr/src/explorer/graphql/certificates.rs
  jormungandr/src/explorer/graphql/connections.rs
  jormungandr/src/explorer/graphql/mod.rs
  jormungandr/src/explorer/graphql/scalars.rs
  jormungandr/src/explorer/indexing.rs
  jormungandr/src/explorer/mod.rs
  jormungandr/src/explorer/persistent_sequence.rs
Labels: explorer

#2287 Rest - add payload to voteplan display
  doc/api/v0.yaml
  jormungandr-lib/src/interfaces/vote/mod.rs
Labels: VOTE, doc, enhancement, subsys-rest

#2211 [Tests] legacy node testnet scenario
  testing/jormungandr-integration-tests/src/common/legacy/starter.rs
  testing/jormungandr-integration-tests/src/networking/testnet.rs
Labels: Tests

#2290 [Tests] Private scenario network fixes pack
  testing/jormungandr-scenario-tests/src/main.rs
  testing/jormungandr-scenario-tests/src/scenario/repository/mod.rs
  testing/jormungandr-scenario-tests/src/test/comm/passive_leader.rs
  testing/jormungandr-testing-utils/src/testing/fragments/sender.rs
  testing/jormungandr-testing-utils/src/testing/fragments/setup.rs
Labels: Tests

#2288 output error instead of panicking when found self in prefferred_list
  jormungandr/src/network/mod.rs
Labels: bug, jörmungandr, subsys-network

#2296 [Tests] Fixed node grpc address
  testing/jormungandr-integration-tests/src/common/jormungandr/process.rs
  testing/jormungandr-integration-tests/src/common/jormungandr/rest.rs
  testing/jormungandr-integration-tests/src/common/legacy/rest.rs
  testing/jormungandr-scenario-tests/src/example_scenarios.rs
  testing/jormungandr-scenario-tests/src/legacy/node.rs
  testing/jormungandr-scenario-tests/src/node.rs
  testing/jormungandr-scenario-tests/src/test/utils/mod.rs
  testing/jormungandr-testing-utils/src/testing/sync/mod.rs
Labels: Tests
