Repository input-output-hk/jormungandr, pull requests merged in 2020-02, with the labels that each got.

#1668 [Tests] another timeout extend for testnet
  jormungandr-integration-tests/src/networking/testnet.rs
Labels: Tests

#1683 [Tests] Private network tests - listen/public address split
  jormungandr-lib/src/interfaces/config/node.rs
  jormungandr-lib/src/interfaces/stats.rs
  jormungandr-scenario-tests/src/node.rs
  jormungandr-scenario-tests/src/scenario/repository/mod.rs
  jormungandr-scenario-tests/src/test/utils/mod.rs
Labels: Tests

#1696 Separate limit for client connections
  doc/configuration/network.md
  jormungandr/src/network/mod.rs
  jormungandr/src/network/p2p/comm.rs
  jormungandr/src/network/p2p/comm/peer_map.rs
  jormungandr/src/settings/start/config.rs
  jormungandr/src/settings/start/mod.rs
  jormungandr/src/settings/start/network.rs
Labels: enhancement, subsys-network

#1700 Convert leadership module to tokio 0.2 and futures 0.3
  Cargo.lock
  jormungandr/Cargo.toml
  jormungandr/src/leadership/enclave.rs
  jormungandr/src/leadership/logs.rs
  jormungandr/src/leadership/process.rs
  jormungandr/src/main.rs
  jormungandr/src/rest/v0/handlers.rs
  jormungandr/src/secure/enclave.rs
Labels: cleaning, jörmungandr

#1698 Refactor REST API to remove sync locking and make it more isolated
  jormungandr/src/main.rs
  jormungandr/src/rest/explorer/handlers.rs
  jormungandr/src/rest/mod.rs
  jormungandr/src/rest/v0/handlers.rs
Labels: jörmungandr, subsys-rest

#1733 [Tests] updated node stats with total_peer_cnt and node_id fields
  jormungandr-lib/src/interfaces/stats.rs
Labels: Tests

#1738 Do not truncate the list of peers for propagation
  jormungandr/src/network/mod.rs
Labels: subsys-network

#1745 convert storage bootstrap to std::futures
  jormungandr/src/blockchain/chain.rs
  jormungandr/src/blockchain/tip.rs
  jormungandr/src/start_up/mod.rs
Labels: subsys-storage

#1744 Add std::future compliant version of spawn and run_periodic
  jormungandr/src/utils/task.rs
Labels: cleaning

#1731 [Tests] Move remove address duplication in integration tests
  jormungandr-integration-tests/src/common/configuration/jormungandr_config.rs
  jormungandr-integration-tests/src/common/data/address.rs
  jormungandr-integration-tests/src/common/data/mod.rs
  jormungandr-integration-tests/src/common/jcli_wrapper/jcli_transaction_wrapper/mod.rs
  jormungandr-integration-tests/src/common/jormungandr/starter.rs
  jormungandr-integration-tests/src/common/startup/mod.rs
  jormungandr-integration-tests/src/jcli/genesis/encode.rs
  jormungandr-integration-tests/src/jcli/rest/utxo.rs
  jormungandr-integration-tests/src/jcli/transaction/e2e.rs
  jormungandr-integration-tests/src/jcli/transaction/finalize.rs
  jormungandr-integration-tests/src/jormungandr/bft/start_node.rs
  jormungandr-integration-tests/src/jormungandr/explorer/mod.rs
  jormungandr-integration-tests/src/jormungandr/genesis/stake_pool.rs
  jormungandr-integration-tests/src/jormungandr/genesis/start_node.rs
  jormungandr-integration-tests/src/jormungandr/mempool/mod.rs
  jormungandr-integration-tests/src/jormungandr/recovery.rs
  jormungandr-integration-tests/src/mock/testing/client_tests.rs
  jormungandr-integration-tests/src/networking/communication.rs
  jormungandr-integration-tests/src/networking/testnet.rs
  jormungandr-integration-tests/src/non_functional/sanity.rs
  jormungandr-integration-tests/src/non_functional/soak.rs
  jormungandr-lib/src/crypto/account.rs
  jormungandr-lib/src/lib.rs
  jormungandr-lib/src/wallet/account.rs
  jormungandr-lib/src/wallet/delegation.rs
  jormungandr-lib/src/wallet/mod.rs
  jormungandr-lib/src/wallet/utxo.rs
  jormungandr-scenario-tests/src/wallet.rs
  jormungandr-scenario-tests/src/wallet/utxo.rs
Labels: Tests

#1750 fragment: convert to std::future
  jormungandr/src/fragment/logs.rs
  jormungandr/src/fragment/pool.rs
  jormungandr/src/fragment/process.rs
  jormungandr/src/leadership/process.rs
  jormungandr/src/main.rs
  jormungandr/src/rest/v0/handlers.rs
  jormungandr/src/utils/task.rs
Labels: cleaning, jörmungandr

#1754 Input process async
  jormungandr/src/blockchain/branch.rs
  jormungandr/src/blockchain/process.rs
  jormungandr/src/blockchain/tip.rs
  jormungandr/src/start_up/mod.rs
  jormungandr/src/utils/task.rs
Labels: cleaning, jörmungandr, subsys-block

#1753 [Test] Quarantine update in private network tests
  jormungandr-integration-tests/src/common/configuration/node_config_builder.rs
  jormungandr-lib/src/interfaces/config/log.rs
  jormungandr-lib/src/interfaces/config/mod.rs
  jormungandr-lib/src/interfaces/config/node.rs
  jormungandr-scenario-tests/src/scenario/repository/mod.rs
  jormungandr-scenario-tests/src/scenario/settings.rs
  jormungandr-scenario-tests/src/test/comm/leader_leader.rs
  jormungandr-scenario-tests/src/test/comm/passive_leader.rs
  jormungandr-scenario-tests/src/test/network/topology/scenarios.rs
  jormungandr-scenario-tests/src/test/non_functional/disruption.rs
  jormungandr-scenario-tests/src/test/non_functional/mod.rs
  jormungandr-scenario-tests/src/test/non_functional/soak.rs
  jormungandr-scenario-tests/src/test/non_functional/sync.rs
  jormungandr-scenario-tests/src/test/utils/mod.rs
  jormungandr-scenario-tests/src/test/utils/wait.rs
Labels: Tests

#1740 node stats update
  doc/jcli/rest.md
  doc/openapi.yaml
  jormungandr-integration-tests/Cargo.toml
  jormungandr-lib/Cargo.toml
  jormungandr-scenario-tests/Cargo.toml
Labels: doc

#1768 [Tests] remove duplicated tests after functional test conversion
  jormungandr-integration-tests/src/mock/testing/server_tests.rs
  jormungandr-scenario-tests/src/scenario/repository/mod.rs
  jormungandr-scenario-tests/src/test/non_functional/mod.rs
  jormungandr-scenario-tests/src/test/non_functional/sync.rs
Labels: Tests

#1763 [Tests] Converted self node perf test from assertion to measurement based
  jormungandr-integration-tests/src/common/jcli_wrapper/mod.rs
  jormungandr-integration-tests/src/common/jormungandr/mod.rs
  jormungandr-integration-tests/src/common/jormungandr/process.rs
  jormungandr-integration-tests/src/non_functional/mod.rs
  jormungandr-integration-tests/src/non_functional/sanity.rs
  jormungandr-lib/src/lib.rs
  jormungandr-lib/src/testing/measurement/mod.rs
  jormungandr-lib/src/testing/measurement/status.rs
  jormungandr-lib/src/testing/measurement/thresholds.rs
  jormungandr-lib/src/testing/mod.rs
  jormungandr-scenario-tests/src/main.rs
  jormungandr-scenario-tests/src/scenario/repository/measurement/mod.rs
  jormungandr-scenario-tests/src/scenario/repository/measurement/thresholds.rs
  jormungandr-scenario-tests/src/scenario/repository/mod.rs
  jormungandr-scenario-tests/src/scenario/repository/result.rs
  jormungandr-scenario-tests/src/scenario/repository/suite_result.rs
  jormungandr-scenario-tests/src/test/comm/leader_leader.rs
  jormungandr-scenario-tests/src/test/comm/passive_leader.rs
  jormungandr-scenario-tests/src/test/network/topology/scenarios.rs
  jormungandr-scenario-tests/src/test/non_functional/disruption.rs
  jormungandr-scenario-tests/src/test/non_functional/mod.rs
  jormungandr-scenario-tests/src/test/non_functional/soak.rs
  jormungandr-scenario-tests/src/test/utils/mod.rs
  jormungandr-scenario-tests/src/test/utils/wait.rs
Labels: Tests

#1779 Don't hold the fragment pool lock for too long
  jormungandr/src/fragment/pool.rs
Labels: enhancement, subsys-mempool

#1780 Don't block in the logs and the pools
  jormungandr/src/fragment/logs.rs
  jormungandr/src/fragment/pool.rs
  jormungandr/src/leadership/logs.rs
Labels: Priority - High, bug

#1776 report the stake for the selected pool instead of the whole system stake
  jormungandr/src/rest/v0/handlers.rs
Labels: blocker, bug

#1782 use the View instead of the All
  jormungandr/src/network/p2p/topology.rs
Labels: subsys-network

#1784 fix sqlite failute in block validation
  jormungandr/src/blockchain/storage.rs
Labels: jörmungandr, subsys-storage

#1783 [Tests] Garbage collection issue test case
  jormungandr-integration-tests/src/common/configuration/jormungandr_config.rs
  jormungandr-integration-tests/src/common/jormungandr/process.rs
  jormungandr-integration-tests/src/jormungandr/mempool/mod.rs
  jormungandr-integration-tests/src/networking/communication.rs
Labels: Tests

#1799 Improve fetch of block0 using easy HTTP services
  Cargo.lock
  doc/configuration/introduction.md
  jormungandr/Cargo.toml
  jormungandr/src/blockchain/storage.rs
  jormungandr/src/network/grpc/client.rs
  jormungandr/src/settings/mod.rs
  jormungandr/src/settings/start/config.rs
  jormungandr/src/settings/start/mod.rs
  jormungandr/src/settings/start/network.rs
  jormungandr/src/start_up/error.rs
  jormungandr/src/start_up/mod.rs
Labels: enhancement, subsys-block, subsys-network

#1800 poldercast update to 0.11.3
  Cargo.lock
  jormungandr-integration-tests/Cargo.toml
  jormungandr-lib/Cargo.toml
  jormungandr-scenario-tests/Cargo.toml
  jormungandr/Cargo.toml
Labels: jörmungandr

#1794 Use peers retrieved during bootstrap
  jormungandr-integration-tests/src/common/configuration/jormungandr_config.rs
  jormungandr-integration-tests/src/common/configuration/node_config_builder.rs
  jormungandr-integration-tests/src/mock/proto/node.rs
  jormungandr-integration-tests/src/mock/testing/server_tests.rs
  jormungandr/src/client.rs
  jormungandr/src/network/bootstrap.rs
  jormungandr/src/network/mod.rs
  jormungandr/src/network/p2p/topology.rs
  jormungandr/src/settings/start/config.rs
  jormungandr/src/settings/start/mod.rs
  jormungandr/src/settings/start/network.rs
Labels: enhancement

#1813 [Tests ] fix tests after skip_bootstrap parameter introduction
  jormungandr-integration-tests/src/common/configuration/node_config_builder.rs
  jormungandr-lib/src/interfaces/config/node.rs
  jormungandr-scenario-tests/src/scenario/settings.rs
Labels: Tests

#1814 More async
  jormungandr/src/blockchain/candidate.rs
  jormungandr/src/blockchain/chain.rs
  jormungandr/src/blockchain/mod.rs
  jormungandr/src/blockchain/process.rs
  jormungandr/src/network/bootstrap.rs
Labels: enhancement, jörmungandr, subsys-block

#1822 Netboot improvements
  jormungandr/src/blockcfg/mod.rs
  jormungandr/src/blockchain/candidate.rs
  jormungandr/src/blockchain/chain.rs
  jormungandr/src/blockchain/process.rs
  jormungandr/src/blockchain/tip.rs
  jormungandr/src/leadership/process.rs
  jormungandr/src/network/bootstrap.rs
  jormungandr/src/network/mod.rs
  jormungandr/src/rest/v0/handlers.rs
Labels: enhancement, subsys-network

#1597 Initial watchdog commit
  Cargo.lock
  Cargo.toml
  jormungandr-watchdog-derive/Cargo.toml
  jormungandr-watchdog-derive/src/lib.rs
  jormungandr-watchdog/Cargo.toml
  jormungandr-watchdog/LICENSE-APACHE
  jormungandr-watchdog/LICENSE-MIT
  jormungandr-watchdog/README.md
  jormungandr-watchdog/doc/.gitignore
  jormungandr-watchdog/doc/book.toml
  jormungandr-watchdog/doc/src/SUMMARY.md
  jormungandr-watchdog/doc/src/chapter_1.md
  jormungandr-watchdog/doc/src/chapter_2.md
  jormungandr-watchdog/doc/src/chapter_3.md
  jormungandr-watchdog/doc/src/intercom_flow.svg
  jormungandr-watchdog/doc/src/overview.svg
  jormungandr-watchdog/doc/src/settings_flow.svg
  jormungandr-watchdog/doc/src/settings_overview.svg
  jormungandr-watchdog/doc/src/state_flow.svg
  jormungandr-watchdog/doc/src/state_overview.svg
  jormungandr-watchdog/examples/stdin_echo.rs
  jormungandr-watchdog/src/lib.rs
  jormungandr-watchdog/src/service/control.rs
  jormungandr-watchdog/src/service/intercom.rs
  jormungandr-watchdog/src/service/mod.rs
  jormungandr-watchdog/src/service/settings.rs
  jormungandr-watchdog/src/service/state.rs
  jormungandr-watchdog/src/service/stats.rs
  jormungandr-watchdog/src/service/status.rs
  jormungandr-watchdog/src/watchdog/control_command.rs
  jormungandr-watchdog/src/watchdog/mod.rs
  jormungandr-watchdog/src/watchdog/monitor.rs
  jormungandr-watchdog/tests/compat.rs
  jormungandr-watchdog/tests/ping_pong.rs
  jormungandr-watchdog/tests/watchdog.rs
Labels: enhancement, subsys-threading

#1817 storage: Optimize PumpedStream
  jormungandr/src/blockchain/storage.rs
Labels: enhancement, jörmungandr, subsys-storage

#1825 remove log_ttl for the leadership and use a LruCache instead
  Cargo.lock
  doc/configuration/leadership.md
  jormungandr/Cargo.toml
  jormungandr/src/leadership/logs.rs
  jormungandr/src/leadership/process.rs
  jormungandr/src/main.rs
  jormungandr/src/settings/start/config.rs
Labels: breaking-change, enhancement, jörmungandr, technical debt

#1823 Update the stuck notifier to work in standard future
  jormungandr/src/main.rs
  jormungandr/src/stuck_notifier.rs
  jormungandr/src/utils/task.rs
Labels: jörmungandr, technical debt

#1185 Update the node configuration documentation
  doc/configuration/introduction.md
Labels: doc

#1826 Remove delay queue from ref cache
  jormungandr/src/blockchain/chain.rs
  jormungandr/src/blockchain/reference_cache.rs
  jormungandr/src/main.rs
  jormungandr/src/start_up/mod.rs
Labels: jörmungandr, technical debt

#1828 Use LRU instead of DelayQueue in fragment module
  doc/configuration/mempool.md
  jormungandr-integration-tests/src/jormungandr/mempool/mod.rs
  jormungandr-integration-tests/src/jormungandr/mod.rs
  jormungandr-integration-tests/src/non_functional/soak.rs
  jormungandr-lib/src/interfaces/config/mempool.rs
  jormungandr/src/fragment/logs.rs
  jormungandr/src/fragment/pool.rs
  jormungandr/src/fragment/process.rs
  jormungandr/src/intercom.rs
  jormungandr/src/main.rs
Labels: breaking-change, enhancement, jörmungandr, subsys-mempool, technical debt

#1833 fix build warning in stuck notifier
  jormungandr/src/stuck_notifier.rs
Labels: cleaning

#1760 Enclave avoid duplicated Leaders
  Cargo.lock
  jormungandr/Cargo.toml
  jormungandr/src/secure/enclave.rs
Labels: Priority - Medium, bug, jörmungandr, subsys-crypto

#1805 [Test] Benchmark api for tests
  jormungandr-integration-tests/src/common/jormungandr/starter.rs
  jormungandr-integration-tests/src/networking/testnet.rs
  jormungandr-integration-tests/src/non_functional/sanity.rs
  jormungandr-integration-tests/src/non_functional/soak.rs
  jormungandr-lib/src/testing/measurement/attribute/efficiency.rs
  jormungandr-lib/src/testing/measurement/attribute/endurance.rs
  jormungandr-lib/src/testing/measurement/attribute/mod.rs
  jormungandr-lib/src/testing/measurement/attribute/speed.rs
  jormungandr-lib/src/testing/measurement/benchmark/efficiency_benchmark.rs
  jormungandr-lib/src/testing/measurement/benchmark/endurance_benchmark.rs
  jormungandr-lib/src/testing/measurement/benchmark/mod.rs
  jormungandr-lib/src/testing/measurement/benchmark/speed_benchmark.rs
  jormungandr-lib/src/testing/measurement/marker/counter.rs
  jormungandr-lib/src/testing/measurement/marker/mod.rs
  jormungandr-lib/src/testing/measurement/marker/timestamp.rs
  jormungandr-lib/src/testing/measurement/mod.rs
  jormungandr-lib/src/testing/measurement/thresholds.rs
  jormungandr-lib/src/testing/mod.rs
  jormungandr-scenario-tests/src/scenario/repository/mod.rs
  jormungandr-scenario-tests/src/scenario/repository/result.rs
  jormungandr-scenario-tests/src/scenario/repository/suite_result.rs
  jormungandr-scenario-tests/src/test/utils/mod.rs
  jormungandr-scenario-tests/src/test/utils/wait.rs
Labels: Tests

#1836 Time limits on client connections
  jormungandr/src/network/bootstrap.rs
  jormungandr/src/network/client/connect.rs
  jormungandr/src/network/grpc/client.rs
  jormungandr/src/network/mod.rs
  jormungandr/src/settings/start/network.rs
Labels: enhancement, jörmungandr, subsys-network

#1844 Restore connect error message formatting
  jormungandr/src/network/mod.rs
Labels: Tests, subsys-network

#1851 speedup loading from storage
  jormungandr/src/blockchain/chain.rs
  jormungandr/src/blockchain/mod.rs
  jormungandr/src/blockchain/process.rs
  jormungandr/src/network/bootstrap.rs
Labels: enhancement, jörmungandr, subsys-crypto

#1852 Avoid inconsistency between block store and state
  jormungandr/src/blockchain/chain.rs
  jormungandr/src/blockchain/process.rs
Labels: jörmungandr, subsys-block

#1854 Publish docs with github actions
  .github/workflows/docs.yml
Labels: automated, doc

#1858 huge simplication of the code for the leader enclave holder
  jormungandr/src/rest/v0/handlers.rs
  jormungandr/src/secure/enclave.rs
Labels: Priority - High, bug, jörmungandr, subsys-rest

#1860 GitHub actions mdbook build and deploy
  .github/workflows/docs.yml
Labels: automated, doc

#1859 GitHub actions cross compiling fix
  .github/workflows/release.yml
Labels: automated, build-system, jörmungandr

#1845 Structopt to 0.3
  Cargo.lock
  jcli/Cargo.toml
  jcli/src/jcli_app/address.rs
  jcli/src/jcli_app/certificate/new_stake_delegation.rs
  jcli/src/jcli_app/certificate/new_stake_pool_registration.rs
  jcli/src/jcli_app/certificate/weighted_pool_ids.rs
  jcli/src/jcli_app/rest/v0/account/mod.rs
  jormungandr-integration-tests/src/common/jcli_wrapper/mod.rs
  jormungandr-integration-tests/src/jcli/key/from_bytes.rs
  jormungandr-integration-tests/src/jcli/key/generate.rs
  jormungandr-integration-tests/src/jcli/transaction/input.rs
  jormungandr-scenario-tests/Cargo.toml
  jormungandr-scenario-tests/src/main.rs
  jormungandr/Cargo.toml
  jormungandr/src/settings/command_arguments.rs
Labels: dependencies

#1849 [Tests] Performance test for bootstrap
  jormungandr-integration-tests/src/common/configuration/node_config_builder.rs
  jormungandr-integration-tests/src/common/jormungandr/benchmark.rs
  jormungandr-integration-tests/src/common/jormungandr/configuration_builder.rs
  jormungandr-integration-tests/src/common/jormungandr/logger.rs
  jormungandr-integration-tests/src/common/jormungandr/mod.rs
  jormungandr-integration-tests/src/common/jormungandr/starter.rs
  jormungandr-integration-tests/src/networking/testnet.rs
  jormungandr-lib/src/testing/measurement/attribute/endurance.rs
  jormungandr-lib/src/testing/measurement/attribute/speed.rs
  jormungandr-lib/src/testing/measurement/benchmark/endurance_benchmark.rs
  jormungandr-lib/src/testing/measurement/benchmark/speed_benchmark.rs
  jormungandr-lib/src/testing/measurement/marker/timestamp.rs
  jormungandr-lib/src/testing/measurement/mod.rs
  jormungandr-lib/src/testing/measurement/thresholds.rs
  jormungandr-lib/src/testing/mod.rs
Labels: Tests

#1846 Update build documentation in README
  README.md
Labels: doc
