Repository input-output-hk/jormungandr, pull requests merged in 2020-01, with the labels that each got.

#1414 [Tests] Explorer test
  Cargo.lock
  jormungandr-integration-tests/Cargo.toml
  jormungandr-integration-tests/src/common/configuration/node_config_model.rs
  jormungandr-integration-tests/src/common/explorer/client/mod.rs
  jormungandr-integration-tests/src/common/explorer/data/mod.rs
  jormungandr-integration-tests/src/common/explorer/data/transaction.rs
  jormungandr-integration-tests/src/common/explorer/mod.rs
  jormungandr-integration-tests/src/common/jormungandr/configuration_builder.rs
  jormungandr-integration-tests/src/common/jormungandr/process.rs
  jormungandr-integration-tests/src/common/jormungandr/starter.rs
  jormungandr-integration-tests/src/common/mod.rs
  jormungandr-integration-tests/src/jormungandr/explorer/mod.rs
  jormungandr-integration-tests/src/jormungandr/mod.rs
Labels: Tests

#1478 [Test] Collect reward test fix
  jormungandr-integration-tests/src/common/configuration/jormungandr_config.rs
  jormungandr-integration-tests/src/common/jormungandr/commands.rs
  jormungandr-integration-tests/src/common/jormungandr/configuration_builder.rs
  jormungandr-integration-tests/src/common/jormungandr/starter.rs
  jormungandr-integration-tests/src/common/startup/mod.rs
  jormungandr-integration-tests/src/jormungandr/genesis/rewards.rs
  jormungandr-integration-tests/src/jormungandr/genesis/start_node.rs
Labels: Tests

#1481 [Tests] build fix for explorer pr
  jormungandr-integration-tests/src/jormungandr/explorer/mod.rs
  jormungandr-integration-tests/src/jormungandr/genesis/rewards.rs
Labels: Tests

#1483 Fix stake pool OpenAPI lacking pool_id parameter
  doc/openapi.yaml
Labels: doc, subsys-rest

#1484 Clean up docs for network public_id
  doc/configuration/network.md
Labels: doc

#1506 Docs: configuration/network - gossip_interval - fix default value
  doc/configuration/network.md
Labels: doc

#1145 Custom Dockerfile for CircleCI
  appveyor.yml
  docker/ci/Dockerfile.nightly
  docker/ci/Dockerfile.release
Labels: Tests

#1354 add command line tool to prepare the changelogs
  tools/prepare-changelog.sh
Labels: packaging

#1441 enforce the correct order of writes to storage
  jormungandr/src/blockchain/storage.rs
Labels: bug, subsys-storage

#1486 Command for generating the public id
  doc/configuration/network.md
Labels: doc

#1508 enable shared cache for in-memory databases
  jormungandr/src/start_up/mod.rs
Labels: bug, jörmungandr, subsys-storage

#1497 Implement a TCP server connection manager that rejects incoming connections when full
  Cargo.lock
  jormungandr/Cargo.toml
  jormungandr/src/main.rs
  jormungandr/src/network/grpc/server.rs
Labels: enhancement, resource-usage, subsys-network

#1523 Thread pool for server tasks
  Cargo.lock
  jormungandr/Cargo.toml
  jormungandr/src/network/grpc/server.rs
Labels: jörmungandr, subsys-network

#1482 [Test] Testnet: added "Port already in use" new error code
  jormungandr-integration-tests/src/common/jormungandr/starter.rs
Labels: Tests

#1487 [Tests] NodeStats struct update
  jormungandr-lib/src/interfaces/stats.rs
  jormungandr-scenario-tests/src/node.rs
  jormungandr-scenario-tests/src/scenario/blockchain.rs
  jormungandr-scenario-tests/src/scenario/mod.rs
  jormungandr-scenario-tests/src/scenario/settings.rs
Labels: Tests

#1516 [Tests] Reward test fix
  jormungandr-integration-tests/src/common/startup/mod.rs
  jormungandr-integration-tests/src/jormungandr/explorer/mod.rs
  jormungandr-integration-tests/src/jormungandr/genesis/rewards.rs
Labels: Tests

#1531 Make server connection failures non-fatal
  jormungandr/src/network/grpc/server.rs
Labels: subsys-network

#1533 replace task key with subtask for topology policy
  jormungandr/src/network/p2p/topology.rs
Labels: bug, jörmungandr

#1528 rearrange sections, simplify text
  README.md
Labels: doc

#1520 add RELEASE file
  RELEASE.md
Labels: build-system, doc

#1545 Remove some dead code
  jormungandr/src/main.rs
  jormungandr/src/rest/v0/handlers.rs
  jormungandr/src/utils/task.rs
Labels: jörmungandr, technical debt

#1546 use one Runtime for all the services.
  jormungandr/src/utils/task.rs
Labels: jörmungandr, technical debt

#1556 use a global runtime instead of a local one and new future
  Cargo.lock
  jormungandr/Cargo.toml
  jormungandr/src/main.rs
  jormungandr/src/network/bootstrap.rs
  jormungandr/src/network/client/connect.rs
  jormungandr/src/network/grpc/client.rs
  jormungandr/src/network/mod.rs
  jormungandr/src/start_up/mod.rs
  jormungandr/src/utils/task.rs
Labels: jörmungandr, subsys-threading, technical debt

#1557 disable diagnostic on Android
  .travis.yml
  jormungandr/src/diagnostic.rs
Labels: bug, jörmungandr

#1559 remove unused shell.nix file
  README.md
  shell.nix
Labels: cleaning, technical debt

#1555 Dockerfile uses VER as an ARG but not VERSION
  docker/README.md
Labels: build-system

#1554 miss to cp a shell script
  docker/Dockerfile
Labels: Tests

#1558 [Tests] Disruption private network test
  jormungandr-scenario-tests/src/scenario/controller.rs
  jormungandr-scenario-tests/src/scenarios_repository.rs
  jormungandr-scenario-tests/src/test/comm/passive_leader.rs
  jormungandr-scenario-tests/src/test/non_functional/disruption.rs
  jormungandr-scenario-tests/src/test/non_functional/mod.rs
  jormungandr-scenario-tests/src/test/non_functional/soak.rs
Labels: Tests

#1515 [Test] Implement long soak test (Selfnode)
  jormungandr-integration-tests/Cargo.toml
  jormungandr-integration-tests/src/common/jcli_wrapper/mod.rs
  jormungandr-integration-tests/src/common/process_utils/mod.rs
  jormungandr-integration-tests/src/non_functional/mod.rs
  jormungandr-integration-tests/src/non_functional/sanity.rs
  jormungandr-integration-tests/src/non_functional/soak.rs
  jormungandr-integration-tests/src/non_functional/stress.rs
Labels: Tests

#1569 Get rid of CandidateForest
  jormungandr/src/blockchain/candidate.rs
  jormungandr/src/blockchain/mod.rs
  jormungandr/src/blockchain/process.rs
  jormungandr/src/main.rs
Labels: enhancement, jörmungandr, subsys-block

#1570 Revert "use a global runtime instead of a local one and new future"
  Cargo.lock
  jormungandr/Cargo.toml
  jormungandr/src/main.rs
  jormungandr/src/network/bootstrap.rs
  jormungandr/src/network/client/connect.rs
  jormungandr/src/network/grpc/client.rs
  jormungandr/src/network/mod.rs
  jormungandr/src/start_up/mod.rs
  jormungandr/src/utils/task.rs
Labels: jörmungandr

#1572 use a global runtime instead of a local one and new future
  Cargo.lock
  jormungandr/Cargo.toml
  jormungandr/src/main.rs
  jormungandr/src/network/bootstrap.rs
  jormungandr/src/network/client/connect.rs
  jormungandr/src/network/grpc/client.rs
  jormungandr/src/network/mod.rs
  jormungandr/src/start_up/mod.rs
  jormungandr/src/utils/task.rs
Labels: jörmungandr

#1568 Switch actix-web to rustls
  Cargo.lock
  doc/configuration/network.md
  doc/quickstart/02_passive_node.md
  jormungandr/Cargo.toml
  jormungandr/src/rest/mod.rs
  jormungandr/src/rest/server/error.rs
  jormungandr/src/rest/server/mod.rs
  jormungandr/src/rest/v0/handlers.rs
  jormungandr/src/settings/start/config.rs
  jormungandr/src/settings/start/mod.rs
Labels: breaking-change, dependencies, doc, enhancement, subsys-rest, technical debt

#1577 display the whole 'reason' of some errors with Debug formatting
  jormungandr/src/blockchain/process.rs
Labels: enhancement, jörmungandr

#1582 Apply ref on each synchronized block during bootstrap
  jormungandr/src/network/bootstrap.rs
Labels: enhancement, jörmungandr, subsys-network

#1587 keep more room for nodes that are actually giving us blocks
  doc/configuration/network.md
  jormungandr/src/network/mod.rs
  jormungandr/src/network/p2p/comm.rs
  jormungandr/src/network/p2p/comm/peer_map.rs
  jormungandr/src/settings/start/config.rs
  jormungandr/src/settings/start/mod.rs
  jormungandr/src/settings/start/network.rs
Labels: Priority - High, enhancement, jörmungandr, subsys-network

#1584 [Tests][Perf tests] updated tests parameters
  jormungandr-integration-tests/src/non_functional/sanity.rs
Labels: Tests

#1598 Update network.md
  doc/configuration/network.md
Labels: doc, subsys-network

#1605 Fix node not shutting down when inner process finishes
  jormungandr/src/main.rs
Labels: bug, jörmungandr, subsys-threading

#1604 [Tests] Private network tests - logging fix
  jormungandr-scenario-tests/src/main.rs
  jormungandr-scenario-tests/src/node.rs
  jormungandr-scenario-tests/src/scenario/context.rs
  jormungandr-scenario-tests/src/scenario/controller.rs
  jormungandr-scenario-tests/src/test/non_functional/disruption.rs
Labels: Tests

#1567 [Tests] extended bootstrap timeout for testnet integration test
  jormungandr-integration-tests/src/networking/testnet.rs
Labels: Tests

#1583 [Tests] Removed duplicated Funds struct from jormungandr-integration-tests
  jormungandr-integration-tests/src/common/configuration/genesis_model.rs
  jormungandr-integration-tests/src/common/jcli_wrapper/jcli_transaction_wrapper/mod.rs
  jormungandr-integration-tests/src/common/jormungandr/configuration_builder.rs
  jormungandr-integration-tests/src/common/startup/mod.rs
  jormungandr-integration-tests/src/jcli/genesis/encode.rs
  jormungandr-integration-tests/src/jcli/rest/utxo.rs
  jormungandr-integration-tests/src/jcli/transaction/e2e.rs
  jormungandr-integration-tests/src/jormungandr/genesis/stake_pool.rs
  jormungandr-integration-tests/src/jormungandr/genesis/start_node.rs
  jormungandr-integration-tests/src/jormungandr/mempool/mod.rs
  jormungandr-integration-tests/src/jormungandr/recovery.rs
  jormungandr-integration-tests/src/networking/communication.rs
  jormungandr-lib/src/interfaces/address.rs
Labels: Tests

#1606 Update actix-web to 1.0
  Cargo.lock
  jormungandr/Cargo.toml
  jormungandr/src/rest/explorer/handlers.rs
  jormungandr/src/rest/explorer/mod.rs
  jormungandr/src/rest/mod.rs
  jormungandr/src/rest/server/mod.rs
  jormungandr/src/rest/v0/handlers.rs
  jormungandr/src/rest/v0/mod.rs
Labels: dependencies, subsys-rest, technical debt

#1578 [Tests] Refresh grpc mock tests
  jormungandr-integration-tests/src/mock/mod.rs
  jormungandr-integration-tests/src/mock/testing/client_tests.rs
  jormungandr-integration-tests/src/mock/testing/server_tests.rs
  jormungandr-integration-tests/src/mock/testing/setup.rs
Labels: Tests

#1589 [Tests] Remove genesis model duplication
  jormungandr-integration-tests/src/common/configuration/block0_config_builder.rs
  jormungandr-integration-tests/src/common/configuration/genesis_model.rs
  jormungandr-integration-tests/src/common/configuration/jormungandr_config.rs
  jormungandr-integration-tests/src/common/configuration/mod.rs
  jormungandr-integration-tests/src/common/jcli_wrapper/mod.rs
  jormungandr-integration-tests/src/common/jormungandr/configuration_builder.rs
  jormungandr-integration-tests/src/common/startup/mod.rs
  jormungandr-integration-tests/src/jcli/genesis/encode.rs
  jormungandr-integration-tests/src/jormungandr/bft/start_node.rs
  jormungandr-integration-tests/src/jormungandr/explorer/mod.rs
  jormungandr-integration-tests/src/jormungandr/genesis/rewards.rs
  jormungandr-integration-tests/src/jormungandr/genesis/start_node.rs
  jormungandr-integration-tests/src/mock/testing/client_tests.rs
  jormungandr-integration-tests/src/mock/testing/server_tests.rs
  jormungandr-integration-tests/src/mock/testing/setup.rs
  jormungandr-lib/src/interfaces/block0_configuration/leader_id.rs
  jormungandr-lib/src/interfaces/block0_configuration/number_of_slots_per_epoch.rs
  jormungandr-lib/src/interfaces/block0_configuration/slots_duration.rs
Labels: Tests

#1594 cleanup the sync Mutex from the PeerMap
  jormungandr/src/explorer/graphql/mod.rs
  jormungandr/src/network/bootstrap.rs
  jormungandr/src/network/mod.rs
  jormungandr/src/network/p2p/comm.rs
  jormungandr/src/network/service.rs
  jormungandr/src/network/subscription.rs
Labels: Priority - High, enhancement, jörmungandr, subsys-network, subsys-threading

#1613 Upgrade Actix-web to 2.0
  Cargo.lock
  jormungandr/Cargo.toml
  jormungandr/src/rest/explorer/handlers.rs
  jormungandr/src/rest/explorer/mod.rs
  jormungandr/src/rest/mod.rs
  jormungandr/src/rest/server/mod.rs
  jormungandr/src/rest/v0/handlers.rs
  jormungandr/src/rest/v0/mod.rs
Labels: dependencies, subsys-rest, technical debt

#1616 [Tests] test_jormungandr_passive_node_starts_successfull fix
  jormungandr-integration-tests/src/common/jormungandr/process.rs
  jormungandr-integration-tests/src/jormungandr/bft/start_node.rs
Labels: Tests

#1619 [Tests] compilation fix for perf tests
  jormungandr-integration-tests/src/non_functional/sanity.rs
  jormungandr-integration-tests/src/non_functional/soak.rs
Labels: Tests

#1611 Added p2p stats to node stat output
  jormungandr/src/network/p2p/topology.rs
  jormungandr/src/rest/v0/handlers.rs
Labels: enhancement, jörmungandr, subsys-rest

#1623 Async-friendly lock on P2P topology
  jormungandr/src/main.rs
  jormungandr/src/network/client/connect.rs
  jormungandr/src/network/mod.rs
  jormungandr/src/network/p2p/topology.rs
  jormungandr/src/network/service.rs
  jormungandr/src/network/subscription.rs
  jormungandr/src/rest/v0/handlers.rs
Labels: subsys-network

#1621 [Tests] Private network test maintenance
  jormungandr-scenario-tests/src/scenarios_repository.rs
  jormungandr-scenario-tests/src/test/comm/passive_leader.rs
  jormungandr-scenario-tests/src/test/network/topology/scenarios.rs
Labels: Tests

#1627 [Tests] Updated NodeStats with new fields
  jormungandr-lib/src/interfaces/stats.rs
Labels: Tests

#1628 [Tests] more logs for failed 'transaction is block' assertion
  jormungandr-integration-tests/src/common/jcli_wrapper/mod.rs
  jormungandr-integration-tests/src/common/startup/mod.rs
  jormungandr-integration-tests/src/jcli/transaction/e2e.rs
  jormungandr-integration-tests/src/jormungandr/explorer/mod.rs
  jormungandr-integration-tests/src/jormungandr/genesis/stake_pool.rs
  jormungandr-integration-tests/src/jormungandr/mempool/mod.rs
  jormungandr-integration-tests/src/jormungandr/recovery.rs
  jormungandr-integration-tests/src/mock/testing/client_tests.rs
  jormungandr-integration-tests/src/networking/testnet.rs
  jormungandr-integration-tests/src/non_functional/sanity.rs
Labels: Tests

#1631 [Tests] dumps log on transaction not in block when timeout is reached
  jormungandr-integration-tests/src/common/jcli_wrapper/mod.rs
  jormungandr-integration-tests/src/jcli/transaction/e2e.rs
  jormungandr-integration-tests/src/non_functional/soak.rs
Labels: Tests

#1650 [Tests] update quarantine stats from string to u32
  jormungandr-lib/src/interfaces/stats.rs
Labels: Tests

#1648 [Tests] Performance block sync test
  jormungandr-scenario-tests/src/example_scenarios.rs
  jormungandr-scenario-tests/src/lib.rs
  jormungandr-scenario-tests/src/main.rs
  jormungandr-scenario-tests/src/scenario/mod.rs
  jormungandr-scenario-tests/src/scenario/repository/measurement/mod.rs
  jormungandr-scenario-tests/src/scenario/repository/measurement/status.rs
  jormungandr-scenario-tests/src/scenario/repository/measurement/thresholds.rs
  jormungandr-scenario-tests/src/scenario/repository/mod.rs
  jormungandr-scenario-tests/src/scenario/repository/result.rs
  jormungandr-scenario-tests/src/scenario/repository/scenario.rs
  jormungandr-scenario-tests/src/scenario/repository/suite_result.rs
  jormungandr-scenario-tests/src/scenario/repository/tag.rs
  jormungandr-scenario-tests/src/test/comm/leader_leader.rs
  jormungandr-scenario-tests/src/test/comm/passive_leader.rs
  jormungandr-scenario-tests/src/test/network/topology/scenarios.rs
  jormungandr-scenario-tests/src/test/non_functional/disruption.rs
  jormungandr-scenario-tests/src/test/non_functional/mod.rs
  jormungandr-scenario-tests/src/test/non_functional/soak.rs
  jormungandr-scenario-tests/src/test/non_functional/sync.rs
  jormungandr-scenario-tests/src/test/utils/mod.rs
Labels: Tests

#1649 [Tests] wait for block sync
  jormungandr-scenario-tests/src/test/comm/leader_leader.rs
  jormungandr-scenario-tests/src/test/comm/passive_leader.rs
  jormungandr-scenario-tests/src/test/mod.rs
  jormungandr-scenario-tests/src/test/network/topology/scenarios.rs
  jormungandr-scenario-tests/src/test/utils/mod.rs
Labels: Tests

#1620 [Tests] Move config structs to jormungandr lib
  Cargo.lock
  jormungandr-integration-tests/src/common/configuration/jormungandr_config.rs
  jormungandr-integration-tests/src/common/configuration/mod.rs
  jormungandr-integration-tests/src/common/configuration/node_config_builder.rs
  jormungandr-integration-tests/src/common/configuration/node_config_model.rs
  jormungandr-integration-tests/src/common/configuration/secret_model.rs
  jormungandr-integration-tests/src/common/configuration/secret_model_factory.rs
  jormungandr-integration-tests/src/common/jormungandr/configuration_builder.rs
  jormungandr-integration-tests/src/common/jormungandr/process.rs
  jormungandr-integration-tests/src/common/startup/mod.rs
  jormungandr-integration-tests/src/jcli/rest/tip.rs
  jormungandr-integration-tests/src/jormungandr/bft/start_node.rs
  jormungandr-integration-tests/src/jormungandr/genesis/start_node.rs
  jormungandr-integration-tests/src/mock/testing/client_tests.rs
  jormungandr-integration-tests/src/mock/testing/setup.rs
  jormungandr-integration-tests/src/networking/communication.rs
  jormungandr-integration-tests/src/networking/testnet.rs
  jormungandr-lib/Cargo.toml
  jormungandr-lib/src/interfaces/config/log.rs
  jormungandr-lib/src/interfaces/config/mod.rs
  jormungandr-lib/src/interfaces/config/node.rs
  jormungandr-lib/src/interfaces/config/secret.rs
  jormungandr-scenario-tests/src/node.rs
  jormungandr-scenario-tests/src/scenario/settings.rs
Labels: Tests

#1632 Disable the audit job in CircleCI
  .circleci/config.yml
Labels: Tests

#1633 Bypass peers that are not connected for fetching blocks
  jormungandr/src/network/p2p/comm/peer_map.rs
Labels: subsys-network

#1665 [Tests] Private network tests improvements
  jormungandr-scenario-tests/src/node.rs
  jormungandr-scenario-tests/src/test/comm/passive_leader.rs
  jormungandr-scenario-tests/src/test/non_functional/disruption.rs
  jormungandr-scenario-tests/src/test/utils/mod.rs
Labels: Tests

#1660 Display the cause of ListenError
  jormungandr/src/network/mod.rs
Labels: subsys-logging, subsys-network

#1667 [Tests] Changed public and listen port to be different
  jormungandr-integration-tests/src/common/configuration/jormungandr_config.rs
  jormungandr-integration-tests/src/common/configuration/node_config_builder.rs
  jormungandr-integration-tests/src/common/jormungandr/process.rs
  jormungandr-integration-tests/src/mock/testing/client_tests.rs
  jormungandr-integration-tests/src/networking/testnet.rs
  jormungandr-scenario-tests/src/scenario/settings.rs
Labels: Tests

#1646 Fixes bootstrapping from trusted peers falling through when node is n…
  jormungandr/src/main.rs
  jormungandr/src/network/mod.rs
  jormungandr/src/settings/start/config.rs
  jormungandr/src/settings/start/mod.rs
  jormungandr/src/settings/start/network.rs
Labels: enhancement, jörmungandr

#1684 Docs - update with latest changes
  doc/configuration/network.md
  doc/jcli/rest.md
  doc/openapi.yaml
Labels: doc
