Repository input-output-hk/jormungandr, pull requests merged in 2020-10, with the labels that each got.

#2575 move max_connections test to unstable
  testing/jormungandr-scenario-tests/src/scenario/repository/mod.rs
Labels: Tests

#2583 [Test] logs printout for failed bootstrap
  testing/jormungandr-scenario-tests/src/node.rs
Labels: Tests

#2588 [Tests] Testnet logger info
  testing/jormungandr-integration-tests/src/common/jormungandr/starter/mod.rs
  testing/jormungandr-integration-tests/src/networking/testnet.rs
Labels: Tests

#2589 [Tests] move unstable tests to unstable build
  testing/jormungandr-scenario-tests/src/scenario/repository/mod.rs
Labels: Tests

#2597 [Tests] Move soak tests and legacy connection tests to unstable
  testing/jormungandr-scenario-tests/src/scenario/repository/mod.rs
  testing/jormungandr-scenario-tests/src/test/network/real.rs
Labels: Tests

#2598 [Test][Scenario][Leader_restart] Decrease quarantine duration period
  testing/jormungandr-scenario-tests/src/test/comm/passive_leader.rs
Labels: Tests

#2593 add scenario tests build during circle ci workflow
  .circleci/config.yml
Labels: Tests

#2599 [Test] Explorer passive node
  testing/jormungandr-scenario-tests/src/node.rs
  testing/jormungandr-scenario-tests/src/scenario/repository/mod.rs
  testing/jormungandr-scenario-tests/src/test/features/explorer.rs
  testing/jormungandr-scenario-tests/src/test/features/mod.rs
  testing/jormungandr-scenario-tests/src/test/mod.rs
Labels: Tests

#2564 [Tests] added some delays in recovery tests
  testing/jormungandr-integration-tests/src/jormungandr/recovery.rs
Labels: Tests

#2614 [Test] maintenance for passive_node_explorer
  testing/jormungandr-scenario-tests/src/scenario/repository/mod.rs
  testing/jormungandr-scenario-tests/src/test/features/explorer.rs
Labels: Tests

#2145 [Test] Explorer shows correct state for stake pool
  testing/jormungandr-integration-tests/src/jormungandr/genesis/mod.rs
  testing/jormungandr-integration-tests/src/jormungandr/genesis/pool_retire.rs
  testing/jormungandr-scenario-tests/src/main.rs
  testing/jormungandr-scenario-tests/src/node.rs
  testing/jormungandr-scenario-tests/src/scenario/repository/mod.rs
  testing/jormungandr-scenario-tests/src/test/features/mod.rs
  testing/jormungandr-scenario-tests/src/test/features/stake_pool/mod.rs
  testing/jormungandr-scenario-tests/src/test/features/stake_pool/retire.rs
  testing/jormungandr-scenario-tests/test/Testing the network/Leader1/node_config.yaml
  testing/jormungandr-scenario-tests/test/Testing the network/Leader1/node_secret.yaml
  testing/jormungandr-scenario-tests/test/Testing the network/block0.bin
  testing/jormungandr-testing-utils/resources/explorer/graphql/stakepool.graphql
  testing/jormungandr-testing-utils/src/testing/network_builder/wallet.rs
  testing/jormungandr-testing-utils/src/testing/node/explorer/client.rs
  testing/jormungandr-testing-utils/src/wallet/mod.rs
Labels: Tests

#2608 jcli - add votes tally-decryption-share
  jcli/src/jcli_app/vote/decryption_share.rs
  jcli/src/jcli_app/vote/mod.rs
Labels: VOTE, enhancement, jcli

#2625 Added committee member keys to voteplanstatus
  jormungandr-lib/src/interfaces/vote/mod.rs
Labels: Priority - High, VOTE, enhancement

#2627 fix encrypted tally certs and stats
  jormungandr-lib/src/interfaces/certificate.rs
  jormungandr/src/rest/v0/logic.rs
Labels: VOTE, enhancement

#2617 [Test] invert assert condition in leader_restart_preserves_leadership_log_test
  testing/jormungandr-scenario-tests/src/test/features/leadership_log.rs
Labels: Tests

#2630 Serde encrypted tally as hex string
  jormungandr-lib/src/interfaces/vote/mod.rs
Labels: Priority - High, VOTE, enhancement, jörmungandr

#2628 Added jcli command for encrypted vote tally certificate
  jcli/src/jcli_app/certificate/mod.rs
  jcli/src/jcli_app/certificate/new_encrypted_vote_tally.rs
Labels: VOTE, enhancement, jcli

#2624 Jcli tally decrypt with shares tool
  jcli/src/jcli_app/vote/mod.rs
  jcli/src/jcli_app/vote/tally/decrypt_shares.rs
  jcli/src/jcli_app/vote/tally/decryption_tally.rs
  jcli/src/jcli_app/vote/tally/mod.rs
Labels: VOTE, enhancement, jcli

#2640 Use base64 instead of hex for encrypted tally
  Cargo.lock
  jcli/Cargo.toml
  jcli/src/jcli_app/vote/mod.rs
  jcli/src/jcli_app/vote/tally/decrypt_shares.rs
  jcli/src/jcli_app/vote/tally/decryption_tally.rs
  jormungandr-lib/Cargo.toml
  jormungandr-lib/src/interfaces/vote/mod.rs
Labels: VOTE, enhancement

#2639 Expose total votes in voteplanstatus
  jormungandr-lib/src/interfaces/vote/mod.rs
Labels: VOTE, enhancement, subsys-rest

#2644 [Test] repair self node soak build
  testing/jormungandr-integration-tests/src/jormungandr/explorer/mod.rs
Labels: Tests

#2581 [Test] Scenario test vote
  .circleci/config.yml
  Cargo.lock
  jormungandr-lib/src/interfaces/block0_configuration/mod.rs
  testing/iapyx/.gitignore
  testing/iapyx/Cargo.lock
  testing/iapyx/Cargo.toml
  testing/iapyx/src/backend/mod.rs
  testing/iapyx/src/backend/node/legacy.rs
  testing/iapyx/src/backend/node/mod.rs
  testing/iapyx/src/backend/node/rest.rs
  testing/iapyx/src/backend/proxy/client.rs
  testing/iapyx/src/backend/proxy/mod.rs
  testing/iapyx/src/backend/proxy/server.rs
  testing/iapyx/src/bin/iapyx-proxy.rs
  testing/iapyx/src/cli/args/interactive/command.rs
  testing/iapyx/src/cli/args/load/mod.rs
  testing/iapyx/src/cli/args/mod.rs
  testing/iapyx/src/cli/args/proxy/mod.rs
  testing/iapyx/src/controller.rs
  testing/iapyx/src/data.rs
  testing/iapyx/src/lib.rs
  testing/iapyx/src/load/multi_controller.rs
  testing/iapyx/src/wallet.rs
  testing/jormungandr-integration-tests/src/common/network/builder.rs
  testing/jormungandr-integration-tests/src/jormungandr/vit/mod.rs
  testing/jormungandr-scenario-tests/Cargo.toml
  testing/jormungandr-scenario-tests/resources/vit_station/migration/2020-05-22-112032_initial/down.sql
  testing/jormungandr-scenario-tests/resources/vit_station/migration/2020-05-22-112032_initial/up.sql
  testing/jormungandr-scenario-tests/src/main.rs
  testing/jormungandr-scenario-tests/src/node.rs
  testing/jormungandr-scenario-tests/src/scenario/context.rs
  testing/jormungandr-scenario-tests/src/scenario/controller.rs
  testing/jormungandr-scenario-tests/src/scenario/mod.rs
  testing/jormungandr-scenario-tests/src/scenario/repository/mod.rs
  testing/jormungandr-scenario-tests/src/scenario/settings.rs
  testing/jormungandr-scenario-tests/src/test/features/mod.rs
  testing/jormungandr-scenario-tests/src/test/features/stake_pool/retire.rs
  testing/jormungandr-scenario-tests/src/test/features/vote.rs
  testing/jormungandr-scenario-tests/src/test/mod.rs
  testing/jormungandr-scenario-tests/src/vit_station/controller.rs
  testing/jormungandr-scenario-tests/src/vit_station/data.rs
  testing/jormungandr-scenario-tests/src/vit_station/mod.rs
  testing/jormungandr-scenario-tests/src/wallet/controller.rs
  testing/jormungandr-scenario-tests/src/wallet/mod.rs
  testing/jormungandr-scenario-tests/src/wallet/settings.rs
  testing/jormungandr-testing-utils/Cargo.toml
  testing/jormungandr-testing-utils/src/testing/fragments/load/generator.rs
  testing/jormungandr-testing-utils/src/testing/fragments/mod.rs
  testing/jormungandr-testing-utils/src/testing/fragments/sender.rs
  testing/jormungandr-testing-utils/src/testing/fragments/transaction.rs
  testing/jormungandr-testing-utils/src/testing/network_builder/blockchain.rs
  testing/jormungandr-testing-utils/src/testing/network_builder/mod.rs
  testing/jormungandr-testing-utils/src/testing/network_builder/settings.rs
  testing/jormungandr-testing-utils/src/testing/network_builder/wallet.rs
  testing/jormungandr-testing-utils/src/testing/node/legacy/version.rs
  testing/jormungandr-testing-utils/src/testing/node/mod.rs
  testing/jormungandr-testing-utils/src/testing/node/time.rs
  testing/jormungandr-testing-utils/src/wallet/mod.rs
Labels: Tests

#2650 Handle SIGTERM on Unix
  Cargo.lock
  jormungandr/src/main.rs
Labels: Priority - High, jörmungandr
