Repository input-output-hk/jormungandr, pull requests merged in 2020-06, with the labels that each got.

#2298 Update ring & restore release for PowerPC and MIPS
  .github/workflows/nightly.yml
  .github/workflows/release.yml
  Cargo.lock
Labels: build-system, dependencies

#2303 Fix indentation in YAML example of logging config
  doc/configuration/logging.md
Labels: doc

#2305 Log incoming gossip on debug level
  jormungandr/src/network/subscription.rs
Labels: enhancement, subsys-logging

#2306 ci: add missing parameters to release pipelines
  .github/workflows/nightly.yml
  .github/workflows/release.yml
Labels: CI, build-system

#2315 mips and powerpc builds still broken
  .github/workflows/nightly.yml
  .github/workflows/release.yml
Labels: CI, build-system

#2312 [Test] Private network test - Fragment dump on send
  testing/jormungandr-integration-tests/src/jormungandr/legacy/mod.rs
  testing/jormungandr-scenario-tests/src/scenario/controller.rs
  testing/jormungandr-scenario-tests/src/test/comm/leader_leader.rs
  testing/jormungandr-scenario-tests/src/test/comm/passive_leader.rs
  testing/jormungandr-scenario-tests/src/test/network/topology/scenarios.rs
  testing/jormungandr-scenario-tests/src/test/non_functional/legacy.rs
  testing/jormungandr-testing-utils/src/testing/fragments/export.rs
  testing/jormungandr-testing-utils/src/testing/fragments/mod.rs
  testing/jormungandr-testing-utils/src/testing/fragments/sender.rs
  testing/jormungandr-testing-utils/src/testing/fragments/setup.rs
  testing/jormungandr-testing-utils/src/testing/fragments/verifier.rs
  testing/jormungandr-testing-utils/src/testing/mod.rs
Labels: Tests

#2318 settings: allow setting public and listen address from cli args
  jormungandr/src/settings/command_arguments.rs
  jormungandr/src/settings/start/mod.rs
Labels: enhancement, jörmungandr

#2313 Remove unused error enum variants in network
  jormungandr/src/network/client/connect.rs
  jormungandr/src/network/grpc/client.rs
Labels: cleaning, subsys-network

#2247 make `GET /shutdown` API available during bootstrap
  doc/api/v0.yaml
  jcli/src/jcli_app/rest/v0/shutdown/mod.rs
  jormungandr/src/main.rs
  jormungandr/src/network/bootstrap.rs
  jormungandr/src/network/mod.rs
  jormungandr/src/rest/context.rs
  jormungandr/src/rest/v0/handlers.rs
  jormungandr/src/rest/v0/logic.rs
  jormungandr/src/rest/v0/mod.rs
  testing/jormungandr-integration-tests/src/common/jcli_wrapper/jcli_commands.rs
Labels: enhancement, jörmungandr, subsys-rest

#2273 [Issue 2272] uncomment failing step for test_all_fragments
  testing/jormungandr-integration-tests/src/jormungandr/genesis/fragments.rs
  testing/jormungandr-integration-tests/src/jormungandr/genesis/mod.rs
  testing/jormungandr-integration-tests/src/jormungandr/genesis/pool_update.rs
Labels: Tests

#2319 CI Matrix: Reloaded
  .github/workflows/nightly.yml
  .github/workflows/release.yml
  Cargo.lock
  jcli/Cargo.toml
  jormungandr/Cargo.toml
  testing/jormungandr-integration-tests/Cargo.toml
  testing/jormungandr-scenario-tests/Cargo.toml
  testing/jormungandr-testing-utils/Cargo.toml
Labels: CI, cleaning

#2322 Consistently use optimization flags when building releases
  .github/workflows/nightly.yml
  .github/workflows/release.yml
Labels: CI, enhancement

#2324 [Tests] decrease amount of nodes in real network
  testing/jormungandr-scenario-tests/src/test/network/real.rs
Labels: Tests

#2323 [Tests] Sync module refactoring
  testing/jormungandr-integration-tests/src/common/jormungandr/process.rs
  testing/jormungandr-integration-tests/src/jormungandr/genesis/fragments.rs
  testing/jormungandr-integration-tests/src/non_functional/mod.rs
  testing/jormungandr-scenario-tests/src/test/comm/leader_leader.rs
  testing/jormungandr-scenario-tests/src/test/comm/passive_leader.rs
  testing/jormungandr-scenario-tests/src/test/features/p2p/mod.rs
  testing/jormungandr-scenario-tests/src/test/mod.rs
  testing/jormungandr-scenario-tests/src/test/network/real.rs
  testing/jormungandr-scenario-tests/src/test/network/topology/scenarios.rs
  testing/jormungandr-scenario-tests/src/test/non_functional/disruption.rs
  testing/jormungandr-scenario-tests/src/test/non_functional/legacy.rs
  testing/jormungandr-scenario-tests/src/test/non_functional/soak.rs
  testing/jormungandr-scenario-tests/src/test/utils/mod.rs
  testing/jormungandr-testing-utils/src/testing/fragments/sender.rs
  testing/jormungandr-testing-utils/src/testing/mod.rs
  testing/jormungandr-testing-utils/src/testing/sync/measure.rs
  testing/jormungandr-testing-utils/src/testing/sync/mod.rs
  testing/jormungandr-testing-utils/src/testing/sync/node.rs
  testing/jormungandr-testing-utils/src/testing/sync/report.rs
  testing/jormungandr-testing-utils/src/testing/verify/mod.rs
Labels: Tests

#2317 [Tests] Vit block0 tests
  jormungandr-lib/src/interfaces/committee.rs
  jormungandr/src/blockchain/process.rs
  testing/jormungandr-integration-tests/src/common/configuration/block0_config_builder.rs
  testing/jormungandr-integration-tests/src/common/jcli_wrapper/certificate/commands.rs
  testing/jormungandr-integration-tests/src/common/jcli_wrapper/certificate/wrapper.rs
  testing/jormungandr-integration-tests/src/common/jcli_wrapper/jcli_commands.rs
  testing/jormungandr-integration-tests/src/common/jcli_wrapper/mod.rs
  testing/jormungandr-integration-tests/src/common/jormungandr/configuration_builder.rs
  testing/jormungandr-integration-tests/src/jcli/certificate/e2e.rs
  testing/jormungandr-integration-tests/src/jcli/genesis/encode.rs
  testing/jormungandr-integration-tests/src/jormungandr/mod.rs
  testing/jormungandr-integration-tests/src/jormungandr/vit/mod.rs
  testing/jormungandr-testing-utils/src/testing/fragments/initial_certificates.rs
  testing/jormungandr-testing-utils/src/testing/fragments/mod.rs
  testing/jormungandr-testing-utils/src/testing/mod.rs
  testing/key.pub
  testing/key.sk
Labels: Tests, VOTE

#2335 [Tests] upgrade and downgrade test
  testing/jormungandr-integration-tests/src/non_functional/compatibility.rs
  testing/jormungandr-integration-tests/src/non_functional/mod.rs
  testing/jormungandr-testing-utils/src/wallet/mod.rs
Labels: Tests

#2329 Further fix and improve release workflows
  .github/workflows/nightly.yml
  .github/workflows/release.yml
Labels: CI, cleaning

#2337 introduced log-level cmd arg for private network tests
  testing/jormungandr-scenario-tests/src/main.rs
  testing/jormungandr-scenario-tests/src/scenario/context.rs
  testing/jormungandr-scenario-tests/src/scenario/settings.rs
Labels: Tests

#2345 decode the vote plan with the associated data from transaction
  jormungandr-lib/src/interfaces/block0_configuration/initial_fragment.rs
Labels: VOTE, bug, jcli

#2338 [Tests] new test - node enters legacy network
  testing/jormungandr-scenario-tests/src/legacy/node.rs
  testing/jormungandr-scenario-tests/src/scenario/repository/mod.rs
  testing/jormungandr-scenario-tests/src/test/non_functional/legacy.rs
  testing/jormungandr-scenario-tests/src/test/utils/mod.rs
Labels: Tests

#2351 Remove giant merged log strings from test output
  Cargo.lock
  testing/jormungandr-integration-tests/src/common/jormungandr/mod.rs
  testing/jormungandr-integration-tests/src/jcli/transaction/input.rs
  testing/jormungandr-scenario-tests/Cargo.toml
  testing/jormungandr-scenario-tests/src/legacy/mod.rs
  testing/jormungandr-scenario-tests/src/legacy/node.rs
  testing/jormungandr-scenario-tests/src/node.rs
  testing/jormungandr-scenario-tests/src/scenario/fragment_node.rs
  testing/jormungandr-scenario-tests/src/scenario/mod.rs
  testing/jormungandr-scenario-tests/src/test/mod.rs
  testing/jormungandr-testing-utils/Cargo.toml
  testing/jormungandr-testing-utils/src/testing/fragments/node.rs
  testing/jormungandr-testing-utils/src/testing/fragments/sender.rs
  testing/jormungandr-testing-utils/src/testing/fragments/verifier.rs
Labels: CI, cleaning

#2353 End binary/library duality in scenario tests
  testing/jormungandr-scenario-tests/src/example_scenarios.rs
  testing/jormungandr-scenario-tests/src/legacy/node.rs
  testing/jormungandr-scenario-tests/src/lib.rs
  testing/jormungandr-scenario-tests/src/main.rs
  testing/jormungandr-scenario-tests/src/node.rs
  testing/jormungandr-scenario-tests/src/scenario/repository/mod.rs
  testing/jormungandr-scenario-tests/src/test/features/p2p/mod.rs
  testing/jormungandr-scenario-tests/src/test/network/topology/scenarios.rs
  testing/jormungandr-scenario-tests/src/test/non_functional/legacy.rs
  testing/jormungandr-scenario-tests/src/test/utils/mod.rs
Labels: Tests, cleaning

#2358 Fix error reporting in streaming replies
  jormungandr/src/blockchain/storage.rs
  jormungandr/src/client.rs
  jormungandr/src/intercom.rs
  jormungandr/src/network/client/mod.rs
  jormungandr/src/network/service.rs
Labels: bug, subsys-client, subsys-network, subsys-storage

#2371 [Test] fix test_legacy_node_all_fragments test.
  testing/jormungandr-integration-tests/src/jormungandr/legacy/mod.rs
  testing/jormungandr-testing-utils/src/testing/measurement/benchmark/consumption_benchmark.rs
  testing/key.pub
  testing/key.sk
Labels: Tests

#2380 Serialize fragments just like we did last summer
  jormungandr/src/network/convert.rs
Labels: subsys-network

#2379 Save node test logs in directories with other node data
  jormungandr/src/blockchain/process.rs
  testing/jormungandr-scenario-tests/src/legacy/node.rs
  testing/jormungandr-scenario-tests/src/node.rs
  testing/jormungandr-scenario-tests/src/scenario/context.rs
  testing/jormungandr-scenario-tests/src/scenario/settings.rs
Labels: Tests

#2384 Legacy scenario test fix
  jormungandr/src/network/mod.rs
  jormungandr/src/network/p2p/comm.rs
  testing/jormungandr-integration-tests/src/common/legacy/configuration_builder.rs
Labels: Tests

#2368 [Tests] shorten resource result string
  Cargo.lock
  testing/jormungandr-testing-utils/Cargo.toml
  testing/jormungandr-testing-utils/src/testing/measurement/marker/resources_usage.rs
Labels: Tests

#2386 [Tests] Testnet config fix
  testing/jormungandr-integration-tests/src/common/configuration/jormungandr_config.rs
  testing/jormungandr-integration-tests/src/common/configuration/node_config_builder.rs
  testing/jormungandr-integration-tests/src/common/jormungandr/configuration_builder.rs
  testing/jormungandr-integration-tests/src/networking/testnet.rs
Labels: Tests

#2334 [Tests] change assertion for last stats
  testing/jormungandr-integration-tests/src/common/network/controller.rs
  testing/jormungandr-integration-tests/src/networking/stats.rs
Labels: Tests

#2389 One release workflow to rule them all
  .github/workflows/nightly.yml
  .github/workflows/release.yml
  ci/release-info.py
  ci/strip-own-version-from-cargo-lock.pl
Labels: CI

#2392 Be sure to check out the repo before cargo fetch
  .github/workflows/release.yml
Labels: CI

#2387 [Tests] Interactive scenario
  Cargo.lock
  testing/jormungandr-integration-tests/src/common/jormungandr/logger.rs
  testing/jormungandr-scenario-tests/Cargo.toml
  testing/jormungandr-scenario-tests/src/interactive/args/describe.rs
  testing/jormungandr-scenario-tests/src/interactive/args/mod.rs
  testing/jormungandr-scenario-tests/src/interactive/args/send.rs
  testing/jormungandr-scenario-tests/src/interactive/args/show.rs
  testing/jormungandr-scenario-tests/src/interactive/args/spawn.rs
  testing/jormungandr-scenario-tests/src/interactive/mod.rs
  testing/jormungandr-scenario-tests/src/main.rs
  testing/jormungandr-scenario-tests/src/scenario/controller.rs
  testing/jormungandr-scenario-tests/src/scenario/repository/mod.rs
  testing/jormungandr-scenario-tests/src/scenario/repository/tag.rs
  testing/jormungandr-scenario-tests/src/test/mod.rs
Labels: Tests

#2397 Set up use of "node-id-bin" in server responses
  jormungandr/src/network/grpc/server.rs
  jormungandr/src/settings/start/mod.rs
Labels: bug, jörmungandr, subsys-network

#2398 implement `jcli certificate new vote-cast`
  jcli/src/jcli_app/certificate/mod.rs
  jcli/src/jcli_app/certificate/new_vote_cast.rs
Labels: VOTE, enhancement, jcli

#2399 Log received fragments
  jormungandr/src/fragment/pool.rs
  jormungandr/src/network/subscription.rs
Labels: enhancement, subsys-network, subsys-transaction

#2395 [Tests] Network test maintenance
  testing/jormungandr-integration-tests/src/bin/mock_client_app.rs
  testing/jormungandr-integration-tests/src/common/legacy/configuration_builder.rs
  testing/jormungandr-integration-tests/src/common/legacy/mod.rs
  testing/jormungandr-integration-tests/src/networking/testnet.rs
  testing/jormungandr-scenario-tests/src/interactive/args/show.rs
  testing/jormungandr-scenario-tests/src/interactive/mod.rs
  testing/jormungandr-scenario-tests/src/scenario/controller.rs
  testing/jormungandr-scenario-tests/src/scenario/repository/mod.rs
  testing/jormungandr-scenario-tests/src/test/legacy/disruption.rs
  testing/jormungandr-scenario-tests/src/test/legacy/fragment_propagation.rs
  testing/jormungandr-scenario-tests/src/test/non_functional/disruption.rs
  testing/jormungandr-testing-utils/src/testing/network_builder/spawn_params.rs
Labels: Tests

#2402 Tune gRPC connections
  jormungandr/src/network/grpc/client.rs
  jormungandr/src/network/grpc/server.rs
  jormungandr/src/network/mod.rs
Labels: enhancement, jörmungandr, subsys-network

#2404 [Test] mesh_disruption test simplify trusted peers net
  testing/jormungandr-scenario-tests/src/test/non_functional/disruption.rs
Labels: Tests

#2406 fix vote tally processing in explorer and add better errors display
  jormungandr/src/explorer/graphql/mod.rs
  jormungandr/src/explorer/indexing.rs
  jormungandr/src/explorer/mod.rs
  jormungandr/src/rest/explorer/handlers.rs
Labels: VOTE, explorer

#2408 Don't skip the node's public id in serde
  jormungandr/src/settings/start/config.rs
Labels: bug, jörmungandr

#2403 [Tests] Public id revert
  jormungandr-lib/src/interfaces/config/node.rs
  testing/jormungandr-integration-tests/src/common/configuration/node_config_builder.rs
  testing/jormungandr-integration-tests/src/common/jormungandr/configuration_builder.rs
  testing/jormungandr-integration-tests/src/common/jormungandr/process.rs
  testing/jormungandr-integration-tests/src/common/legacy/configuration_builder.rs
  testing/jormungandr-integration-tests/src/common/network/controller.rs
  testing/jormungandr-integration-tests/src/mock/testing/setup.rs
  testing/jormungandr-integration-tests/src/networking/testnet.rs
  testing/jormungandr-scenario-tests/src/scenario/controller.rs
  testing/jormungandr-scenario-tests/src/scenario/settings.rs
  testing/jormungandr-scenario-tests/src/test/legacy/fragment_propagation.rs
  testing/jormungandr-testing-utils/src/legacy/config/node.rs
  testing/jormungandr-testing-utils/src/testing/network_builder/settings.rs
  testing/jormungandr-testing-utils/src/testing/network_builder/spawn_params.rs
Labels: Tests

#2410 [Tests] Adversary fragment sender
  testing/jormungandr-testing-utils/src/testing/fragments/adversary.rs
  testing/jormungandr-testing-utils/src/testing/fragments/mod.rs
  testing/jormungandr-testing-utils/src/wallet/account.rs
  testing/jormungandr-testing-utils/src/wallet/mod.rs
Labels: Tests

#2409 don't add the trusted peers in the topology
  jormungandr/src/network/mod.rs
Labels: Priority - High, bug, jörmungandr, subsys-network

#2401 jcli: voteplan config update
  jormungandr-lib/src/interfaces/vote/mod.rs
Labels: VOTE, enhancement, jcli

#2412 Fix duplicate context fields in connect logs
  jormungandr/src/network/client/connect.rs
Labels: cleaning, jörmungandr, subsys-logging, subsys-network

#2414 [Tests] added support for 0.9.0 legacy release
  testing/jormungandr-integration-tests/src/common/legacy/configuration_builder.rs
Labels: Tests

#2415 Add serialize deserialize quickcheck
  jormungandr-lib/src/interfaces/block0_configuration/mod.rs
  jormungandr-lib/src/interfaces/tax_type.rs
Labels: Tests, bug

#2417 Log lifecycle of fragments in the pool
  jormungandr/src/fragment/pool.rs
  jormungandr/src/fragment/process.rs
  jormungandr/src/fragment/selection.rs
Labels: enhancement, jörmungandr, subsys-mempool, subsys-transaction

#2427 explorer: correctly support re-voting
  jormungandr/src/explorer/mod.rs
Labels: Priority - High, bug, explorer, jörmungandr

#2339 Rest bulk tx actions
  doc/api/v1.yaml
  jormungandr/src/fragment/logs.rs
  jormungandr/src/fragment/process.rs
  jormungandr/src/intercom.rs
  jormungandr/src/rest/mod.rs
  jormungandr/src/rest/v0/logic.rs
  jormungandr/src/rest/v0/mod.rs
  jormungandr/src/rest/v1/handlers.rs
  jormungandr/src/rest/v1/logic.rs
  jormungandr/src/rest/v1/mod.rs
Labels: enhancement, jörmungandr, subsys-rest

#2423 [Tests] Passive Client load tool
  Cargo.lock
  testing/jormungandr-integration-tests/Cargo.toml
  testing/jormungandr-integration-tests/src/bin/client_load.rs
  testing/jormungandr-integration-tests/src/common/configuration/mod.rs
  testing/jormungandr-integration-tests/src/common/data/witness.rs
  testing/jormungandr-integration-tests/src/common/file_utils.rs
  testing/jormungandr-integration-tests/src/common/jormungandr/logger.rs
  testing/jormungandr-integration-tests/src/common/jormungandr/starter/mod.rs
  testing/jormungandr-integration-tests/src/common/load/bootstrap/mod.rs
  testing/jormungandr-integration-tests/src/common/load/bootstrap/scenario/duration.rs
  testing/jormungandr-integration-tests/src/common/load/bootstrap/scenario/iteration.rs
  testing/jormungandr-integration-tests/src/common/load/bootstrap/scenario/mod.rs
  testing/jormungandr-integration-tests/src/common/load/mod.rs
  testing/jormungandr-integration-tests/src/common/mod.rs
Labels: Tests

#2429 [Tests] mesh scenario bootstrap fix
  testing/jormungandr-scenario-tests/src/test/network/topology/scenarios.rs
Labels: Tests

#2424 [Tests] add another stable leader to leader_restart test
  testing/jormungandr-scenario-tests/src/test/comm/passive_leader.rs
Labels: Tests

#2432 [Tests] change bootstrap sequence in mesh scenario
  testing/jormungandr-scenario-tests/src/test/network/topology/scenarios.rs
Labels: Tests
