Repository input-output-hk/jormungandr, pull requests merged in 2020-04, with the labels that each got.

#1992 [Tests] implemented network stats geters. Starter improvements
  jormungandr-integration-tests/src/common/configuration/node_config_builder.rs
  jormungandr-integration-tests/src/common/jormungandr/commands.rs
  jormungandr-integration-tests/src/common/jormungandr/configuration_builder.rs
  jormungandr-integration-tests/src/common/jormungandr/process.rs
  jormungandr-integration-tests/src/common/jormungandr/rest.rs
  jormungandr-integration-tests/src/common/jormungandr/starter.rs
  jormungandr-lib/src/interfaces/mod.rs
  jormungandr-lib/src/interfaces/peer_stats.rs
  jormungandr-scenario-tests/src/node.rs
  jormungandr-scenario-tests/src/scenario/repository/mod.rs
  jormungandr-scenario-tests/src/test/features/mod.rs
  jormungandr-scenario-tests/src/test/features/p2p.rs
  jormungandr/src/rest/v0/handlers.rs
Labels: Tests

#2000 get_stats_counter: do not return errors when missing state fields
  jormungandr/src/rest/mod.rs
  jormungandr/src/rest/v0/handlers.rs
Labels: bug, subsys-rest

#2006 Nightly build github actions
  .github/workflows/nightly.yml
Labels: CI, build-system, build-system: Windows, enhancement

#2008 [Tests] clean up p2p test . moved to unstable
  jormungandr-scenario-tests/src/scenario/repository/mod.rs
  jormungandr-scenario-tests/src/test/features/p2p.rs
Labels: Tests

#2002 Compatibility test
  Cargo.lock
  jormungandr-integration-tests/Cargo.toml
  jormungandr-integration-tests/src/common/file_utils.rs
  jormungandr-integration-tests/src/common/jormungandr/commands.rs
  jormungandr-integration-tests/src/common/jormungandr/mod.rs
  jormungandr-integration-tests/src/common/jormungandr/process.rs
  jormungandr-integration-tests/src/common/jormungandr/rest.rs
  jormungandr-integration-tests/src/common/jormungandr/starter/commands.rs
  jormungandr-integration-tests/src/common/jormungandr/starter/mod.rs
  jormungandr-integration-tests/src/common/legacy/mod.rs
  jormungandr-integration-tests/src/common/mod.rs
  jormungandr-integration-tests/src/jormungandr/genesis/rewards.rs
  jormungandr-integration-tests/src/non_functional/compatibility.rs
  jormungandr-integration-tests/src/non_functional/explorer.rs
  jormungandr-integration-tests/src/non_functional/mod.rs
  jormungandr-integration-tests/src/non_functional/sanity.rs
  jormungandr-lib/Cargo.toml
  jormungandr-lib/src/testing/archive/mod.rs
  jormungandr-lib/src/testing/github/mod.rs
  jormungandr-lib/src/testing/github/release.rs
  jormungandr-lib/src/testing/mod.rs
  jormungandr-lib/src/testing/web/mod.rs
Labels: Tests

#2010 [Tests] Jts legacy test
  jormungandr-integration-tests/src/common/jormungandr/rest.rs
  jormungandr-scenario-tests/src/node.rs
  jormungandr-scenario-tests/src/scenario/controller.rs
  jormungandr-scenario-tests/src/scenario/mod.rs
  jormungandr-scenario-tests/src/scenario/repository/mod.rs
  jormungandr-scenario-tests/src/scenario/spawn_params.rs
  jormungandr-scenario-tests/src/test/comm/leader_leader.rs
  jormungandr-scenario-tests/src/test/comm/passive_leader.rs
  jormungandr-scenario-tests/src/test/features/p2p.rs
  jormungandr-scenario-tests/src/test/network/real.rs
  jormungandr-scenario-tests/src/test/network/topology/scenarios.rs
  jormungandr-scenario-tests/src/test/non_functional/disruption.rs
  jormungandr-scenario-tests/src/test/non_functional/legacy.rs
  jormungandr-scenario-tests/src/test/non_functional/mod.rs
Labels: Tests

#2019 Leadership tokio 0.2
  jormungandr/src/leadership/process.rs
Labels: subsys-consensus

#2021 Nightly build recreate fix
  .github/workflows/nightly.yml
Labels: CI, build-system, build-system: Windows

#2034 Implemented derive macro for IntercomMsg
  jormungandr-watchdog-derive/src/lib.rs
  jormungandr-watchdog/examples/stdin_echo.rs
  jormungandr-watchdog/src/lib.rs
  jormungandr-watchdog/tests/compat.rs
  jormungandr-watchdog/tests/ping_pong.rs
Labels: enhancement

#2036 Nightly release with version and date
  .github/workflows/nightly.yml
  .github/workflows/release.yml
Labels: CI, build-system, build-system: Windows

#2044 [Tests] move multi node legacy tests to stable build
  jormungandr-scenario-tests/src/scenario/repository/mod.rs
Labels: Tests

#2043 [Tests] Duplicated nodes id scenario test
  jormungandr-integration-tests/src/common/configuration/jormungandr_config.rs
  jormungandr-integration-tests/src/common/configuration/node_config_builder.rs
  jormungandr-lib/src/interfaces/config/node.rs
  jormungandr-scenario-tests/src/node.rs
  jormungandr-scenario-tests/src/scenario/repository/mod.rs
  jormungandr-scenario-tests/src/scenario/settings.rs
  jormungandr-scenario-tests/src/scenario/spawn_params.rs
  jormungandr-scenario-tests/src/test/features/mod.rs
  jormungandr-scenario-tests/src/test/features/node_id.rs
  jormungandr-scenario-tests/src/test/features/p2p.rs
  jormungandr-scenario-tests/src/test/utils/mod.rs
Labels: Tests

#2052 always make chain selection in process_new_ref
  jormungandr/src/blockchain/process.rs
Labels: Priority - High, bug, jörmungandr, subsys-block

#2055 doc - api specification maintenance updates
  .github/workflows/api.yml
  doc/api/v0.yaml
Labels: doc, enhancement

#2062 [Tests] Implement scenario tests in integration tests
  Cargo.lock
  jormungandr-integration-tests/src/common/configuration/node_config_builder.rs
  jormungandr-integration-tests/src/common/jormungandr/configuration_builder.rs
  jormungandr-integration-tests/src/common/jormungandr/starter/mod.rs
  jormungandr-integration-tests/src/common/mod.rs
  jormungandr-integration-tests/src/common/network/builder.rs
  jormungandr-integration-tests/src/common/network/controller.rs
  jormungandr-integration-tests/src/common/network/mod.rs
  jormungandr-integration-tests/src/networking/mod.rs
  jormungandr-integration-tests/src/networking/p2p.rs
  jormungandr-lib/Cargo.toml
  jormungandr-lib/src/interfaces/config/node.rs
  jormungandr-lib/src/testing/mod.rs
  jormungandr-lib/src/testing/network_builder/blockchain.rs
  jormungandr-lib/src/testing/network_builder/mod.rs
  jormungandr-lib/src/testing/network_builder/rng.rs
  jormungandr-lib/src/testing/network_builder/settings.rs
  jormungandr-lib/src/testing/network_builder/spawn_params.rs
  jormungandr-lib/src/testing/network_builder/topology.rs
  jormungandr-lib/src/testing/network_builder/wallet.rs
  jormungandr-scenario-tests/src/lib.rs
  jormungandr-scenario-tests/src/node.rs
  jormungandr-scenario-tests/src/scenario/context.rs
  jormungandr-scenario-tests/src/scenario/controller.rs
  jormungandr-scenario-tests/src/scenario/mod.rs
  jormungandr-scenario-tests/src/scenario/settings.rs
  jormungandr-scenario-tests/src/scenario/wallet.rs
  jormungandr-scenario-tests/src/test/features/node_id.rs
  jormungandr-scenario-tests/src/test/features/p2p.rs
  jormungandr-scenario-tests/src/test/network/real.rs
  jormungandr-scenario-tests/src/test/utils/mod.rs
Labels: Tests

#2071 [Tests] updated openapi.yaml location. updated error messages
  doc/quickstart/03_rest_api.md
  jormungandr-integration-tests/src/common/configuration/mod.rs
  jormungandr-integration-tests/src/jcli/rest/host.rs
  jormungandr-integration-tests/src/jcli/rest/tip.rs
Labels: Tests

#2047 [Test] private scenario tests connection limits test cases
  jormungandr-integration-tests/src/common/configuration/node_config_builder.rs
  jormungandr-lib/src/interfaces/config/node.rs
  jormungandr-lib/src/testing/network_builder/spawn_params.rs
  jormungandr-scenario-tests/src/scenario/repository/mod.rs
  jormungandr-scenario-tests/src/scenario/settings.rs
  jormungandr-scenario-tests/src/test/features/mod.rs
  jormungandr-scenario-tests/src/test/features/p2p/connections.rs
  jormungandr-scenario-tests/src/test/features/p2p/mod.rs
  jormungandr-scenario-tests/src/test/features/p2p/node_id.rs
  jormungandr-scenario-tests/src/test/features/p2p/stats.rs
Labels: Tests

#2009 [Tests] transaction propagation speed measurements
  jormungandr-scenario-tests/src/node.rs
  jormungandr-scenario-tests/src/test/comm/leader_leader.rs
  jormungandr-scenario-tests/src/test/comm/passive_leader.rs
  jormungandr-scenario-tests/src/test/network/real.rs
  jormungandr-scenario-tests/src/test/network/topology/scenarios.rs
  jormungandr-scenario-tests/src/test/non_functional/disruption.rs
  jormungandr-scenario-tests/src/test/non_functional/legacy.rs
  jormungandr-scenario-tests/src/test/utils/mod.rs
Labels: Tests

#2046 Fix version not working for crosscompiled targets
  .github/workflows/nightly.yml
Labels: CI, build-system, build-system: Windows

#2078 separate REST Context and methods implementations from Actix
  jormungandr-lib/src/interfaces/mod.rs
  jormungandr/src/rest/context.rs
  jormungandr/src/rest/explorer/handlers.rs
  jormungandr/src/rest/mod.rs
  jormungandr/src/rest/v0/handlers.rs
  jormungandr/src/rest/v0/logic.rs
  jormungandr/src/rest/v0/mod.rs
Labels: cleaning, jörmungandr, subsys-rest

#2080 [Tests] Quarantine White-list tests
  jormungandr-integration-tests/src/common/network/controller.rs
  jormungandr-integration-tests/src/common/network/mod.rs
  jormungandr-integration-tests/src/common/network/node.rs
  jormungandr-integration-tests/src/networking/p2p.rs
Labels: Tests

#2081 [Tests] Add assertion for pool_id from retirement cert
  jormungandr-integration-tests/src/jcli/certificate/retirement.rs
Labels: Tests

#2087 [Tests] Settings which allows self reference
  jormungandr-integration-tests/src/common/configuration/node_config_builder.rs
  jormungandr-integration-tests/src/common/jormungandr/starter/mod.rs
  jormungandr-integration-tests/src/common/network/controller.rs
  jormungandr-integration-tests/src/networking/p2p.rs
  jormungandr-lib/src/interfaces/config/mod.rs
  jormungandr-lib/src/interfaces/config/node.rs
  jormungandr-lib/src/testing/network_builder/spawn_params.rs
  jormungandr-scenario-tests/src/scenario/settings.rs
  jormungandr/src/network/p2p/layers/mod.rs
  jormungandr/src/network/p2p/layers/preferred_list.rs
Labels: Tests

#2083 REST API: replace actix with warp
  Cargo.lock
  jormungandr/Cargo.toml
  jormungandr/src/main.rs
  jormungandr/src/rest/context.rs
  jormungandr/src/rest/explorer/handlers.rs
  jormungandr/src/rest/explorer/mod.rs
  jormungandr/src/rest/mod.rs
  jormungandr/src/rest/server/error.rs
  jormungandr/src/rest/server/mod.rs
  jormungandr/src/rest/v0/handlers.rs
  jormungandr/src/rest/v0/logic.rs
  jormungandr/src/rest/v0/mod.rs
  jormungandr/src/settings/start/mod.rs
Labels: jörmungandr, subsys-rest, technical debt

#2095 udpate all deps
  Cargo.lock
Labels: dependencies

#2076 Track retirement in explorer stake pool data
  jormungandr/src/explorer/graphql/mod.rs
  jormungandr/src/explorer/indexing.rs
  jormungandr/src/explorer/mod.rs
Labels: Priority - High, bug, explorer

#2108 correctly set tip block in stats counter for non-leader nodes
  jormungandr/src/blockchain/process.rs
Labels: bug, jörmungandr, subsys-rest

#2077 doc - api v0, cleaning
  doc/api/v0.yaml
Labels: doc, subsys-rest, technical debt

#2082 Change mutex to std instead of tokio in watchdog intercom
  jormungandr-watchdog/src/service/intercom.rs
Labels: enhancement

#2122 Rest - api, /committees - added
  doc/api/v0.yaml
  doc/jcli/rest.md
  jcli/src/jcli_app/rest/v0/committees/mod.rs
  jcli/src/jcli_app/rest/v0/mod.rs
  jormungandr/src/rest/v0/handlers.rs
  jormungandr/src/rest/v0/logic.rs
  jormungandr/src/rest/v0/mod.rs
Labels: VOTE, enhancement, subsys-rest

#1932 [Tests] Rewards dump soak test
  jormungandr-integration-tests/src/non_functional/explorer.rs
  jormungandr-integration-tests/src/non_functional/mod.rs
  jormungandr-integration-tests/src/non_functional/rewards.rs
  jormungandr-integration-tests/src/non_functional/sanity.rs
  jormungandr-integration-tests/src/non_functional/soak.rs
  jormungandr-lib/src/testing/measurement/attribute/consumption.rs
  jormungandr-lib/src/testing/measurement/benchmark/consumption_benchmark.rs
  jormungandr-lib/src/testing/measurement/marker/resources_usage.rs
  jormungandr-lib/src/testing/measurement/mod.rs
  jormungandr-lib/src/testing/mod.rs
Labels: Tests

#2125 [Tests] genesis decode bijection test
  Cargo.lock
  jormungandr-integration-tests/Cargo.toml
  jormungandr-integration-tests/src/common/file_assert.rs
  jormungandr-integration-tests/src/common/jcli_wrapper/jcli_commands.rs
  jormungandr-integration-tests/src/common/jcli_wrapper/mod.rs
  jormungandr-integration-tests/src/jcli/genesis/encode.rs
Labels: Tests

#2137 reduce dependency surface
  jormungandr-integration-tests/Cargo.toml
  jormungandr-lib/Cargo.toml
  jormungandr-lib/src/lib.rs
Labels: cleaning, jcli, jörmungandr

#2131 [Test] ignore qa bootstrap network test
  jormungandr-integration-tests/src/networking/testnet.rs
Labels: Tests

#2144 Clippy fixes jormungandr watchdog
  jormungandr-watchdog/examples/stdin_echo.rs
  jormungandr-watchdog/src/watchdog/mod.rs
Labels: cleaning

#2132 DOC - cleanup and updates
  doc/SUMMARY.md
  doc/advanced/01_the_genesis_block.md
  doc/advanced/02_starting_bft_blockchain.md
  doc/advanced/03_starting_genesis_praos_blockchain.md
  doc/advanced/introduction.md
  doc/concepts/introduction.md
  doc/concepts/network.md
  doc/concepts/node.md
  doc/concepts/stake.md
  doc/configuration/introduction.md
  doc/configuration/leadership.md
  doc/configuration/logging.md
  doc/configuration/mempool.md
  doc/configuration/network.md
  doc/internal_design.md
  doc/introduction.md
  doc/jcli/address.md
  doc/jcli/certificate.md
  doc/jcli/genesis.md
  doc/jcli/key.md
  doc/jcli/transaction.md
  doc/quickstart/01_command_line.md
  doc/quickstart/02_passive_node.md
  doc/quickstart/03_rest_api.md
  doc/quickstart/04_explorer.md
  doc/quickstart/05_leader_candidate.md
  doc/stake_pool/delegating_stake.md
  doc/stake_pool/introduction.md
  doc/stake_pool/registering_stake_pool.md
  doc/stake_pool/retiring_stake_pool.md
Labels: cleaning, doc, enhancement

#2117 [Test ]Last block update
  jormungandr-integration-tests/src/common/configuration/jormungandr_config.rs
  jormungandr-integration-tests/src/common/configuration/node_config_builder.rs
  jormungandr-integration-tests/src/common/data/stake_pool.rs
  jormungandr-integration-tests/src/common/network/builder.rs
  jormungandr-integration-tests/src/common/network/controller.rs
  jormungandr-integration-tests/src/common/network/node.rs
  jormungandr-integration-tests/src/networking/mod.rs
  jormungandr-integration-tests/src/networking/stats.rs
Labels: Tests

#2135 Expose VotePlans in rest service
  doc/api/v0.yaml
  jcli/src/jcli_app/rest/v0/committees/mod.rs
  jormungandr-lib/src/interfaces/blockdate.rs
  jormungandr-lib/src/interfaces/mod.rs
  jormungandr-lib/src/interfaces/vote/mod.rs
  jormungandr/src/blockchain/reference.rs
  jormungandr/src/rest/v0/handlers.rs
  jormungandr/src/rest/v0/logic.rs
  jormungandr/src/rest/v0/mod.rs
Labels: VOTE, enhancement, subsys-rest

#2011 [Tests] extended logging and making storage non-persistent
  jormungandr-integration-tests/src/common/configuration/node_config_builder.rs
  jormungandr-integration-tests/src/common/jormungandr/configuration_builder.rs
  jormungandr-integration-tests/src/common/jormungandr/starter/mod.rs
  jormungandr-integration-tests/src/common/network/builder.rs
  jormungandr-integration-tests/src/common/network/controller.rs
  jormungandr-integration-tests/src/jormungandr/recovery.rs
  jormungandr-integration-tests/src/networking/p2p.rs
  jormungandr-integration-tests/src/non_functional/rewards.rs
  jormungandr-integration-tests/src/non_functional/sanity.rs
  jormungandr-integration-tests/src/non_functional/soak.rs
  jormungandr-lib/src/testing/measurement/benchmark/consumption_benchmark.rs
Labels: Tests

#2154 [Test] Test maintenance for scenario tests
  jormungandr-integration-tests/src/non_functional/rewards.rs
  jormungandr-scenario-tests/src/test/features/p2p/node_id.rs
  jormungandr-scenario-tests/src/test/network/topology/scenarios.rs
Labels: Tests
