Repository input-output-hk/jormungandr, pull requests merged in 2020-07, with the labels that each got.

#2112 [Tests] Start Node with TLS certificate
  Cargo.lock
  jormungandr-lib/Cargo.toml
  jormungandr-lib/src/interfaces/config/mod.rs
  jormungandr-lib/src/interfaces/config/node.rs
  jormungandr/src/rest/mod.rs
  jormungandr/src/settings/start/config.rs
  jormungandr/src/settings/start/mod.rs
  testing/jormungandr-integration-tests/src/common/configuration/node_config_builder.rs
  testing/jormungandr-integration-tests/src/common/jormungandr/configuration_builder.rs
  testing/jormungandr-integration-tests/src/common/jormungandr/process.rs
  testing/jormungandr-integration-tests/src/common/jormungandr/rest.rs
  testing/jormungandr-integration-tests/src/common/jormungandr/starter/mod.rs
  testing/jormungandr-integration-tests/src/common/legacy/configuration_builder.rs
  testing/jormungandr-integration-tests/src/common/legacy/rest.rs
  testing/jormungandr-integration-tests/src/jormungandr/mod.rs
  testing/jormungandr-integration-tests/src/jormungandr/tls.rs
  testing/jormungandr-scenario-tests/src/scenario/settings.rs
  testing/jormungandr-testing-utils/Cargo.toml
  testing/jormungandr-testing-utils/src/testing/fragments/adversary.rs
  testing/jormungandr-testing-utils/src/testing/mod.rs
  testing/jormungandr-testing-utils/src/testing/openssl/mod.rs
Labels: Tests

#2435 [Tests] Move config to utils
  Cargo.lock
  testing/jormungandr-integration-tests/src/common/configuration.rs
  testing/jormungandr-integration-tests/src/common/jormungandr/configuration_builder.rs
  testing/jormungandr-integration-tests/src/common/jormungandr/starter/mod.rs
  testing/jormungandr-integration-tests/src/common/legacy/mod.rs
  testing/jormungandr-integration-tests/src/common/network/controller.rs
  testing/jormungandr-integration-tests/src/jcli/genesis/encode.rs
  testing/jormungandr-integration-tests/src/mock/testing/setup.rs
  testing/jormungandr-integration-tests/src/networking/testnet.rs
  testing/jormungandr-testing-utils/Cargo.toml
  testing/jormungandr-testing-utils/src/legacy/mod.rs
  testing/jormungandr-testing-utils/src/legacy/version.rs
  testing/jormungandr-testing-utils/src/lib.rs
  testing/jormungandr-testing-utils/src/testing/configuration/block0_config_builder.rs
  testing/jormungandr-testing-utils/src/testing/configuration/jormungandr_config.rs
  testing/jormungandr-testing-utils/src/testing/configuration/legacy/configuration_builder.rs
  testing/jormungandr-testing-utils/src/testing/configuration/legacy/mod.rs
  testing/jormungandr-testing-utils/src/testing/configuration/legacy/node.rs
  testing/jormungandr-testing-utils/src/testing/configuration/mod.rs
  testing/jormungandr-testing-utils/src/testing/configuration/node_config.rs
  testing/jormungandr-testing-utils/src/testing/configuration/node_config_builder.rs
  testing/jormungandr-testing-utils/src/testing/configuration/secret_model_factory.rs
  testing/jormungandr-testing-utils/src/testing/mod.rs
Labels: Tests

#2446 [Tests] remove blocking code from node bootstrap
  testing/jormungandr-scenario-tests/src/scenario/controller.rs
  testing/jormungandr-scenario-tests/src/test/comm/leader_leader.rs
Labels: Tests

#2448 [Tests] Migrate to assert_cmd
  Cargo.lock
  testing/jormungandr-integration-tests/Cargo.toml
  testing/jormungandr-integration-tests/src/common/jcli_wrapper/certificate/wrapper.rs
  testing/jormungandr-integration-tests/src/common/jcli_wrapper/jcli_transaction_wrapper/mod.rs
  testing/jormungandr-integration-tests/src/common/jcli_wrapper/mod.rs
  testing/jormungandr-integration-tests/src/common/jormungandr/starter/mod.rs
  testing/jormungandr-integration-tests/src/common/mod.rs
  testing/jormungandr-integration-tests/src/common/process_assert.rs
  testing/jormungandr-integration-tests/src/common/process_utils/mod.rs
  testing/jormungandr-integration-tests/src/jcli/address/account.rs
  testing/jormungandr-integration-tests/src/jcli/address/single.rs
  testing/jormungandr-integration-tests/src/jcli/key/generate.rs
  testing/jormungandr-integration-tests/src/jcli/rest/block.rs
  testing/jormungandr-integration-tests/src/jcli/rest/host.rs
  testing/jormungandr-integration-tests/src/jcli/rest/tip.rs
  testing/jormungandr-integration-tests/src/jormungandr/bft/start_node.rs
Labels: Tests

#2450 [Tests] remove blocking code for legacy node
  testing/jormungandr-scenario-tests/src/scenario/controller.rs
Labels: Tests

#2449 [Tests] remove some clippy warnings
  testing/jormungandr-integration-tests/src/bin/client_load.rs
  testing/jormungandr-integration-tests/src/common/jormungandr/configuration_builder.rs
  testing/jormungandr-integration-tests/src/common/jormungandr/logger.rs
  testing/jormungandr-integration-tests/src/common/jormungandr/starter/mod.rs
  testing/jormungandr-integration-tests/src/common/load/bootstrap/scenario/mod.rs
  testing/jormungandr-integration-tests/src/common/network/controller.rs
  testing/jormungandr-integration-tests/src/mock/client.rs
  testing/jormungandr-integration-tests/src/mock/server.rs
  testing/jormungandr-testing-utils/src/testing/configuration/jormungandr_config.rs
  testing/jormungandr-testing-utils/src/testing/configuration/legacy/configuration_builder.rs
  testing/jormungandr-testing-utils/src/testing/configuration/mod.rs
  testing/jormungandr-testing-utils/src/testing/fragments/adversary.rs
  testing/jormungandr-testing-utils/src/testing/fragments/export.rs
  testing/jormungandr-testing-utils/src/testing/fragments/sender.rs
  testing/jormungandr-testing-utils/src/testing/fragments/setup.rs
  testing/jormungandr-testing-utils/src/testing/fragments/verifier.rs
  testing/jormungandr-testing-utils/src/testing/measurement/benchmark/consumption_benchmark.rs
  testing/jormungandr-testing-utils/src/testing/openssl/mod.rs
  testing/jormungandr-testing-utils/src/testing/sync/mod.rs
Labels: Tests

#2459 pass embed-bitcode=yes for LTO builds
  .github/workflows/release.yml
Labels: CI

#2436 generate leadership events only per request
  jormungandr/src/leadership/enclave.rs
  jormungandr/src/leadership/process.rs
  jormungandr/src/secure/enclave.rs
Labels: enhancement, jörmungandr
