Repository input-output-hk/jormungandr, pull requests merged in 2020-03, with the labels that each got.

#1866 Warnings cleaning
  jormungandr-integration-tests/build.rs
  jormungandr-integration-tests/src/common/configuration/node_config_builder.rs
  jormungandr-integration-tests/src/common/jormungandr/starter.rs
  jormungandr-integration-tests/src/non_functional/mod.rs
  jormungandr-lib/src/interfaces/config/mempool.rs
  jormungandr-scenario-tests/src/node.rs
  jormungandr-scenario-tests/src/scenario/repository/mod.rs
  jormungandr-scenario-tests/src/test/utils/mod.rs
  jormungandr-scenario-tests/src/wallet.rs
  jormungandr/src/blockchain/process.rs
  jormungandr/src/leadership/process.rs
Labels: cleaning

#1870 Bump tokio2 deps to 0.2.12
  Cargo.lock
  jormungandr-watchdog/Cargo.toml
  jormungandr/Cargo.toml
Labels: dependencies, rust

#1867 stuck_notifier: get current time before tip_date
  jormungandr/src/stuck_notifier.rs
Labels: bug, jörmungandr

#1871 [Private network tests] Leader promotion
  jormungandr-lib/src/interfaces/config/secret.rs
  jormungandr-lib/src/interfaces/leadership_log.rs
  jormungandr-scenario-tests/src/node.rs
  jormungandr-scenario-tests/src/scenario/repository/mod.rs
  jormungandr-scenario-tests/src/scenario/repository/tag.rs
  jormungandr-scenario-tests/src/test/features/leader_promotion.rs
  jormungandr-scenario-tests/src/test/features/mod.rs
  jormungandr-scenario-tests/src/test/mod.rs
Labels: Tests

#1876 [Tests] move wallet transaction logic to libs
  jormungandr-integration-tests/src/common/configuration/jormungandr_config.rs
  jormungandr-integration-tests/src/common/jormungandr/process.rs
  jormungandr-integration-tests/src/common/mod.rs
  jormungandr-integration-tests/src/common/transaction_utils.rs
  jormungandr-integration-tests/src/jormungandr/explorer/mod.rs
  jormungandr-integration-tests/src/mock/testing/client_tests.rs
  jormungandr-integration-tests/src/non_functional/soak.rs
  jormungandr-lib/src/wallet/account.rs
  jormungandr-lib/src/wallet/mod.rs
  jormungandr-scenario-tests/src/scenario/mod.rs
  jormungandr-scenario-tests/src/test/mod.rs
  jormungandr-scenario-tests/src/test/non_functional/soak.rs
  jormungandr-scenario-tests/src/wallet.rs
Labels: Tests

#1880 update the documentation and make sure we use the `--locked` `Cargo.lock`
  README.md
Labels: build-system, doc

#1850 [Tests] Scenario tests disruption
  jormungandr-scenario-tests/src/node.rs
  jormungandr-scenario-tests/src/scenario/controller.rs
  jormungandr-scenario-tests/src/scenario/repository/mod.rs
  jormungandr-scenario-tests/src/scenario/repository/scenario.rs
  jormungandr-scenario-tests/src/scenario/settings.rs
  jormungandr-scenario-tests/src/test/features/leader_promotion.rs
  jormungandr-scenario-tests/src/test/network/topology/scenarios.rs
  jormungandr-scenario-tests/src/test/non_functional/disruption.rs
  jormungandr-scenario-tests/src/test/non_functional/mod.rs
  jormungandr-scenario-tests/src/test/utils/mod.rs
  jormungandr-scenario-tests/src/wallet.rs
Labels: Tests

#1809 Blockchain tip tracking in stats_counter
  Cargo.lock
  jormungandr/Cargo.toml
  jormungandr/src/blockchain/process.rs
  jormungandr/src/rest/mod.rs
  jormungandr/src/rest/v0/handlers.rs
  jormungandr/src/stats_counter.rs
Labels: enhancement, jörmungandr, subsys-rest

#1883 add parent hash for created block in leadership logs
  doc/jcli/rest.md
  doc/openapi.yaml
  jormungandr-lib/src/interfaces/leadership_log.rs
  jormungandr/src/leadership/process.rs
Labels: enhancement, jörmungandr, subsys-rest

#1877 add Stake Pool retirement command in JCLI
  doc/jcli/certificate.md
  jcli/src/jcli_app/certificate/mod.rs
  jcli/src/jcli_app/certificate/new_stake_pool_retirement.rs
Labels: enhancement, jcli

#1892 [Tests] Stabilize disruption tests
  jormungandr-scenario-tests/src/node.rs
  jormungandr-scenario-tests/src/scenario/repository/mod.rs
  jormungandr-scenario-tests/src/test/non_functional/disruption.rs
  jormungandr-scenario-tests/src/test/utils/mod.rs
Labels: Tests

#1886 Reward history
  doc/configuration/introduction.md
  doc/openapi.yaml
  jormungandr-lib/src/interfaces/mod.rs
  jormungandr-lib/src/interfaces/rewards_info.rs
  jormungandr/src/blockchain/chain.rs
  jormungandr/src/blockchain/reference.rs
  jormungandr/src/leadership/process.rs
  jormungandr/src/main.rs
  jormungandr/src/rest/v0/handlers.rs
  jormungandr/src/rest/v0/mod.rs
  jormungandr/src/settings/command_arguments.rs
  jormungandr/src/settings/start/mod.rs
  jormungandr/src/start_up/mod.rs
Labels: enhancement, jörmungandr, subsys-rest

#1898 [Tests] Change 'relay' test case tag - removed unstable
  jormungandr-scenario-tests/src/scenario/repository/mod.rs
Labels: Tests

#1901 access random stake distribution in time
  doc/openapi.yaml
  jormungandr/src/rest/v0/handlers.rs
  jormungandr/src/rest/v0/mod.rs
Labels: enhancement, subsys-rest

#1903 [Tests] jcli retirement test case
  jormungandr-integration-tests/src/common/jcli_wrapper/certificate/commands.rs
  jormungandr-integration-tests/src/common/jcli_wrapper/certificate/wrapper.rs
  jormungandr-integration-tests/src/jcli/certificate/mod.rs
  jormungandr-integration-tests/src/jcli/certificate/retirement.rs
  jormungandr-integration-tests/src/jormungandr/explorer/mod.rs
  jormungandr-integration-tests/src/mock/testing/client_tests.rs
Labels: Tests

#1904 Use custom CircleCI image
  .circleci/config.yml
  docker/ci/Dockerfile.nightly
  docker/ci/Dockerfile.release
Labels: CI

#1902 [Tests]Explorer soak test
  jormungandr-integration-tests/src/common/explorer/client/mod.rs
  jormungandr-integration-tests/src/common/explorer/data/last_block.rs
  jormungandr-integration-tests/src/common/explorer/data/mod.rs
  jormungandr-integration-tests/src/common/explorer/mod.rs
  jormungandr-integration-tests/src/common/jormungandr/starter.rs
  jormungandr-integration-tests/src/common/startup/mod.rs
  jormungandr-integration-tests/src/non_functional/explorer.rs
  jormungandr-integration-tests/src/non_functional/mod.rs
  jormungandr-integration-tests/src/non_functional/sanity.rs
Labels: Tests

#1908 blockchain: convert internals to futures 0.3
  jormungandr/src/blockchain/branch.rs
  jormungandr/src/blockchain/candidate.rs
  jormungandr/src/blockchain/chain.rs
  jormungandr/src/blockchain/multiverse.rs
  jormungandr/src/blockchain/process.rs
  jormungandr/src/blockchain/reference_cache.rs
  jormungandr/src/blockchain/storage.rs
  jormungandr/src/blockchain/tip.rs
  jormungandr/src/client.rs
  jormungandr/src/explorer/graphql/mod.rs
  jormungandr/src/explorer/mod.rs
  jormungandr/src/leadership/process.rs
  jormungandr/src/main.rs
  jormungandr/src/network/bootstrap.rs
  jormungandr/src/rest/mod.rs
  jormungandr/src/rest/v0/handlers.rs
  jormungandr/src/start_up/mod.rs
  jormungandr/src/stuck_notifier.rs
Labels: cleaning, jörmungandr

#1914 [Test] Reward history test case
  jormungandr-integration-tests/src/common/configuration/jormungandr_config.rs
  jormungandr-integration-tests/src/common/jormungandr/commands.rs
  jormungandr-integration-tests/src/common/jormungandr/configuration_builder.rs
  jormungandr-integration-tests/src/common/jormungandr/mod.rs
  jormungandr-integration-tests/src/common/jormungandr/process.rs
  jormungandr-integration-tests/src/common/jormungandr/rest.rs
  jormungandr-integration-tests/src/common/jormungandr/starter.rs
  jormungandr-integration-tests/src/jormungandr/genesis/rewards.rs
  jormungandr-lib/src/interfaces/rewards_info.rs
Labels: Tests

#1916 p2p quarantine policy update and vicinity randomnisation
  Cargo.lock
  jormungandr-integration-tests/Cargo.toml
  jormungandr-lib/Cargo.toml
  jormungandr-scenario-tests/Cargo.toml
  jormungandr/Cargo.toml
  jormungandr/src/network/p2p/gossip.rs
  jormungandr/src/network/p2p/policy.rs
Labels: enhancement, jörmungandr, subsys-network

#1918 Added peer connected count to stats
  jormungandr/src/main.rs
  jormungandr/src/network/mod.rs
  jormungandr/src/rest/v0/handlers.rs
  jormungandr/src/stats_counter.rs
Labels: enhancement, subsys-rest

#1917 Changed default value of max_client_connections
  doc/configuration/network.md
  jormungandr/src/settings/start/network.rs
Labels: subsys-network

#1907 move different modules to new tokio runtime
  jormungandr/src/main.rs
  jormungandr/src/utils/task.rs
Labels: cleaning, technical debt

#1909 [Docs] jcli retirement docs
  doc/SUMMARY.md
  doc/jcli/certificate.md
  doc/stake_pool/retiring_stake_pool.md
Labels: doc

#1923 Rest: node stats - use interface dto
  jormungandr-lib/src/interfaces/mod.rs
  jormungandr-lib/src/interfaces/stats.rs
  jormungandr-scenario-tests/src/node.rs
  jormungandr-scenario-tests/src/test/utils/mod.rs
  jormungandr/src/rest/v0/handlers.rs
Labels: cleaning, subsys-rest

#1910 jcli: /api/v0/stake/{epoch} - exposed
  doc/jcli/rest.md
  jcli/src/jcli_app/rest/v0/stake/mod.rs
Labels: enhancement, jcli, subsys-rest

#1922 [Tests] System resources monitoring for node
  Cargo.lock
  jormungandr-integration-tests/src/common/jormungandr/process.rs
  jormungandr-integration-tests/src/jormungandr/bft/start_node.rs
  jormungandr-integration-tests/src/non_functional/soak.rs
  jormungandr-lib/Cargo.toml
  jormungandr-lib/src/testing/measurement/attribute/consumption.rs
  jormungandr-lib/src/testing/measurement/attribute/mod.rs
  jormungandr-lib/src/testing/measurement/benchmark/consumption_benchmark.rs
  jormungandr-lib/src/testing/measurement/benchmark/mod.rs
  jormungandr-lib/src/testing/measurement/marker/mod.rs
  jormungandr-lib/src/testing/measurement/marker/resources_usage.rs
  jormungandr-lib/src/testing/measurement/mod.rs
  jormungandr-lib/src/testing/measurement/thresholds.rs
  jormungandr-lib/src/testing/mod.rs
Labels: Tests

#1926 [Tests] Private network multiple trust fix
  jormungandr-scenario-tests/src/test/network/topology/scenarios.rs
  jormungandr-scenario-tests/src/test/non_functional/disruption.rs
  jormungandr-scenario-tests/src/test/utils/mod.rs
Labels: Tests

#1947 Remove asserts when searching for epoch distribution
  jormungandr/src/rest/v0/handlers.rs
Labels: jörmungandr, subsys-rest

#1953 [Tests] Move failing tests from private network tests to unstable build
  jormungandr-scenario-tests/src/scenario/repository/mod.rs
Labels: Tests

#1951 [Private network tests] progress bar mode which only prints scenario results
  jormungandr-scenario-tests/src/main.rs
  jormungandr-scenario-tests/src/node.rs
  jormungandr-scenario-tests/src/scenario/context.rs
  jormungandr-scenario-tests/src/scenario/controller.rs
  jormungandr-scenario-tests/src/scenario/mod.rs
  jormungandr-scenario-tests/src/scenario/progress_bar_mode.rs
Labels: Tests

#1960 rename max_client_connections
  doc/configuration/network.md
  jormungandr/src/network/mod.rs
  jormungandr/src/settings/start/config.rs
  jormungandr/src/settings/start/mod.rs
  jormungandr/src/settings/start/network.rs
Labels: cleaning, jörmungandr

#1913 jcli: /api/v0/rewards - (history,epoch) - exposed
  doc/jcli/rest.md
  jcli/src/jcli_app/rest/v0/mod.rs
  jcli/src/jcli_app/rest/v0/rewards/epoch.rs
  jcli/src/jcli_app/rest/v0/rewards/history.rs
  jcli/src/jcli_app/rest/v0/rewards/mod.rs
Labels: enhancement, jcli, subsys-rest

#1961 switch to rustls from openssl
  Cargo.lock
  README.md
  docker/Dockerfile
  jcli/Cargo.toml
  jormungandr-integration-tests/Cargo.toml
  jormungandr-scenario-tests/Cargo.toml
  jormungandr/Cargo.toml
Labels: cleaning

#1950 jcli: certificate get-stake-pool-id - make valid also for retirement
  jcli/src/jcli_app/certificate/get_stake_pool_id.rs
Labels: enhancement, jcli

#1952 [Tests] Fix network builder in real network test case
  jormungandr-scenario-tests/src/node.rs
  jormungandr-scenario-tests/src/scenario/controller.rs
  jormungandr-scenario-tests/src/test/comm/leader_leader.rs
  jormungandr-scenario-tests/src/test/comm/passive_leader.rs
  jormungandr-scenario-tests/src/test/network/real.rs
  jormungandr-scenario-tests/src/test/network/topology/scenarios.rs
  jormungandr-scenario-tests/src/test/non_functional/disruption.rs
  jormungandr-scenario-tests/src/test/utils/mod.rs
  jormungandr-scenario-tests/src/test/utils/wait.rs
Labels: Tests

#1968 compile the tests and the doc in separate jobs
  .circleci/config.yml
Labels: CI, Tests

#1971 use OpenSSL for reqwests 0.10 on Android
  Cargo.lock
  jormungandr/Cargo.toml
Labels: build-system: Android

#1970 Initiate gossips fix 1946
  jormungandr/src/network/mod.rs
Labels: bug, jörmungandr, subsys-network

#1981 Access certain REST API methods before bootstrap is over
  jormungandr/src/main.rs
  jormungandr/src/rest/mod.rs
  jormungandr/src/rest/v0/handlers.rs
Labels: enhancement, jörmungandr, subsys-rest

#1980 Fix node stats peer_connected_cnt
  jormungandr/src/network/mod.rs
  jormungandr/src/stats_counter.rs
Labels: bug, jörmungandr, subsys-rest

#1990 Preferred list for poldercast layer
  Cargo.lock
  doc/configuration/network.md
  jormungandr/Cargo.toml
  jormungandr/src/network/p2p/layers/mod.rs
  jormungandr/src/network/p2p/layers/preferred_list.rs
  jormungandr/src/network/p2p/mod.rs
  jormungandr/src/network/p2p/topology.rs
  jormungandr/src/settings/start/config.rs
  jormungandr/src/settings/start/mod.rs
  jormungandr/src/settings/start/network.rs
Labels: enhancement, jörmungandr, subsys-network

#1976 update all crates to use the same version of reqwest
  Cargo.lock
  jcli/Cargo.toml
  jcli/src/jcli_app/rest/mod.rs
  jcli/src/jcli_app/rest/v0/account/mod.rs
  jcli/src/jcli_app/rest/v0/block/next_id.rs
  jcli/src/jcli_app/rest/v0/block/subcommand.rs
  jcli/src/jcli_app/rest/v0/diagnostic/mod.rs
  jcli/src/jcli_app/rest/v0/leaders/mod.rs
  jcli/src/jcli_app/rest/v0/message/mod.rs
  jcli/src/jcli_app/rest/v0/network/stats.rs
  jcli/src/jcli_app/rest/v0/node/stats.rs
  jcli/src/jcli_app/rest/v0/rewards/epoch.rs
  jcli/src/jcli_app/rest/v0/rewards/history.rs
  jcli/src/jcli_app/rest/v0/settings/mod.rs
  jcli/src/jcli_app/rest/v0/shutdown/mod.rs
  jcli/src/jcli_app/rest/v0/stake/mod.rs
  jcli/src/jcli_app/rest/v0/stake_pool/mod.rs
  jcli/src/jcli_app/rest/v0/stake_pools/mod.rs
  jcli/src/jcli_app/rest/v0/tip/mod.rs
  jcli/src/jcli_app/rest/v0/utxo/mod.rs
  jcli/src/jcli_app/utils/debug_flag.rs
  jcli/src/jcli_app/utils/open_api_verifier.rs
  jcli/src/jcli_app/utils/rest_api.rs
  jormungandr-integration-tests/Cargo.toml
  jormungandr-integration-tests/src/common/explorer/client/mod.rs
  jormungandr-integration-tests/src/common/jcli_wrapper/mod.rs
  jormungandr-integration-tests/src/common/jormungandr/rest.rs
  jormungandr-integration-tests/src/jcli/rest/host.rs
  jormungandr-integration-tests/src/jcli/rest/tip.rs
  jormungandr-scenario-tests/Cargo.toml
  jormungandr-scenario-tests/src/node.rs
Labels: cleaning

#1994 use the exact version of rustls in jormungandr
  jormungandr/Cargo.toml
Labels: dependencies, jörmungandr

#1982 Added whitelisting to Policy
  doc/configuration/network.md
  jormungandr/src/network/p2p/policy.rs
Labels: Priority - High, enhancement, jörmungandr, subsys-network
