Repository input-output-hk/jormungandr, pull requests merged in 2020-12, with the labels that each got.

#2760 Rework the bootstrap procedure
  jormungandr/src/network/bootstrap.rs
  jormungandr/src/network/mod.rs
Labels: enhancement, jörmungandr, subsys-network

#2766 run tests in GitHub actions
  .github/workflows/test.yml
  testing/jormungandr-integration-tests/src/common/jormungandr/starter/mod.rs
Labels: CI

#2774 cleanup clippy warnings
  jcli/src/jcli_app/certificate/weighted_pool_ids.rs
  jormungandr/src/settings/start/mod.rs
Labels: cleaning

#2773 Reduce CircleCI jobs
  .circleci/config.yml
Labels: CI

#2775 correctly interrupt the bootstrap process when the remote peer is not responding
  jormungandr/src/network/bootstrap.rs
Labels: bug, jörmungandr

#2776 fix the bootstrap script to use newer jcli
  scripts/bootstrap
Labels: bug

#2772 Implement private tally certificate in jcli
  jcli/src/jcli_app/certificate/mod.rs
  jcli/src/jcli_app/certificate/new_vote_tally.rs
  jormungandr-lib/src/interfaces/mod.rs
  jormungandr-lib/src/interfaces/vote.rs
  testing/jormungandr-integration-tests/src/common/jcli/api/certificate.rs
  testing/jormungandr-integration-tests/src/common/jcli/command/certificate.rs
  testing/jormungandr-integration-tests/src/jormungandr/vit/mod.rs
Labels: enhancement

#2789 [Tests] Vote e2e scenario fix
  testing/iapyx/src/cli/args/interactive/command.rs
  testing/iapyx/src/cli/args/load/mod.rs
  testing/jormungandr-scenario-tests/src/legacy/node.rs
  testing/jormungandr-scenario-tests/src/node.rs
  testing/jormungandr-scenario-tests/src/slog.rs
  testing/jormungandr-scenario-tests/src/vit_station/controller.rs
  testing/jormungandr-scenario-tests/src/vit_station/data.rs
  testing/jormungandr-testing-utils/src/testing/node/rest/mod.rs
Labels: Tests

#2804 [Test] decrease soak test duration to 7 hours
  testing/jormungandr-integration-tests/src/non_functional/soak.rs
Labels: Tests

#2805 [Test] Adjust batch load test
  testing/jormungandr-integration-tests/src/non_functional/fragment.rs
  testing/jormungandr-testing-utils/src/testing/node/rest/raw.rs
Labels: Tests

#2693 [Test] Private vote e2e flow test case
  Cargo.lock
  testing/jormungandr-integration-tests/Cargo.toml
  testing/jormungandr-integration-tests/src/common/jcli/api/certificate.rs
  testing/jormungandr-integration-tests/src/common/jcli/api/mod.rs
  testing/jormungandr-integration-tests/src/common/jcli/api/votes/committee/communication_key.rs
  testing/jormungandr-integration-tests/src/common/jcli/api/votes/committee/member_key.rs
  testing/jormungandr-integration-tests/src/common/jcli/api/votes/committee/mod.rs
  testing/jormungandr-integration-tests/src/common/jcli/api/votes/crs.rs
  testing/jormungandr-integration-tests/src/common/jcli/api/votes/mod.rs
  testing/jormungandr-integration-tests/src/common/jcli/api/votes/tally.rs
  testing/jormungandr-integration-tests/src/common/jcli/command/certificate.rs
  testing/jormungandr-integration-tests/src/common/jcli/command/mod.rs
  testing/jormungandr-integration-tests/src/common/jcli/command/votes/committee/communication_key.rs
  testing/jormungandr-integration-tests/src/common/jcli/command/votes/committee/member_key.rs
  testing/jormungandr-integration-tests/src/common/jcli/command/votes/committee/mod.rs
  testing/jormungandr-integration-tests/src/common/jcli/command/votes/crs.rs
  testing/jormungandr-integration-tests/src/common/jcli/command/votes/encrypting_vote_key.rs
  testing/jormungandr-integration-tests/src/common/jcli/command/votes/mod.rs
  testing/jormungandr-integration-tests/src/common/jcli/command/votes/tally.rs
  testing/jormungandr-integration-tests/src/common/jcli/mod.rs
  testing/jormungandr-integration-tests/src/jormungandr/vit/mod.rs
  testing/jormungandr-integration-tests/src/jormungandr/vit/private.rs
  testing/jormungandr-integration-tests/src/jormungandr/vit/public.rs
  testing/jormungandr-scenario-tests/src/test/features/vote.rs
  testing/jormungandr-testing-utils/Cargo.toml
  testing/jormungandr-testing-utils/src/testing/fragments/mod.rs
  testing/jormungandr-testing-utils/src/testing/fragments/sender.rs
  testing/jormungandr-testing-utils/src/testing/mod.rs
  testing/jormungandr-testing-utils/src/testing/node/rest/mod.rs
  testing/jormungandr-testing-utils/src/testing/vit/builder.rs
  testing/jormungandr-testing-utils/src/testing/vit/mod.rs
  testing/jormungandr-testing-utils/src/wallet/mod.rs
Labels: Tests

#2807 explorer: load all available branches during bootstrap
  jormungandr/src/explorer/mod.rs
Labels: bug, explorer

#2812 process services panics into errors and exit
  jormungandr/src/fragment/pool.rs
  jormungandr/src/fragment/process.rs
  jormungandr/src/main.rs
  jormungandr/src/start_up/error.rs
  jormungandr/src/utils/task.rs
Labels: bug, jörmungandr

#2816 Ignore failing storage test
  testing/jormungandr-integration-tests/src/non_functional/bootstrap.rs
Labels: Tests

#2810 [Tests] convert scenario tests a lib
  .circleci/config.yml
  testing/jormungandr-scenario-tests/Cargo.toml
  testing/jormungandr-scenario-tests/src/bin/interactive.rs
  testing/jormungandr-scenario-tests/src/bin/main.rs
  testing/jormungandr-scenario-tests/src/bin/vit.rs
  testing/jormungandr-scenario-tests/src/example_scenarios.rs
  testing/jormungandr-scenario-tests/src/interactive/mod.rs
  testing/jormungandr-scenario-tests/src/introduction.rs
  testing/jormungandr-scenario-tests/src/lib.rs
  testing/jormungandr-scenario-tests/src/scenario/mod.rs
  testing/jormungandr-scenario-tests/src/test/comm/leader_leader.rs
  testing/jormungandr-scenario-tests/src/test/comm/passive_leader.rs
  testing/jormungandr-scenario-tests/src/test/features/explorer.rs
  testing/jormungandr-scenario-tests/src/test/features/leader_promotion.rs
  testing/jormungandr-scenario-tests/src/test/features/leadership_log.rs
  testing/jormungandr-scenario-tests/src/test/features/p2p/connections.rs
  testing/jormungandr-scenario-tests/src/test/features/p2p/stats.rs
  testing/jormungandr-scenario-tests/src/test/features/stake_pool/retire.rs
  testing/jormungandr-scenario-tests/src/test/features/vote.rs
  testing/jormungandr-scenario-tests/src/test/legacy/disruption.rs
  testing/jormungandr-scenario-tests/src/test/legacy/fragment_propagation.rs
  testing/jormungandr-scenario-tests/src/test/network/bft/mod.rs
  testing/jormungandr-scenario-tests/src/test/network/topology/scenarios.rs
  testing/jormungandr-scenario-tests/src/test/non_functional/disruption.rs
  testing/jormungandr-scenario-tests/src/test/non_functional/soak.rs
  testing/jormungandr-testing-utils/src/wallet/mod.rs
  testing/jormungandr-testing-utils/src/wallet/utxo.rs
Labels: Tests

#2830 [Tests] rename main->jormungandr-scenario-tests bin
  .circleci/config.yml
  testing/jormungandr-scenario-tests/Cargo.toml
  testing/jormungandr-scenario-tests/src/bin/jormungandr-scenario-tests.rs
Labels: Tests

#2815 blockchain: check rewards distribution before applying a block
  jormungandr/src/blockchain/chain.rs
Labels: bug, jörmungandr

#2813 testing-utils: Remove extern crate statements
  testing/jormungandr-testing-utils/src/testing/node/configuration/block0_config_builder.rs
  testing/jormungandr-testing-utils/src/testing/node/configuration/mod.rs
  testing/jormungandr-testing-utils/src/testing/node/grpc/convert/mod.rs
  testing/jormungandr-testing-utils/src/testing/node/logger.rs
Labels: Tests, cleaning

#2814 jormungandr-testing-utils: add QR code generator
  Cargo.lock
  testing/jormungandr-testing-utils/Cargo.toml
  testing/jormungandr-testing-utils/src/lib.rs
  testing/jormungandr-testing-utils/src/qr_code.rs
Labels: Tests, VOTE

#2841 Private tally docs
  doc/jcli/vote.md
Labels: doc

#2855 jcli vote-plan certificate check
  jcli/src/jcli_app/certificate/mod.rs
  jcli/src/jcli_app/certificate/new_vote_plan.rs
Labels: bug

#2840 [Tests] Vit backend for third parties
  Cargo.lock
  testing/iapyx/src/backend/proxy/client.rs
  testing/iapyx/src/bin/iapyx-proxy.rs
  testing/jormungandr-integration-tests/src/common/network/builder.rs
  testing/jormungandr-scenario-tests/Cargo.toml
  testing/jormungandr-scenario-tests/src/bin/vit.rs
  testing/jormungandr-scenario-tests/src/interactive/args/describe.rs
  testing/jormungandr-scenario-tests/src/interactive/args/explorer.rs
  testing/jormungandr-scenario-tests/src/interactive/args/mod.rs
  testing/jormungandr-scenario-tests/src/interactive/args/send/cast.rs
  testing/jormungandr-scenario-tests/src/interactive/args/send/mod.rs
  testing/jormungandr-scenario-tests/src/interactive/args/send/tally.rs
  testing/jormungandr-scenario-tests/src/interactive/args/send/tx.rs
  testing/jormungandr-scenario-tests/src/interactive/args/show.rs
  testing/jormungandr-scenario-tests/src/interactive/mod.rs
  testing/jormungandr-scenario-tests/src/legacy/node.rs
  testing/jormungandr-scenario-tests/src/lib.rs
  testing/jormungandr-scenario-tests/src/node.rs
  testing/jormungandr-scenario-tests/src/scenario/context.rs
  testing/jormungandr-scenario-tests/src/scenario/controller.rs
  testing/jormungandr-scenario-tests/src/scenario/mod.rs
  testing/jormungandr-scenario-tests/src/scenario/settings.rs
  testing/jormungandr-scenario-tests/src/test/features/vote.rs
  testing/jormungandr-scenario-tests/src/test/network/real.rs
  testing/jormungandr-scenario-tests/src/vit/args.rs
  testing/jormungandr-scenario-tests/src/vit/mod.rs
  testing/jormungandr-scenario-tests/src/vit/network.rs
  testing/jormungandr-scenario-tests/src/vit_station/controller.rs
  testing/jormungandr-scenario-tests/src/vit_station/data.rs
  testing/jormungandr-scenario-tests/src/wallet/mod.rs
  testing/jormungandr-scenario-tests/src/wallet/spawn_params.rs
  testing/jormungandr-testing-utils/src/testing/network_builder/blockchain.rs
  testing/jormungandr-testing-utils/src/testing/network_builder/mod.rs
  testing/jormungandr-testing-utils/src/testing/network_builder/settings.rs
  testing/jormungandr-testing-utils/src/testing/network_builder/wallet/mod.rs
  testing/jormungandr-testing-utils/src/testing/network_builder/wallet/template/external.rs
  testing/jormungandr-testing-utils/src/testing/network_builder/wallet/template/legacy.rs
  testing/jormungandr-testing-utils/src/testing/network_builder/wallet/template/mod.rs
Labels: Tests

#2857 newest_node_enters_legacy_network , move to unstable
  testing/jormungandr-scenario-tests/src/scenario/repository/mod.rs
Labels: Tests

#2858 fix praos vote test, remove second pool in node
  testing/jormungandr-integration-tests/src/jormungandr/vit/public.rs
Labels: Tests

#2680 [Test] Fragment generator sender
  jormungandr-lib/src/interfaces/blockdate.rs
  testing/jormungandr-integration-tests/src/bin/fragment_load.rs
  testing/jormungandr-integration-tests/src/common/jormungandr/process.rs
  testing/jormungandr-integration-tests/src/common/load/fragment/args/batch/mod.rs
  testing/jormungandr-integration-tests/src/common/load/fragment/args/batch/tx_only.rs
  testing/jormungandr-integration-tests/src/common/load/fragment/args/mod.rs
  testing/jormungandr-integration-tests/src/common/load/fragment/args/standard/all.rs
  testing/jormungandr-integration-tests/src/common/load/fragment/args/standard/mod.rs
  testing/jormungandr-integration-tests/src/common/load/fragment/args/standard/tx_only.rs
  testing/jormungandr-integration-tests/src/common/load/fragment/mod.rs
  testing/jormungandr-integration-tests/src/common/load/mod.rs
  testing/jormungandr-integration-tests/src/jormungandr/fragments.rs
  testing/jormungandr-integration-tests/src/jormungandr/mod.rs
  testing/jormungandr-integration-tests/src/jormungandr/vit/mod.rs
  testing/jormungandr-integration-tests/src/jormungandr/vit/private.rs
  testing/jormungandr-integration-tests/src/jormungandr/vit/public.rs
  testing/jormungandr-integration-tests/src/non_functional/fragment.rs
  testing/jormungandr-testing-utils/src/testing/fragments/generator.rs
  testing/jormungandr-testing-utils/src/testing/fragments/load/batch_generator.rs
  testing/jormungandr-testing-utils/src/testing/fragments/load/mod.rs
  testing/jormungandr-testing-utils/src/testing/fragments/load/transaction_generator.rs
  testing/jormungandr-testing-utils/src/testing/fragments/mod.rs
  testing/jormungandr-testing-utils/src/testing/fragments/sender.rs
  testing/jormungandr-testing-utils/src/testing/fragments/verifier.rs
  testing/jormungandr-testing-utils/src/testing/mod.rs
  testing/jormungandr-testing-utils/src/testing/node/explorer/mod.rs
  testing/jormungandr-testing-utils/src/testing/node/legacy/rest.rs
  testing/jormungandr-testing-utils/src/testing/node/logger.rs
  testing/jormungandr-testing-utils/src/testing/node/rest/mod.rs
  testing/jormungandr-testing-utils/src/testing/node/rest/raw.rs
  testing/jormungandr-testing-utils/src/testing/remote/node.rs
  testing/jormungandr-testing-utils/src/testing/vit/builder.rs
  testing/jormungandr-testing-utils/src/testing/vit/mod.rs
  testing/jormungandr-testing-utils/src/wallet/mod.rs
Labels: Tests

#2864 jcli: a set of fixes for the voting utilities
  jcli/src/jcli_app/vote/mod.rs
  jcli/src/jcli_app/vote/tally/decrypt_shares.rs
  jcli/src/jcli_app/vote/tally/decryption_tally.rs
Labels: VOTE, bug, jcli

#2862 Bump juniper to 0.15
  Cargo.lock
  jormungandr/Cargo.toml
  jormungandr/src/explorer/graphql/certificates.rs
  jormungandr/src/explorer/graphql/connections.rs
  jormungandr/src/explorer/graphql/mod.rs
  jormungandr/src/explorer/graphql/scalars.rs
  jormungandr/src/explorer/mod.rs
  jormungandr/src/main.rs
  jormungandr/src/rest/explorer/handlers.rs
  jormungandr/src/rest/explorer/mod.rs
Labels: dependencies, explorer

#2854 ci: install mdbook-linkcheck from a pre-built binary
  .github/workflows/docs.yml
Labels: CI

#2877 [Tests] fix compilation issues on non-functional feature
  testing/jormungandr-integration-tests/src/non_functional/fragment.rs
  testing/jormungandr-integration-tests/src/non_functional/soak.rs
Labels: Tests
