Repository input-output-hk/jormungandr, pull requests merged in 2020-11, with the labels that each got.

#2655 Bech32 vote related keys
  jcli/src/jcli_app/vote/bech32_constants.rs
  jcli/src/jcli_app/vote/committee/communication_key.rs
  jcli/src/jcli_app/vote/committee/member_key.rs
  jcli/src/jcli_app/vote/encrypting_vote_key.rs
  jcli/src/jcli_app/vote/mod.rs
  jormungandr-lib/src/interfaces/mod.rs
  jormungandr-lib/src/interfaces/vote/mod.rs
Labels: VOTE, enhancement

#2665 Install necessary dep before book build
  .github/workflows/docs.yml
Labels: CI, doc

#2670 blockchain: cleanup warnings
  jormungandr/src/blockchain/candidate.rs
  jormungandr/src/blockchain/process.rs
Labels: cleaning, jörmungandr

#2649 Implemented private vote cast jcli command
  jcli/src/jcli_app/certificate/mod.rs
  jcli/src/jcli_app/certificate/new_vote_cast.rs
  jcli/src/jcli_app/vote/mod.rs
Labels: VOTE, enhancement

#2666 [Tests] Jcli public vote e2e test
  Cargo.lock
  testing/README.md
  testing/jormungandr-integration-tests/src/common/jcli/api/certificate.rs
  testing/jormungandr-integration-tests/src/common/jcli/api/rest/v0/vote.rs
  testing/jormungandr-integration-tests/src/common/jcli/command/certificate.rs
  testing/jormungandr-integration-tests/src/common/jcli/services/certificate_builder.rs
  testing/jormungandr-integration-tests/src/common/jcli/services/transaction_builder.rs
  testing/jormungandr-integration-tests/src/common/jormungandr/configuration_builder.rs
  testing/jormungandr-integration-tests/src/jormungandr/genesis/rewards.rs
  testing/jormungandr-integration-tests/src/jormungandr/genesis/stake_distribution.rs
  testing/jormungandr-integration-tests/src/jormungandr/vit/mod.rs
  testing/jormungandr-testing-utils/Cargo.toml
  testing/jormungandr-testing-utils/src/testing/mod.rs
  testing/jormungandr-testing-utils/src/testing/network_builder/settings.rs
  testing/jormungandr-testing-utils/src/testing/network_builder/wallet.rs
  testing/jormungandr-testing-utils/src/testing/node/configuration/block0_config_builder.rs
  testing/jormungandr-testing-utils/src/testing/node/rest/load.rs
  testing/jormungandr-testing-utils/src/testing/node/rest/raw.rs
  testing/jormungandr-testing-utils/src/testing/vit/mod.rs
  testing/jormungandr-testing-utils/src/wallet/account.rs
  testing/jormungandr-testing-utils/src/wallet/delegation.rs
  testing/jormungandr-testing-utils/src/wallet/mod.rs
  testing/jormungandr-testing-utils/src/wallet/utxo.rs
Labels: Tests

#2683 [Test] change way features are organized
  testing/jormungandr-integration-tests/src/non_functional/mod.rs
  testing/jormungandr-integration-tests/src/non_functional/soak.rs
Labels: Tests

#2686 Warnings constrains
  .circleci/config.yml
  testing/jormungandr-integration-tests/src/jcli/transaction/input.rs
Labels: CI

#2689 [Tests][test_vote_flow_praos] modify assertion to check only small reward increase
  testing/jormungandr-integration-tests/src/jormungandr/vit/mod.rs
Labels: Tests

#2664 Jormungandr settings module cleanup
  jormungandr/src/settings/start/config.rs
  jormungandr/src/settings/start/mod.rs
Labels: cleaning, jörmungandr

#2695 Logging improvements for network client
  jormungandr/src/blockchain/process.rs
  jormungandr/src/network/client/connect.rs
  jormungandr/src/network/client/mod.rs
  jormungandr/src/network/mod.rs
Labels: enhancement, subsys-logging, subsys-network

#2688 [Test] remove warnings in iapyx
  testing/iapyx/Cargo.lock
  testing/iapyx/src/backend/mod.rs
  testing/iapyx/src/backend/proxy/mod.rs
  testing/iapyx/src/backend/proxy/server.rs
  testing/iapyx/src/bin/iapyx-proxy.rs
  testing/iapyx/src/cli/args/load/mod.rs
  testing/iapyx/src/cli/args/mod.rs
  testing/iapyx/src/cli/args/proxy/mod.rs
  testing/iapyx/src/controller.rs
  testing/iapyx/src/lib.rs
  testing/iapyx/src/load/multi_controller.rs
  testing/iapyx/src/load/request_generator.rs
  testing/iapyx/src/wallet.rs
Labels: Tests

#2692 [Tests ]move vote e2e test to unstable. move 8 unstable tests to stable
  testing/jormungandr-scenario-tests/src/scenario/repository/mod.rs
Labels: Tests

#2687 [Tests] Bootstrap measurements
  Cargo.lock
  testing/jormungandr-integration-tests/src/non_functional/bootstrap.rs
  testing/jormungandr-integration-tests/src/non_functional/compatibility.rs
  testing/jormungandr-integration-tests/src/non_functional/mod.rs
  testing/jormungandr-testing-utils/Cargo.toml
  testing/jormungandr-testing-utils/src/testing/mod.rs
  testing/jormungandr-testing-utils/src/testing/storage/mod.rs
Labels: Tests

#2707 Quickfix clippy warning on self add
  testing/jormungandr-testing-utils/src/testing/storage/mod.rs
Labels: cleaning

#2711 update GitHub Actions workflow to use GITHUB_ENV instead of set-env
  .github/workflows/release.yml
Labels: CI, cleaning

#2708 [Tests] added bootstrap measurement after restart and kill ops
  testing/jormungandr-integration-tests/src/non_functional/bootstrap.rs
  testing/jormungandr-testing-utils/src/wallet/account.rs
Labels: Tests

#2717 [Tests] fix cargo clippy issues in integration tests
  testing/jormungandr-integration-tests/src/common/jormungandr/starter/mod.rs
Labels: Tests

#2718 [Tests] move failing tests to unstable
  testing/jormungandr-scenario-tests/src/scenario/repository/mod.rs
Labels: Tests

#2721 Update poldercast to master branch
  Cargo.lock
  jormungandr-lib/Cargo.toml
  jormungandr/Cargo.toml
  testing/jormungandr-integration-tests/Cargo.toml
  testing/jormungandr-scenario-tests/Cargo.toml
  testing/jormungandr-testing-utils/Cargo.toml
Labels: dependencies, jörmungandr

#2720 Improve help on the jcli address command
  jcli/src/jcli_app/address.rs
Labels: cleaning, jcli

#2731 fix diagnostic module on 32 bit platforms
  jormungandr/src/diagnostic.rs
Labels: bug, jörmungandr

#2729 fix missing scheme panic
  jormungandr-lib/src/interfaces/config/node.rs
Labels: bug, jörmungandr, subsys-rest

#2728 [Tests] Resolves Clippy too_many_arguments in tests
  testing/jormungandr-integration-tests/src/common/jcli/services/certificate_builder.rs
  testing/jormungandr-scenario-tests/src/legacy/node.rs
  testing/jormungandr-scenario-tests/src/node.rs
  testing/jormungandr-scenario-tests/src/scenario/controller.rs
Labels: Tests

#2735 [Tests] Scenario tests print report
  Cargo.lock
  testing/jormungandr-scenario-tests/Cargo.toml
  testing/jormungandr-scenario-tests/src/example_scenarios.rs
  testing/jormungandr-scenario-tests/src/interactive/mod.rs
  testing/jormungandr-scenario-tests/src/main.rs
  testing/jormungandr-scenario-tests/src/report.rs
  testing/jormungandr-scenario-tests/src/scenario/repository/mod.rs
  testing/jormungandr-scenario-tests/src/scenario/repository/result.rs
  testing/jormungandr-scenario-tests/src/scenario/repository/scenario.rs
  testing/jormungandr-scenario-tests/src/scenario/repository/suite_result.rs
  testing/jormungandr-scenario-tests/src/test/comm/leader_leader.rs
  testing/jormungandr-scenario-tests/src/test/comm/passive_leader.rs
  testing/jormungandr-scenario-tests/src/test/features/explorer.rs
  testing/jormungandr-scenario-tests/src/test/features/leader_promotion.rs
  testing/jormungandr-scenario-tests/src/test/features/leadership_log.rs
  testing/jormungandr-scenario-tests/src/test/features/p2p/connections.rs
  testing/jormungandr-scenario-tests/src/test/features/p2p/stats.rs
  testing/jormungandr-scenario-tests/src/test/features/stake_pool/retire.rs
  testing/jormungandr-scenario-tests/src/test/features/vote.rs
  testing/jormungandr-scenario-tests/src/test/legacy/disruption.rs
  testing/jormungandr-scenario-tests/src/test/legacy/fragment_propagation.rs
  testing/jormungandr-scenario-tests/src/test/network/bft/mod.rs
  testing/jormungandr-scenario-tests/src/test/network/real.rs
  testing/jormungandr-scenario-tests/src/test/network/topology/scenarios.rs
  testing/jormungandr-scenario-tests/src/test/non_functional/disruption.rs
  testing/jormungandr-scenario-tests/src/test/non_functional/soak.rs
Labels: Tests

#2740 [Test] Tls test fix
  testing/jormungandr-integration-tests/resources/tls/ca.crt
  testing/jormungandr-integration-tests/resources/tls/server.crt
  testing/jormungandr-integration-tests/resources/tls/server.key
  testing/jormungandr-integration-tests/src/common/jormungandr/process.rs
  testing/jormungandr-integration-tests/src/common/mod.rs
  testing/jormungandr-integration-tests/src/common/resources.rs
  testing/jormungandr-integration-tests/src/jormungandr/tls.rs
  testing/jormungandr-testing-utils/src/testing/node/rest/mod.rs
Labels: Tests

#2739 error immediately on empty trusted_peers list
  jormungandr/src/main.rs
  jormungandr/src/network/bootstrap.rs
  jormungandr/src/network/mod.rs
Labels: enhancement, jörmungandr, subsys-network

#2733 jcli: allow to provide a custom TLS root certificate for REST API
  jcli/src/jcli_app/rest/v0/account/mod.rs
  jcli/src/jcli_app/rest/v0/block/next_id.rs
  jcli/src/jcli_app/rest/v0/block/subcommand.rs
  jcli/src/jcli_app/rest/v0/diagnostic/mod.rs
  jcli/src/jcli_app/rest/v0/leaders/mod.rs
  jcli/src/jcli_app/rest/v0/message/mod.rs
  jcli/src/jcli_app/rest/v0/network/stats.rs
  jcli/src/jcli_app/rest/v0/node/stats.rs
  jcli/src/jcli_app/rest/v0/rewards/epoch.rs
  jcli/src/jcli_app/rest/v0/rewards/history.rs
  jcli/src/jcli_app/rest/v0/settings/mod.rs
  jcli/src/jcli_app/rest/v0/shutdown/mod.rs
  jcli/src/jcli_app/rest/v0/stake/mod.rs
  jcli/src/jcli_app/rest/v0/stake_pool/mod.rs
  jcli/src/jcli_app/rest/v0/stake_pools/mod.rs
  jcli/src/jcli_app/rest/v0/tip/mod.rs
  jcli/src/jcli_app/rest/v0/utxo/mod.rs
  jcli/src/jcli_app/rest/v0/vote/committees.rs
  jcli/src/jcli_app/rest/v0/vote/plans.rs
  jcli/src/jcli_app/utils/mod.rs
  jcli/src/jcli_app/utils/rest_api.rs
  jcli/src/jcli_app/utils/tls_cert.rs
Labels: enhancement, jcli

#2734 doc: update TLS docs with X509 v3 and CA usage
  doc/configuration/network.md
Labels: doc

#2750 [Tests] fix stats when tag is unstable
  testing/jormungandr-scenario-tests/src/scenario/repository/mod.rs
  testing/jormungandr-scenario-tests/src/scenario/repository/scenario.rs
Labels: Tests

#2738 gracefully stop bootstrap on sigterm and support SIGINT
  Cargo.lock
  jormungandr/Cargo.toml
  jormungandr/src/main.rs
  jormungandr/src/network/bootstrap.rs
  jormungandr/src/network/mod.rs
  jormungandr/src/rest/context.rs
Labels: enhancement, jörmungandr

#2705 Explorer paginate votestatuses
  jormungandr/src/explorer/graphql/connections.rs
  jormungandr/src/explorer/graphql/mod.rs
  jormungandr/src/explorer/graphql/scalars.rs
  testing/jormungandr-integration-tests/src/jormungandr/vit/mod.rs
  testing/jormungandr-testing-utils/resources/explorer/graphql/schema.graphql
  testing/jormungandr-testing-utils/resources/explorer/graphql/voteplans.graphql
Labels: breaking-change, explorer

#2756 Split vit-station related settings
  Cargo.lock
  testing/jormungandr-integration-tests/src/common/network/builder.rs
  testing/jormungandr-scenario-tests/src/scenario/controller.rs
  testing/jormungandr-scenario-tests/src/scenario/settings.rs
  testing/jormungandr-testing-utils/Cargo.toml
  testing/jormungandr-testing-utils/src/testing/network_builder/settings.rs
Labels: enhancement

#2745 [Test] more than 1 stake pool in the node
  testing/jormungandr-integration-tests/src/jormungandr/genesis/stake_pool.rs
Labels: Tests

#2755 jcli: unify common REST options under one structure
  Cargo.lock
  jcli/Cargo.toml
  jcli/src/jcli_app/rest/config.rs
  jcli/src/jcli_app/rest/mod.rs
  jcli/src/jcli_app/rest/v0/account/mod.rs
  jcli/src/jcli_app/rest/v0/block/next_id.rs
  jcli/src/jcli_app/rest/v0/block/subcommand.rs
  jcli/src/jcli_app/rest/v0/diagnostic/mod.rs
  jcli/src/jcli_app/rest/v0/leaders/mod.rs
  jcli/src/jcli_app/rest/v0/message/mod.rs
  jcli/src/jcli_app/rest/v0/network/stats.rs
  jcli/src/jcli_app/rest/v0/node/stats.rs
  jcli/src/jcli_app/rest/v0/rewards/epoch.rs
  jcli/src/jcli_app/rest/v0/rewards/history.rs
  jcli/src/jcli_app/rest/v0/settings/mod.rs
  jcli/src/jcli_app/rest/v0/shutdown/mod.rs
  jcli/src/jcli_app/rest/v0/stake/mod.rs
  jcli/src/jcli_app/rest/v0/stake_pool/mod.rs
  jcli/src/jcli_app/rest/v0/stake_pools/mod.rs
  jcli/src/jcli_app/rest/v0/tip/mod.rs
  jcli/src/jcli_app/rest/v0/utxo/mod.rs
  jcli/src/jcli_app/rest/v0/vote/committees.rs
  jcli/src/jcli_app/rest/v0/vote/plans.rs
  jcli/src/jcli_app/utils/debug_flag.rs
  jcli/src/jcli_app/utils/host_addr.rs
  jcli/src/jcli_app/utils/mod.rs
  jcli/src/jcli_app/utils/rest_api.rs
  jcli/src/jcli_app/utils/tls_cert.rs
  jcli/src/main.rs
Labels: cleaning, jcli

#2763 Document vote tallying
  doc/SUMMARY.md
  doc/jcli/vote.md
Labels: doc
