Repository input-output-hk/jormungandr, pull requests merged in 2021-01, with the labels that each got.

#2882 [Test] Vote cast load test
  testing/jormungandr-integration-tests/src/non_functional/mod.rs
  testing/jormungandr-integration-tests/src/non_functional/voting.rs
  testing/jormungandr-testing-utils/src/testing/fragments/load/mod.rs
  testing/jormungandr-testing-utils/src/testing/fragments/load/vote_casts_generator.rs
  testing/jormungandr-testing-utils/src/testing/fragments/mod.rs
  testing/jormungandr-testing-utils/src/testing/mod.rs
Labels: Tests

#2880 Clamp poldercast revision to pre-1.0 state
  Cargo.lock
  jormungandr-lib/Cargo.toml
  jormungandr/Cargo.toml
  testing/jormungandr-integration-tests/Cargo.toml
  testing/jormungandr-scenario-tests/Cargo.toml
  testing/jormungandr-testing-utils/Cargo.toml
Labels: dependencies

#2847 ci: use granular checks for paths before executing Actions
  .github/workflows/docs.yml
  .github/workflows/test.yml
Labels: CI

#2870 [Test] Add private vit backend type
  Cargo.lock
  testing/jormungandr-scenario-tests/src/scenario/mod.rs
  testing/jormungandr-scenario-tests/src/scenario/settings.rs
  testing/jormungandr-scenario-tests/src/test/features/vote.rs
  testing/jormungandr-scenario-tests/src/vit/args.rs
  testing/jormungandr-scenario-tests/src/vit/mod.rs
  testing/jormungandr-testing-utils/src/testing/fragments/load/vote_casts_generator.rs
  testing/jormungandr-testing-utils/src/testing/fragments/mod.rs
  testing/jormungandr-testing-utils/src/testing/mod.rs
  testing/jormungandr-testing-utils/src/testing/network_builder/settings.rs
  testing/jormungandr-testing-utils/src/wallet/committee.rs
  testing/jormungandr-testing-utils/src/wallet/mod.rs
Labels: Tests

#2901 Update dependencies to fix cargo audit
  Cargo.lock
Labels: dependencies

#2900 Fix YAML in CI workflow
  .github/workflows/test.yml
Labels: CI

#2902 Move security audit workflow from CircleCI to GitHub Actions
  .circleci/config.yml
  .github/workflows/audit.yml
Labels: CI

#2921 Wait before stopping the node so transactions are flushed to disk
  testing/jormungandr-integration-tests/src/jormungandr/recovery.rs
Labels: Tests

#2928 [Test] Exposing Encrypting key for network with private vote plan
  testing/jormungandr-testing-utils/src/wallet/committee.rs
  testing/jormungandr-testing-utils/src/wallet/mod.rs
Labels: Tests

#2931 Add missing piece on private tally proof sign
  jcli/src/jcli_app/certificate/sign.rs
Labels: Priority - High, bug

#2932 [Tests] encrypting key to_bech32
  testing/jormungandr-testing-utils/src/wallet/committee.rs
  testing/jormungandr-testing-utils/src/wallet/mod.rs
Labels: Tests

#2935 Improve diagnostics of fragment rejection errors
  jormungandr/src/fragment/selection.rs
Labels: VOTE, subsys-mempool

#2938 fix comp issue on some oses
  jormungandr-lib/src/interfaces/vote.rs
Labels: Tests

#2939 Fix documentation and help for the jcli votes subcommand
  doc/jcli/vote.md
  jcli/src/jcli_app/vote/committee/member_key.rs
Labels: A-doc, A-jcli, cleaning

#2903 send new-tip message to explorer
  jormungandr/src/blockchain/process.rs
  jormungandr/src/explorer/mod.rs
  jormungandr/src/intercom.rs
  jormungandr/src/network/bootstrap.rs
Labels: A-explorer

#2946 [Test] fix non-functional voting test
  Cargo.lock
  testing/jormungandr-integration-tests/src/non_functional/voting.rs
  testing/jormungandr-scenario-tests/Cargo.toml
  testing/jormungandr-scenario-tests/src/node.rs
Labels: Tests

#2940 [Tests] remove duplicated file utils module
  testing/jormungandr-integration-tests/src/common/jcli/api/certificate.rs
  testing/jormungandr-integration-tests/src/common/jcli/api/genesis.rs
  testing/jormungandr-integration-tests/src/common/jcli/api/votes/committee/communication_key.rs
  testing/jormungandr-integration-tests/src/common/jcli/api/votes/committee/member_key.rs
  testing/jormungandr-integration-tests/src/common/jcli/api/votes/mod.rs
  testing/jormungandr-integration-tests/src/common/jormungandr/starter/mod.rs
  testing/jormungandr-integration-tests/src/common/mod.rs
  testing/jormungandr-integration-tests/src/common/predicates.rs
  testing/jormungandr-integration-tests/src/jcli/certificate/e2e.rs
  testing/jormungandr-integration-tests/src/jcli/genesis/encode.rs
  testing/jormungandr-integration-tests/src/jcli/transaction/input.rs
  testing/jormungandr-integration-tests/src/lib.rs
  testing/jormungandr-testing-utils/src/testing/file.rs
  testing/jormungandr-testing-utils/src/testing/mod.rs
  testing/jormungandr-testing-utils/src/testing/node/grpc/server/logger.rs
  testing/jormungandr-testing-utils/src/testing/node/legacy/mod.rs
  testing/jormungandr-testing-utils/src/testing/node/logger.rs
  testing/mjolnir/src/mjolnir_app/bootstrap/scenario/mod.rs
Labels: Tests

#2879 Update to tokio-1.0
  Cargo.lock
  jormungandr-lib/Cargo.toml
  jormungandr/Cargo.toml
  jormungandr/src/blockchain/chain.rs
  jormungandr/src/fragment/process.rs
  jormungandr/src/leadership/process.rs
  jormungandr/src/main.rs
  jormungandr/src/network/mod.rs
  jormungandr/src/rest/v0/handlers.rs
  jormungandr/src/utils/fire_forget_scheduler.rs
  jormungandr/src/utils/task.rs
Labels: dependencies, enhancement

#2954 reject transaction that would not fit the block content size
  jormungandr/src/fragment/selection.rs
Labels: A-jörmungandr, bug, subsys-mempool

#2922 Add a mode to initialize the storage and exit
  jormungandr/src/main.rs
  jormungandr/src/settings/command_arguments.rs
Labels: A-jörmungandr, enhancement

#2952 [Test] allow prereleases as legacy version
  testing/jormungandr-scenario-tests/src/legacy/node.rs
  testing/jormungandr-testing-utils/src/testing/node/legacy/mod.rs
Labels: Tests

#2941 return a fragment to the pool later if does not fit the contents size limit
  jormungandr/src/fragment/selection.rs
Labels: A-jörmungandr, bug, subsys-mempool

#2960 [Test] Fragment load test maintenance
  jormungandr-lib/src/interfaces/blockdate.rs
  testing/jormungandr-integration-tests/src/common/jcli/mod.rs
  testing/jormungandr-integration-tests/src/common/jcli/services/fragments_check.rs
  testing/jormungandr-integration-tests/src/jormungandr/fragments.rs
  testing/jormungandr-integration-tests/src/non_functional/fragment.rs
  testing/jormungandr-integration-tests/src/non_functional/mod.rs
  testing/jormungandr-testing-utils/src/testing/fragments/generator.rs
  testing/jormungandr-testing-utils/src/testing/node/time.rs
  testing/mjolnir/src/mjolnir_app/fragment/standard/all.rs
Labels: A-tests

#2961 [Tests] ignore failing tests until storage fix would be applied
  testing/jormungandr-integration-tests/src/non_functional/bootstrap.rs
Labels: A-tests

#2958 Update tests to tokio 1.1
  Cargo.lock
  testing/jormungandr-integration-tests/Cargo.toml
  testing/jormungandr-integration-tests/src/jormungandr/grpc/client_tests.rs
  testing/jormungandr-integration-tests/src/jormungandr/grpc/server_tests.rs
  testing/jormungandr-testing-utils/Cargo.toml
  testing/jormungandr-testing-utils/src/testing/node/grpc/server/mod.rs
Labels: A-tests, dependencies

#2959 Fix regression in nightly
  jormungandr/src/fragment/selection.rs
Labels: cleaning
