Repository input-output-hk/jormungandr, pull requests merged in 2021-03, with the labels that each got.

#3065 Clean up handling code for REST fragments endpoints
  jormungandr/src/rest/v1/handlers.rs
  jormungandr/src/rest/v1/logic.rs
  jormungandr/src/rest/v1/mod.rs
Labels: cleaning, subsys-rest

#3081 [Tests] Reorganize voting load tests
  testing/jormungandr-integration-tests/src/non_functional/mod.rs
  testing/jormungandr-integration-tests/src/non_functional/transaction.rs
  testing/jormungandr-integration-tests/src/non_functional/voting/private/load.rs
  testing/jormungandr-integration-tests/src/non_functional/voting/private/mod.rs
  testing/jormungandr-integration-tests/src/non_functional/voting/private/noise.rs
  testing/jormungandr-integration-tests/src/non_functional/voting/private/soak.rs
  testing/jormungandr-integration-tests/src/non_functional/voting/public/load.rs
  testing/jormungandr-integration-tests/src/non_functional/voting/public/mod.rs
  testing/jormungandr-integration-tests/src/non_functional/voting/public/noise.rs
  testing/jormungandr-integration-tests/src/non_functional/voting/public/soak.rs
Labels: A-tests

#3104 Cut out dead open API verifier code in jcli
  Cargo.lock
  jcli/Cargo.toml
  jcli/src/jcli_app/utils/mod.rs
  jcli/src/jcli_app/utils/open_api_verifier.rs
Labels: A-jcli, cleaning

#3094 doc: fix v1 FragmentStatuses docs
  doc/api/v1.yaml
Labels: A-api, A-doc

#3106 ci: remove unfinished draft releases
  .github/workflows/release.yml
Labels: A-ci

#3110 Release workflow fixes
  .github/workflows/release.yml
Labels: A-build, A-ci

#3108 Remove unneeded slog dependencies
  Cargo.lock
  jormungandr/Cargo.toml
  testing/jormungandr-integration-tests/Cargo.toml
Labels: A-jormungandr, cleaning

#2987 Add graphql branch and breaking changes
  jormungandr/src/explorer/graphql/mod.rs
  jormungandr/src/explorer/mod.rs
  testing/jormungandr-integration-tests/src/jormungandr/explorer/mod.rs
  testing/jormungandr-integration-tests/src/jormungandr/vit/private.rs
  testing/jormungandr-integration-tests/src/jormungandr/vit/public.rs
  testing/jormungandr-testing-utils/resources/explorer/graphql/address.graphql
  testing/jormungandr-testing-utils/resources/explorer/graphql/allblocks.graphql
  testing/jormungandr-testing-utils/resources/explorer/graphql/allstakepools.graphql
  testing/jormungandr-testing-utils/resources/explorer/graphql/blockbychainlength.graphql
  testing/jormungandr-testing-utils/resources/explorer/graphql/blocksbychainlength.graphql
  testing/jormungandr-testing-utils/resources/explorer/graphql/epoch.graphql
  testing/jormungandr-testing-utils/resources/explorer/graphql/generate_schema.sh
  testing/jormungandr-testing-utils/resources/explorer/graphql/lastblock.graphql
  testing/jormungandr-testing-utils/resources/explorer/graphql/schema.graphql
  testing/jormungandr-testing-utils/resources/explorer/graphql/settings.graphql
  testing/jormungandr-testing-utils/resources/explorer/graphql/status.graphql
  testing/jormungandr-testing-utils/resources/explorer/graphql/voteplans.graphql
  testing/jormungandr-testing-utils/src/testing/node/explorer/data.rs
  testing/jormungandr-testing-utils/src/testing/node/explorer/load/mod.rs
  testing/jormungandr-testing-utils/src/testing/node/explorer/mod.rs
  testing/jormungandr-testing-utils/src/testing/node/time.rs
Labels: A-explorer, breaking-change

#3124 CI test: Ditch update_deps job on Windows
  .github/workflows/test.yml
Labels: A-ci

#3123 Bump juniper, pin async-trait to 0.1.42
  Cargo.lock
  jormungandr/Cargo.toml
Labels: dependencies

#3126 Update Cargo.lock
  Cargo.lock
Labels: A-build, cleaning

#3103 update voting timing and bump jormungandr
  testing/jormungandr-integration-tests/src/non_functional/voting/config.rs
Labels: A-tests

#3137 [Tests] Update tests: migrate from status to tip
  testing/jormungandr-integration-tests/src/non_functional/explorer.rs
Labels: A-tests

#3087 reject fragments that will overflow the fragments pool
  Cargo.lock
  jormungandr/Cargo.toml
  jormungandr/src/fragment/pool.rs
Labels: A-jormungandr, enhancement, subsys-mempool

#3141 Correct API endpoint path for /v1/fragments
  doc/api/v0.yaml
  doc/api/v1.yaml
Labels: A-api, A-doc

#3022 Migrate juniper to async graphql
  Cargo.lock
  doc/quickstart/04_explorer.md
  jormungandr/Cargo.toml
  jormungandr/src/explorer/graphql/certificates.rs
  jormungandr/src/explorer/graphql/connections.rs
  jormungandr/src/explorer/graphql/mod.rs
  jormungandr/src/explorer/graphql/scalars.rs
  jormungandr/src/explorer/mod.rs
  jormungandr/src/rest/explorer/mod.rs
  testing/jormungandr-integration-tests/src/jormungandr/explorer/mod.rs
  testing/jormungandr-testing-utils/resources/explorer/graphql/schema.graphql
  testing/jormungandr-testing-utils/src/testing/node/explorer/data.rs
  testing/jormungandr-testing-utils/src/testing/node/explorer/load/mod.rs
Labels: A-explorer

#3170 update rand stack
  Cargo.lock
  jcli/Cargo.toml
  jormungandr-lib/Cargo.toml
  jormungandr-lib/src/interfaces/block0_configuration/active_slot_coefficient.rs
  jormungandr-lib/src/interfaces/block0_configuration/kes_update_speed.rs
  jormungandr-lib/src/interfaces/block0_configuration/number_of_slots_per_epoch.rs
  jormungandr-lib/src/interfaces/block0_configuration/slots_duration.rs
  jormungandr/Cargo.toml
  testing/jormungandr-integration-tests/Cargo.toml
  testing/jormungandr-scenario-tests/Cargo.toml
  testing/jormungandr-testing-utils/Cargo.toml
Labels: dependencies

#3140 do not re-run blocks from the leadership service
  Cargo.lock
  jormungandr/src/blockcfg/mod.rs
  jormungandr/src/blockchain/chain.rs
  jormungandr/src/blockchain/mod.rs
  jormungandr/src/blockchain/process.rs
  jormungandr/src/fragment/pool.rs
  jormungandr/src/fragment/process.rs
  jormungandr/src/fragment/selection.rs
  jormungandr/src/intercom.rs
  jormungandr/src/leadership/process.rs
  jormungandr/src/main.rs
  modules/blockchain/src/reference.rs
Labels: A-jormungandr

#3171 Derive hash for interfaces::Address
  jormungandr-lib/src/interfaces/address.rs
Labels: enhancement

#3152 gracefully stop fragment selection
  jormungandr/src/fragment/pool.rs
  jormungandr/src/fragment/process.rs
  jormungandr/src/fragment/selection.rs
  jormungandr/src/intercom.rs
  jormungandr/src/leadership/process.rs
Labels: A-jormungandr

#3156 handle execution of time-consuming transactions
  doc/configuration/introduction.md
  jormungandr/src/fragment/pool.rs
  jormungandr/src/fragment/process.rs
  jormungandr/src/fragment/selection.rs
  jormungandr/src/intercom.rs
  jormungandr/src/leadership/process.rs
  jormungandr/src/main.rs
  jormungandr/src/settings/start/config.rs
  jormungandr/src/settings/start/mod.rs
Labels: A-jormungandr

#3176 bump poldercast to 0.14
  Cargo.lock
  jormungandr-lib/Cargo.toml
  jormungandr/Cargo.toml
  testing/jormungandr-integration-tests/Cargo.toml
  testing/jormungandr-scenario-tests/Cargo.toml
  testing/jormungandr-testing-utils/Cargo.toml
Labels: dependencies

#3179 use a structure to configure the leadership module
  jormungandr/src/leadership/mod.rs
  jormungandr/src/leadership/process.rs
  jormungandr/src/main.rs
Labels: A-jormungandr

#3186 [Tests] expose external committees
  testing/jormungandr-testing-utils/src/testing/network_builder/blockchain.rs
  testing/jormungandr-testing-utils/src/testing/network_builder/settings.rs
Labels: A-tests
