Repository input-output-hk/jormungandr, pull requests merged in 2021-08, with the labels that each got.

#3470 [Tests] Non duplicated votes update tests
  Cargo.lock
  testing/jormungandr-integration-tests/src/common/jormungandr/process.rs
  testing/jormungandr-integration-tests/src/jormungandr/fragments.rs
  testing/jormungandr-integration-tests/src/jormungandr/mempool/fragments_dump.rs
  testing/jormungandr-integration-tests/src/jormungandr/vit/private.rs
  testing/jormungandr-integration-tests/src/jormungandr/vit/public.rs
  testing/jormungandr-integration-tests/src/non_functional/explorer.rs
  testing/jormungandr-integration-tests/src/non_functional/fragment.rs
  testing/jormungandr-testing-utils/src/testing/asserts/mod.rs
  testing/jormungandr-testing-utils/src/testing/fragments/chain_sender.rs
  testing/jormungandr-testing-utils/src/testing/fragments/generator.rs
  testing/jormungandr-testing-utils/src/testing/fragments/load/vote_casts_generator.rs
  testing/jormungandr-testing-utils/src/testing/fragments/mod.rs
  testing/jormungandr-testing-utils/src/testing/fragments/verifier.rs
  testing/jormungandr-testing-utils/src/testing/mod.rs
  testing/jormungandr-testing-utils/src/testing/node/explorer/mod.rs
  testing/jormungandr-testing-utils/src/testing/node/explorer/wrappers/last_block.rs
  testing/jormungandr-testing-utils/src/testing/node/explorer/wrappers/mod.rs
  testing/jormungandr-testing-utils/src/testing/node/legacy/rest.rs
  testing/jormungandr-testing-utils/src/testing/vit/mod.rs
  testing/jormungandr-testing-utils/src/testing/vit/vote_cast_register.rs
  testing/jormungandr-testing-utils/src/wallet/account.rs
  testing/jormungandr-testing-utils/src/wallet/mod.rs
  testing/mjolnir/src/mjolnir_app/fragment/standard/all.rs
Labels: A-tests

#3492 [Test] invalid proof e2e test
  testing/jormungandr-integration-tests/src/common/jcli/api/votes/tally.rs
  testing/jormungandr-integration-tests/src/common/jcli/command/votes/tally.rs
  testing/jormungandr-integration-tests/src/common/jormungandr/process.rs
  testing/jormungandr-integration-tests/src/jormungandr/vit/private.rs
  testing/jormungandr-testing-utils/src/testing/node/legacy/rest.rs
Labels: A-tests

#3496 [Test API] add possibility to define block_content_max_size parameter
  testing/jormungandr-testing-utils/src/testing/network_builder/blockchain.rs
  testing/jormungandr-testing-utils/src/testing/network_builder/settings.rs
Labels: A-tests

#3501 derive Eq for VotePlanStatus
  jormungandr-lib/src/interfaces/vote.rs
Labels: enhancement

#3502 [Test] change folder name in which private vote plan data is dumped
  testing/jormungandr-scenario-tests/src/scenario/settings.rs
Labels: A-tests

#3500 do not propagate overflowing fragments
  jormungandr/src/fragment/pool.rs
Labels: A-jormungandr, subsys-mempool

#3506 Update tar to 0.4.36
  Cargo.lock
Labels: dependencies

#3512 Update a link to one of the Poldercast papers
  doc/specs/network.md
Labels: A-doc

#3495 Add network tests
  Cargo.lock
  jormungandr-lib/src/interfaces/config/node.rs
  jormungandr/src/topology/process.rs
  testing/jormungandr-integration-tests/Cargo.toml
  testing/jormungandr-integration-tests/src/common/data/mod.rs
  testing/jormungandr-integration-tests/src/common/jcli/api/transaction.rs
  testing/jormungandr-integration-tests/src/common/jcli/services/transaction_builder.rs
  testing/jormungandr-integration-tests/src/common/mod.rs
  testing/jormungandr-integration-tests/src/common/network/builder.rs
  testing/jormungandr-integration-tests/src/common/network/controller.rs
  testing/jormungandr-integration-tests/src/common/network/mod.rs
  testing/jormungandr-integration-tests/src/common/startup.rs
  testing/jormungandr-integration-tests/src/common/witness.rs
  testing/jormungandr-integration-tests/src/jormungandr/explorer.rs
  testing/jormungandr-integration-tests/src/jormungandr/genesis/stake_distribution.rs
  testing/jormungandr-integration-tests/src/jormungandr/legacy.rs
  testing/jormungandr-integration-tests/src/networking/p2p.rs
  testing/jormungandr-integration-tests/src/networking/stats.rs
  testing/jormungandr-scenario-tests/src/scenario/settings.rs
  testing/jormungandr-testing-utils/src/testing/network_builder/spawn_params.rs
  testing/jormungandr-testing-utils/src/testing/node/configuration/node_config_builder.rs
Labels: A-tests

#3513 [Test] Network Scenario Test
  testing/jormungandr-integration-tests/src/jormungandr/bft/mempool/v0.rs
  testing/jormungandr-integration-tests/src/jormungandr/bft/mempool/v1.rs
  testing/jormungandr-integration-tests/src/jormungandr/fragments.rs
  testing/jormungandr-integration-tests/src/jormungandr/mempool/fragments_dump.rs
  testing/jormungandr-integration-tests/src/jormungandr/rest/v1/fail_fast.rs
  testing/jormungandr-scenario-tests/src/scenario/repository/mod.rs
  testing/jormungandr-scenario-tests/src/test/network/bft.rs
  testing/jormungandr-scenario-tests/src/test/non_functional/soak.rs
  testing/jormungandr-testing-utils/src/testing/fragments/adversary.rs
  testing/jormungandr-testing-utils/src/testing/fragments/chain_sender.rs
  testing/jormungandr-testing-utils/src/testing/fragments/generator.rs
  testing/jormungandr-testing-utils/src/testing/fragments/sender.rs
  testing/jormungandr-testing-utils/src/testing/fragments/verifier.rs
Labels: A-tests

#3398 implement prometheus support; drop unused metrics
  Cargo.lock
  doc/api/v0.yaml
  doc/configuration/prometheus.md
  jormungandr-lib/src/interfaces/stats.rs
  jormungandr/Cargo.toml
  jormungandr/src/blockchain/process.rs
  jormungandr/src/fragment/process.rs
  jormungandr/src/main.rs
  jormungandr/src/metrics/backends/mod.rs
  jormungandr/src/metrics/backends/prometheus_exporter.rs
  jormungandr/src/metrics/backends/simple_counter.rs
  jormungandr/src/metrics/mod.rs
  jormungandr/src/network/mod.rs
  jormungandr/src/rest/context.rs
  jormungandr/src/rest/mod.rs
  jormungandr/src/rest/prometheus.rs
  jormungandr/src/rest/v0/logic.rs
  jormungandr/src/settings/command_arguments.rs
  jormungandr/src/settings/start/config.rs
  jormungandr/src/settings/start/mod.rs
  jormungandr/src/stats_counter.rs
  jormungandr/src/topology/process.rs
  jormungandr/src/topology/quarantine.rs
  jormungandr/src/topology/topology.rs
  testing/jormungandr-integration-tests/src/common/jormungandr/process.rs
  testing/jormungandr-integration-tests/src/networking/p2p.rs
  testing/jormungandr-scenario-tests/src/test/features/p2p/mod.rs
  testing/jormungandr-scenario-tests/src/test/features/p2p/stats.rs
Labels: enhancement, A-api, A-jormungandr

#3529 tests: remove hidden TTL manipulations from builders
  testing/jormungandr-integration-tests/src/common/jcli/api/transaction.rs
  testing/jormungandr-integration-tests/src/common/jcli/services/transaction_builder.rs
  testing/jormungandr-integration-tests/src/common/jormungandr/process.rs
  testing/jormungandr-integration-tests/src/jormungandr/bft/mempool/v1.rs
  testing/jormungandr-integration-tests/src/jormungandr/explorer.rs
  testing/jormungandr-integration-tests/src/jormungandr/genesis/fragments.rs
  testing/jormungandr-integration-tests/src/jormungandr/genesis/stake_distribution.rs
  testing/jormungandr-integration-tests/src/jormungandr/genesis/stake_pool.rs
  testing/jormungandr-integration-tests/src/jormungandr/grpc/client_tests.rs
  testing/jormungandr-integration-tests/src/jormungandr/legacy.rs
  testing/jormungandr-integration-tests/src/jormungandr/mempool/fragments_dump.rs
  testing/jormungandr-integration-tests/src/jormungandr/rest/v0/errors.rs
  testing/jormungandr-integration-tests/src/jormungandr/rest/v1/fail_fast.rs
  testing/jormungandr-integration-tests/src/jormungandr/rest/v1/statuses.rs
  testing/jormungandr-integration-tests/src/jormungandr/transactions.rs
  testing/jormungandr-integration-tests/src/jormungandr/vit/public.rs
  testing/jormungandr-integration-tests/src/networking/stats.rs
  testing/jormungandr-integration-tests/src/non_functional/compatibility.rs
  testing/jormungandr-integration-tests/src/non_functional/fragment.rs
  testing/jormungandr-integration-tests/src/non_functional/rewards.rs
  testing/jormungandr-integration-tests/src/non_functional/soak.rs
  testing/jormungandr-integration-tests/src/non_functional/voting/private/mod.rs
  testing/jormungandr-integration-tests/src/non_functional/voting/public/mod.rs
  testing/jormungandr-scenario-tests/src/scenario/controller.rs
  testing/jormungandr-testing-utils/src/testing/fragments/adversary.rs
  testing/jormungandr-testing-utils/src/testing/fragments/chain_sender.rs
  testing/jormungandr-testing-utils/src/testing/fragments/initial_certificates.rs
  testing/jormungandr-testing-utils/src/testing/fragments/load/adversary_vote_casts_generator.rs
  testing/jormungandr-testing-utils/src/testing/fragments/load/batch_generator.rs
  testing/jormungandr-testing-utils/src/testing/fragments/load/transaction_generator.rs
  testing/jormungandr-testing-utils/src/testing/fragments/mod.rs
  testing/jormungandr-testing-utils/src/testing/fragments/node.rs
  testing/jormungandr-testing-utils/src/testing/fragments/sender.rs
  testing/jormungandr-testing-utils/src/testing/fragments/transaction.rs
  testing/jormungandr-testing-utils/src/testing/network_builder/settings.rs
  testing/jormungandr-testing-utils/src/testing/network_builder/wallet/mod.rs
  testing/jormungandr-testing-utils/src/wallet/mod.rs
  testing/mjolnir/src/mjolnir_app/fragment/batch/adversary/all.rs
  testing/mjolnir/src/mjolnir_app/fragment/batch/adversary/votes_only.rs
  testing/mjolnir/src/mjolnir_app/fragment/batch/tx_only.rs
  testing/mjolnir/src/mjolnir_app/fragment/standard/adversary/all.rs
  testing/mjolnir/src/mjolnir_app/fragment/standard/adversary/votes_only.rs
  testing/mjolnir/src/mjolnir_app/fragment/standard/all.rs
  testing/mjolnir/src/mjolnir_app/fragment/standard/tx_only.rs
Labels: A-tests

#3537 TTL Functional Tests
  jormungandr/src/fragment/pool.rs
  testing/jormungandr-integration-tests/src/common/jcli/api/rest/v0/message.rs
  testing/jormungandr-integration-tests/src/common/jcli/services/fragment_check.rs
  testing/jormungandr-integration-tests/src/common/jcli/services/fragment_sender.rs
  testing/jormungandr-integration-tests/src/common/jcli/services/fragments_check.rs
  testing/jormungandr-integration-tests/src/common/jormungandr/configuration_builder.rs
  testing/jormungandr-integration-tests/src/jcli/transaction/e2e.rs
  testing/jormungandr-integration-tests/src/jormungandr/mempool.rs
  testing/jormungandr-integration-tests/src/jormungandr/mempool/mod.rs
  testing/jormungandr-integration-tests/src/jormungandr/transactions.rs
  testing/jormungandr-testing-utils/src/testing/node/configuration/block0_config_builder.rs
Labels: A-tests
