Repository input-output-hk/jormungandr, pull requests merged in 2021-11, with the labels that each got.

#3672 Reuse jormungandr process in scenario tests
  testing/jormungandr-scenario-tests/src/example_scenarios.rs
  testing/jormungandr-scenario-tests/src/interactive/args/mod.rs
  testing/jormungandr-scenario-tests/src/interactive/args/show.rs
  testing/jormungandr-scenario-tests/src/legacy/mod.rs
  testing/jormungandr-scenario-tests/src/legacy/node.rs
  testing/jormungandr-scenario-tests/src/lib.rs
  testing/jormungandr-scenario-tests/src/node.rs
  testing/jormungandr-scenario-tests/src/scenario/controller.rs
  testing/jormungandr-scenario-tests/src/scenario/fragment_node.rs
  testing/jormungandr-scenario-tests/src/test/features/leadership_log.rs
  testing/jormungandr-scenario-tests/src/test/features/p2p/mod.rs
  testing/jormungandr-scenario-tests/src/test/features/p2p/stats.rs
  testing/jormungandr-scenario-tests/src/test/mod.rs
  testing/jormungandr-scenario-tests/src/test/network/real.rs
  testing/jormungandr-scenario-tests/src/test/utils/mod.rs
  testing/jormungandr-testing-utils/src/testing/adversary/process.rs
  testing/jormungandr-testing-utils/src/testing/fragments/adversary.rs
  testing/jormungandr-testing-utils/src/testing/fragments/export.rs
  testing/jormungandr-testing-utils/src/testing/fragments/node.rs
  testing/jormungandr-testing-utils/src/testing/fragments/sender.rs
  testing/jormungandr-testing-utils/src/testing/fragments/setup.rs
  testing/jormungandr-testing-utils/src/testing/fragments/verifier.rs
  testing/jormungandr-testing-utils/src/testing/jormungandr/mod.rs
  testing/jormungandr-testing-utils/src/testing/jormungandr/process.rs
  testing/jormungandr-testing-utils/src/testing/jormungandr/starter/mod.rs
  testing/jormungandr-testing-utils/src/testing/node/legacy/rest.rs
  testing/jormungandr-testing-utils/src/testing/node/mod.rs
  testing/jormungandr-testing-utils/src/testing/node/rest/mod.rs
  testing/jormungandr-testing-utils/src/testing/node/rest/raw.rs
  testing/jormungandr-testing-utils/src/testing/remote.rs
  testing/jormungandr-testing-utils/src/testing/sync/mod.rs
  testing/jormungandr-testing-utils/src/testing/sync/node.rs
Labels: A-tests

#3669 implement test for different topic of interests settings
  testing/jormungandr-integration-tests/src/networking/p2p.rs
  testing/jormungandr-testing-utils/src/testing/fragments/sender.rs
  testing/jormungandr-testing-utils/src/testing/jormungandr/process.rs
  testing/jormungandr-testing-utils/src/testing/network/controller.rs
Labels: A-tests

#3677 Fix progress bar in scenario tests & remove some duplication
  testing/jormungandr-scenario-tests/src/example_scenarios.rs
  testing/jormungandr-scenario-tests/src/legacy/node.rs
  testing/jormungandr-scenario-tests/src/node.rs
  testing/jormungandr-scenario-tests/src/scenario/controller.rs
  testing/jormungandr-scenario-tests/src/scenario/repository/mod.rs
  testing/jormungandr-scenario-tests/src/scenario/settings.rs
  testing/jormungandr-scenario-tests/src/test/comm/leader_leader.rs
  testing/jormungandr-scenario-tests/src/test/comm/passive_leader.rs
  testing/jormungandr-scenario-tests/src/test/features/explorer.rs
  testing/jormungandr-scenario-tests/src/test/features/leadership_log.rs
  testing/jormungandr-scenario-tests/src/test/features/p2p/connections.rs
  testing/jormungandr-scenario-tests/src/test/features/p2p/stats.rs
  testing/jormungandr-scenario-tests/src/test/features/stake_pool/retire.rs
  testing/jormungandr-scenario-tests/src/test/legacy/disruption.rs
  testing/jormungandr-scenario-tests/src/test/legacy/fragment_propagation.rs
  testing/jormungandr-scenario-tests/src/test/network/bft.rs
  testing/jormungandr-scenario-tests/src/test/network/topology/scenarios.rs
  testing/jormungandr-scenario-tests/src/test/non_functional/desync.rs
  testing/jormungandr-scenario-tests/src/test/non_functional/disruption.rs
  testing/jormungandr-scenario-tests/src/test/non_functional/soak.rs
  testing/jormungandr-testing-utils/src/testing/jormungandr/mod.rs
  testing/jormungandr-testing-utils/src/testing/jormungandr/process.rs
  testing/jormungandr-testing-utils/src/testing/jormungandr/starter/mod.rs
  testing/jormungandr-testing-utils/src/testing/network/settings.rs
Labels: A-tests

#3676 Update chain-libs for parallel spending
  CHANGELOG.md
  Cargo.lock
  jcli/src/jcli_lib/transaction/simplified.rs
  jormungandr-lib/src/interfaces/account_state.rs
  jormungandr-lib/src/interfaces/transaction_witness.rs
  jormungandr/src/explorer/indexing.rs
  testing/jormungandr-integration-tests/src/networking/testnet.rs
  testing/jormungandr-scenario-tests/src/test/non_functional/desync.rs
  testing/jormungandr-testing-utils/Cargo.toml
Labels: subsys-network, subsys-transaction

#3661 fix fee computation in simple transaction api
  jcli/src/jcli_lib/transaction/simplified.rs
Labels: bug, A-jcli

#3684 graphql: add total_count to Block::transactions
  jormungandr/src/explorer/graphql/mod.rs
Labels: bug, A-explorer

#3682 [Scenario Test Refactor] Move testing directory to utils
  testing/jormungandr-scenario-tests/src/bin/interactive.rs
  testing/jormungandr-scenario-tests/src/bin/jormungandr-scenario-tests.rs
  testing/jormungandr-scenario-tests/src/interactive/args/mod.rs
  testing/jormungandr-scenario-tests/src/introduction.rs
  testing/jormungandr-scenario-tests/src/legacy/mod.rs
  testing/jormungandr-scenario-tests/src/legacy/settings.rs
  testing/jormungandr-scenario-tests/src/lib.rs
  testing/jormungandr-scenario-tests/src/node/legacy.rs
  testing/jormungandr-scenario-tests/src/node/mod.rs
  testing/jormungandr-scenario-tests/src/scenario/context.rs
  testing/jormungandr-scenario-tests/src/scenario/controller.rs
  testing/jormungandr-scenario-tests/src/scenario/mod.rs
  testing/jormungandr-scenario-tests/src/test/utils/mod.rs
  testing/jormungandr-testing-utils/src/testing/adversary/process.rs
  testing/jormungandr-testing-utils/src/testing/jormungandr/process.rs
  testing/jormungandr-testing-utils/src/testing/jormungandr/starter/commands.rs
  testing/jormungandr-testing-utils/src/testing/jormungandr/starter/mod.rs
  testing/jormungandr-testing-utils/src/testing/jormungandr/starter/testing_directory.rs
  testing/jormungandr-testing-utils/src/testing/network/builder.rs
  testing/jormungandr-testing-utils/src/testing/network/controller.rs
  testing/jormungandr-testing-utils/src/testing/utils/mod.rs
Labels: A-tests

#3693 [Scenario tests refactor] hersir improve verbose mode
  testing/hersir/src/config.rs
  testing/hersir/src/spawn.rs
  testing/jormungandr-scenario-tests/src/controller/interactive/controller.rs
  testing/jormungandr-scenario-tests/src/controller/monitor.rs
  testing/jormungandr-scenario-tests/src/scenario/context.rs
  testing/jormungandr-scenario-tests/src/scenario/controller.rs
  testing/jormungandr-scenario-tests/src/scenario/mod.rs
  testing/jormungandr-scenario-tests/src/test/mod.rs
  testing/jormungandr-testing-utils/src/testing/jormungandr/starter/mod.rs
  testing/jormungandr-testing-utils/src/testing/network/controller.rs
  testing/jormungandr-testing-utils/src/testing/network/spawn_params.rs
  testing/jormungandr-testing-utils/src/testing/node/logger.rs
Labels: A-tests

#3697 Add update proposals new tests.
  Cargo.lock
  jormungandr-lib/src/interfaces/block0_configuration/leader_id.rs
  testing/jormungandr-integration-tests/src/jcli/update_proposal/e2e.rs
  testing/jormungandr-integration-tests/src/jormungandr/bft/mod.rs
  testing/jormungandr-integration-tests/src/jormungandr/bft/update_proposal.rs
  testing/jormungandr-testing-utils/src/testing/fragments/mod.rs
  testing/jormungandr-testing-utils/src/testing/fragments/sender.rs
  testing/jormungandr-testing-utils/src/testing/jormungandr/configuration_builder.rs
  testing/jormungandr-testing-utils/src/testing/node/time.rs
  testing/jormungandr-testing-utils/src/wallet/account.rs
  testing/jormungandr-testing-utils/src/wallet/mod.rs
Labels: A-tests

#3707 Fix network setup - remove auto adding all nodes as leaders
  testing/jormungandr-integration-tests/src/jormungandr/bft/block.rs
  testing/jormungandr-integration-tests/src/jormungandr/mempool.rs
  testing/jormungandr-integration-tests/src/networking/communication.rs
  testing/jormungandr-integration-tests/src/networking/mod.rs
  testing/jormungandr-integration-tests/src/networking/p2p.rs
  testing/jormungandr-scenario-tests/src/scenario/mod.rs
  testing/jormungandr-scenario-tests/src/test/network/real.rs
  testing/jormungandr-testing-utils/src/testing/network/blockchain.rs
  testing/jormungandr-testing-utils/src/testing/network/builder.rs
Labels: A-tests
