Repository input-output-hk/jormungandr, pull requests merged in 2021-05, with the labels that each got.

#3248 implement persistent fragment log
  Cargo.lock
  doc/configuration/mempool.md
  jormungandr-lib/Cargo.toml
  jormungandr-lib/src/interfaces/config/mempool.rs
  jormungandr-lib/src/interfaces/fragment.rs
  jormungandr-lib/src/interfaces/fragment_log_persistent.rs
  jormungandr-lib/src/interfaces/mod.rs
  jormungandr/Cargo.toml
  jormungandr/src/fragment/pool.rs
  jormungandr/src/fragment/process.rs
  jormungandr/src/main.rs
  testing/jormungandr-integration-tests/src/jormungandr/fragments.rs
  testing/jormungandr-integration-tests/src/jormungandr/transactions.rs
Labels: A-jormungandr, subsys-mempool

#3244 fragments log: fix setting status of an unknown fragment
  jormungandr/src/fragment/logs.rs
Labels: A-jormungandr, bug, subsys-mempool

#3232 REST API: return elaborate reports about rejected fragments
  Cargo.lock
  doc/api/v0.yaml
  doc/api/v1.yaml
  jormungandr-lib/Cargo.toml
  jormungandr-lib/src/interfaces/fragments_batch.rs
  jormungandr-lib/src/interfaces/fragments_processing_summary.rs
  jormungandr-lib/src/interfaces/mod.rs
  jormungandr/src/fragment/pool.rs
  jormungandr/src/fragment/process.rs
  jormungandr/src/intercom.rs
  jormungandr/src/network/subscription.rs
  jormungandr/src/rest/v0/handlers.rs
  jormungandr/src/rest/v0/logic.rs
  jormungandr/src/rest/v0/mod.rs
  jormungandr/src/rest/v1/handlers.rs
  jormungandr/src/rest/v1/logic.rs
  jormungandr/src/rest/v1/mod.rs
  testing/jormungandr-integration-tests/src/common/jcli/api/rest/v0/message.rs
  testing/jormungandr-integration-tests/src/common/jormungandr/mod.rs
  testing/jormungandr-integration-tests/src/jormungandr/rest/v1.rs
  testing/jormungandr-scenario-tests/src/scenario/fragment_node.rs
  testing/jormungandr-scenario-tests/src/test/utils/mod.rs
  testing/jormungandr-testing-utils/src/testing/fragments/load/batch_generator.rs
  testing/jormungandr-testing-utils/src/testing/fragments/node.rs
  testing/jormungandr-testing-utils/src/testing/fragments/sender.rs
  testing/jormungandr-testing-utils/src/testing/node/legacy/rest.rs
  testing/jormungandr-testing-utils/src/testing/node/rest/mod.rs
  testing/jormungandr-testing-utils/src/testing/node/rest/raw.rs
  testing/jormungandr-testing-utils/src/testing/remote/node.rs
Labels: A-api, A-jormungandr, subsys-mempool, subsys-rest

#3254 ci/docs: fix permissions for mdbook-linkcheck
  .github/workflows/docs.yml
Labels: A-ci

#3266 fix REST API fragment sending errors: err and ok were swapped
  jormungandr/src/rest/v0/logic.rs
  jormungandr/src/rest/v1/logic.rs
Labels: A-jormungandr, subsys-rest

#3270 PersistentFragmentLog Iterators
  jormungandr-lib/Cargo.toml
  jormungandr-lib/src/interfaces/fragment_log_persistent.rs
Labels: enhancement

#3251 cover some general things with editorconfig
  .circleci/config.yml
  .editorconfig
  .github/workflows/editorconfig.yml
  README.md
  doc/configuration/mempool.md
  doc/configuration/network.md
  doc/jcli/vote.md
  docker/Dockerfile
  modules/blockchain/README.md
  modules/settings/Cargo.toml
  modules/settings/README.md
  scripts/jcli-helpers
  scripts/send-transaction
  testing/README.md
  testing/jormungandr-integration-tests/resources/tls/server.crt
  testing/jormungandr-integration-tests/src/jormungandr/grpc/client_tests.rs
  testing/jormungandr-integration-tests/src/non_functional/soak.rs
  testing/jormungandr-scenario-tests/README.md
  testing/jormungandr-scenario-tests/src/interactive/args/show.rs
  testing/jormungandr-testing-utils/resources/explorer/graphql/address.graphql
  testing/jormungandr-testing-utils/resources/explorer/graphql/allstakepools.graphql
  testing/jormungandr-testing-utils/resources/explorer/graphql/blocksbychainlength.graphql
  testing/jormungandr-testing-utils/resources/explorer/graphql/generate_schema.sh
  testing/jormungandr-testing-utils/resources/explorer/graphql/schema.graphql
  testing/jormungandr-testing-utils/resources/explorer/graphql/stakepool.graphql
  testing/jormungandr-testing-utils/resources/explorer/graphql/transaction_by_id.graphql
  testing/mjolnir/Cargo.toml
  tools/update-version.sh
Labels: A-ci

#3269 PersistentFragmentLogs Iterator
  jormungandr-lib/Cargo.toml
  jormungandr-lib/src/interfaces/fragment_log_persistent.rs
  jormungandr-lib/src/interfaces/mod.rs
Labels: enhancement

#3283 fix editorconfig action version to be less strict
  .github/workflows/editorconfig.yml
Labels: A-ci

#3268 Ignore test_legacy_node_all_fragments
  testing/jormungandr-integration-tests/src/jormungandr/legacy/mod.rs
Labels: A-tests

#3284 Update dependencies: jortestkit, dialoguer 0.8
  Cargo.lock
  testing/jormungandr-scenario-tests/Cargo.toml
Labels: dependencies

#3301 Backport fragment pool error to fund4
  Cargo.lock
  doc/api/v0.yaml
  doc/api/v1.yaml
  jormungandr-lib/src/interfaces/fragments_processing_summary.rs
  jormungandr-lib/src/interfaces/mod.rs
  jormungandr/src/fragment/pool.rs
  jormungandr/src/fragment/process.rs
  jormungandr/src/intercom.rs
  jormungandr/src/network/subscription.rs
  jormungandr/src/rest/v0/logic.rs
  jormungandr/src/rest/v0/mod.rs
  jormungandr/src/rest/v1/logic.rs
  jormungandr/src/rest/v1/mod.rs
  modules/blockchain/src/reference.rs
Labels: A-jormungandr, subsys-mempool, subsys-rest

#3305 Forward-port mempool logging improvements
  jormungandr/src/fragment/pool.rs
Labels: subsys-logging

#3309 fix mdbook-linkcheck errors & always run `mdbook build` on changes
  .github/workflows/docs.yml
  doc/advanced/02_starting_bft_blockchain.md
  doc/advanced/03_starting_genesis_praos_blockchain.md
  doc/concepts/blockchain.md
  doc/configuration/leadership.md
  doc/configuration/network.md
Labels: A-doc

#3312 remove unused deps
  Cargo.lock
  jcli/Cargo.toml
  jormungandr-lib/Cargo.toml
  jormungandr/Cargo.toml
  jormungandr/src/main.rs
  jormungandr/src/secure/enclave.rs
  testing/jormungandr-integration-tests/Cargo.toml
  testing/jormungandr-testing-utils/Cargo.toml
Labels: cleaning

#3240 Mempool tests
  testing/jormungandr-integration-tests/src/common/jormungandr/process.rs
  testing/jormungandr-integration-tests/src/jormungandr/bft/mempool/mod.rs
  testing/jormungandr-integration-tests/src/jormungandr/bft/mempool/v0.rs
  testing/jormungandr-integration-tests/src/jormungandr/bft/mempool/v1.rs
  testing/jormungandr-integration-tests/src/jormungandr/bft/mod.rs
  testing/jormungandr-testing-utils/src/testing/node/verifier/fragment_log.rs
  testing/jormungandr-testing-utils/src/testing/node/verifier/mod.rs
Labels: A-tests

#3310 Stop using `error-chain` entirely, drop `slog` dependency
  Cargo.lock
  jormungandr/Cargo.toml
  jormungandr/src/blockchain/chain.rs
  jormungandr/src/blockchain/mod.rs
  jormungandr/src/blockchain/process.rs
  jormungandr/src/main.rs
  jormungandr/src/start_up/mod.rs
  testing/jormungandr-integration-tests/src/jormungandr/grpc/client_tests.rs
  testing/jormungandr-scenario-tests/Cargo.toml
  testing/jormungandr-scenario-tests/src/lib.rs
  testing/jormungandr-scenario-tests/src/scenario/controller.rs
  testing/jormungandr-scenario-tests/src/scenario/mod.rs
  testing/jormungandr-scenario-tests/src/slog.rs
  testing/jormungandr-scenario-tests/src/test/mod.rs
Labels: A-jormungandr, A-tests, cleaning

#3323 Lint tests on ci
  .github/workflows/test.yml
  testing/jormungandr-integration-tests/src/jcli/genesis/encode.rs
  testing/jormungandr-integration-tests/src/jcli/genesis/hash.rs
  testing/jormungandr-integration-tests/src/jcli/genesis/init.rs
  testing/jormungandr-integration-tests/src/jcli/transaction/e2e.rs
  testing/jormungandr-integration-tests/src/jormungandr/bft/mempool/v0.rs
  testing/jormungandr-integration-tests/src/jormungandr/bft/mempool/v1.rs
  testing/jormungandr-integration-tests/src/jormungandr/explorer/mod.rs
  testing/jormungandr-integration-tests/src/jormungandr/genesis/fragments.rs
  testing/jormungandr-integration-tests/src/jormungandr/genesis/pool_update.rs
  testing/jormungandr-integration-tests/src/jormungandr/genesis/stake_distribution.rs
  testing/jormungandr-integration-tests/src/jormungandr/genesis/stake_pool.rs
  testing/jormungandr-integration-tests/src/jormungandr/grpc/client_tests.rs
  testing/jormungandr-integration-tests/src/jormungandr/grpc/setup.rs
  testing/jormungandr-integration-tests/src/jormungandr/mempool/fragments_dump.rs
  testing/jormungandr-integration-tests/src/jormungandr/recovery.rs
  testing/jormungandr-integration-tests/src/jormungandr/rest/v1.rs
  testing/jormungandr-integration-tests/src/jormungandr/transactions.rs
  testing/jormungandr-integration-tests/src/jormungandr/vit/public.rs
  testing/jormungandr-integration-tests/src/networking/testnet.rs
  testing/jormungandr-integration-tests/src/non_functional/bootstrap.rs
  testing/jormungandr-integration-tests/src/non_functional/compatibility.rs
  testing/jormungandr-integration-tests/src/non_functional/explorer.rs
  testing/jormungandr-integration-tests/src/non_functional/persistent_log.rs
  testing/jormungandr-integration-tests/src/non_functional/rest.rs
  testing/jormungandr-integration-tests/src/non_functional/rewards.rs
  testing/jormungandr-integration-tests/src/non_functional/soak.rs
  testing/jormungandr-integration-tests/src/non_functional/transaction.rs
  testing/jormungandr-integration-tests/src/non_functional/voting/private/mod.rs
  testing/jormungandr-integration-tests/src/non_functional/voting/public/mod.rs
  testing/jormungandr-scenario-tests/src/legacy/node.rs
  testing/jormungandr-testing-utils/src/testing/network_builder/settings.rs
  testing/jormungandr-testing-utils/src/testing/node/legacy/rest.rs
  testing/jormungandr-testing-utils/src/testing/node/logger.rs
  testing/jormungandr-testing-utils/src/testing/sync/wait.rs
  testing/jormungandr-testing-utils/src/wallet/account.rs
  testing/jormungandr-testing-utils/src/wallet/delegation.rs
  testing/jormungandr-testing-utils/src/wallet/utxo.rs
Labels: A-tests
