Repository input-output-hk/jormungandr, pull requests merged in 2021-10, with the labels that each got.

#3600 enable all-features flag when building tests
  .circleci/config.yml
  .github/workflows/test.yml
  testing/jormungandr-integration-tests/src/networking/testnet.rs
Labels: A-ci

#3631 blockchain: always include block0 to checkpoints
  jormungandr/src/blockchain/checkpoints.rs
Labels: A-jormungandr

#3630 network: fix the client counter
  jormungandr/src/network/mod.rs
Labels: bug, A-jormungandr

#3603 [Tests] increase default slot duration in tests to 2 secs
  testing/jormungandr-integration-tests/src/jcli/rest/vote.rs
  testing/jormungandr-integration-tests/src/jormungandr/bft/mempool/v0.rs
  testing/jormungandr-integration-tests/src/jormungandr/bft/mempool/v1.rs
  testing/jormungandr-integration-tests/src/jormungandr/grpc/client_tests.rs
  testing/jormungandr-integration-tests/src/jormungandr/grpc/setup.rs
  testing/jormungandr-integration-tests/src/jormungandr/mempool.rs
  testing/jormungandr-integration-tests/src/jormungandr/persistent_log.rs
  testing/jormungandr-integration-tests/src/jormungandr/transactions.rs
  testing/jormungandr-integration-tests/src/jormungandr/vit/public.rs
  testing/jormungandr-integration-tests/src/non_functional/persistent_log.rs
  testing/jormungandr-testing-utils/src/testing/jormungandr/configuration_builder.rs
Labels: A-tests, A-ci

#3640 Fix nonfunctional tests after expiry date introduction
  testing/jormungandr-integration-tests/src/non_functional/compatibility.rs
  testing/jormungandr-integration-tests/src/non_functional/fragment.rs
  testing/jormungandr-integration-tests/src/non_functional/persistent_log.rs
  testing/jormungandr-integration-tests/src/non_functional/transaction.rs
  testing/jormungandr-integration-tests/src/non_functional/voting/private/mod.rs
  testing/jormungandr-integration-tests/src/non_functional/voting/public/mod.rs
  testing/jormungandr-testing-utils/src/testing/node/configuration/legacy/config.rs
  testing/jormungandr-testing-utils/src/testing/node/configuration/legacy/configuration_builder.rs
  testing/jormungandr-testing-utils/src/testing/node/legacy/mod.rs
  testing/jormungandr-testing-utils/src/testing/node/legacy/version.rs
  testing/jormungandr-testing-utils/src/testing/node/mod.rs
Labels: A-tests

#3634 [Tests] Adversary node
  testing/jormungandr-integration-tests/src/jormungandr/grpc/server_tests.rs
  testing/jormungandr-testing-utils/src/bin/mock_server_app.rs
  testing/jormungandr-testing-utils/src/testing/adversary/mod.rs
  testing/jormungandr-testing-utils/src/testing/adversary/process.rs
  testing/jormungandr-testing-utils/src/testing/jormungandr/process.rs
  testing/jormungandr-testing-utils/src/testing/mod.rs
  testing/jormungandr-testing-utils/src/testing/node/grpc/server/builder.rs
  testing/jormungandr-testing-utils/src/testing/node/grpc/server/controller.rs
  testing/jormungandr-testing-utils/src/testing/node/grpc/server/data.rs
  testing/jormungandr-testing-utils/src/testing/node/grpc/server/mod.rs
  testing/jormungandr-testing-utils/src/testing/utils.rs
Labels: A-tests
