Repository input-output-hk/jormungandr, pull requests merged in 2021-07, with the labels that each got.

#3401 Fix config generated by bootstrap script on Windows
  scripts/bootstrap.py
Labels: A-scripts, bug

#3415 Fixed Documentation Typos
  doc/advanced/01_the_genesis_block.md
  doc/advanced/02_starting_bft_blockchain.md
  doc/advanced/03_starting_genesis_praos_blockchain.md
  doc/advanced/introduction.md
  doc/configuration/introduction.md
  doc/configuration/network.md
  doc/jcli/certificate.md
  doc/jcli/key.md
  doc/jcli/transaction.md
  doc/jcli/vote.md
  doc/quickstart/04_explorer.md
Labels: A-doc, good first issue

#3230 Jcli make transaction
  Cargo.lock
  jcli/Cargo.toml
  jcli/src/jcli_lib/block/mod.rs
  jcli/src/jcli_lib/key.rs
  jcli/src/jcli_lib/rest/config.rs
  jcli/src/jcli_lib/rest/mod.rs
  jcli/src/jcli_lib/rest/v0/account/mod.rs
  jcli/src/jcli_lib/rest/v0/message/mod.rs
  jcli/src/jcli_lib/rest/v0/mod.rs
  jcli/src/jcli_lib/rest/v0/settings/mod.rs
  jcli/src/jcli_lib/transaction/add_account.rs
  jcli/src/jcli_lib/transaction/finalize.rs
  jcli/src/jcli_lib/transaction/mk_witness.rs
  jcli/src/jcli_lib/transaction/mod.rs
  jcli/src/jcli_lib/transaction/simplified.rs
  jcli/src/jcli_lib/transaction/staging.rs
  jcli/src/jcli_lib/utils/io.rs
  jcli/src/jcli_lib/utils/mod.rs
  testing/jormungandr-integration-tests/src/common/jcli/api/transaction.rs
  testing/jormungandr-integration-tests/src/common/jcli/command/transaction.rs
  testing/jormungandr-integration-tests/src/jcli/transaction/mod.rs
  testing/jormungandr-integration-tests/src/jcli/transaction/simplified.rs
Labels: A-jcli, enhancement, technical debt

#3427 Removed legacy send-transaction script
  scripts/send-transaction
Labels: cleaning

#3425 use f-strings in Python scripts
  ci/pack-assets.py
  ci/release-info.py
  scripts/bootstrap.py
Labels: A-ci, A-scripts, cleaning

#3424 ci: use homegrown pure JS Slack Action
  .github/workflows/release.yml
Labels: A-ci

#3420 Clean up the list of dependabot ignores
  .github/dependabot.yml
Labels: cleaning

#3433 Update old references to send transaction script
  doc/jcli/transaction.md
Labels: A-doc

#3437 [Test] Qr hash export from wallet
  Cargo.lock
  testing/jormungandr-testing-utils/Cargo.toml
  testing/jormungandr-testing-utils/src/qr_code/hash.rs
  testing/jormungandr-testing-utils/src/qr_code/img.rs
  testing/jormungandr-testing-utils/src/qr_code/mod.rs
  testing/jormungandr-testing-utils/src/wallet/mod.rs
Labels: A-tests

#3434 ci: use custom Docker image for audit
  .github/workflows/audit.yml
  .github/workflows/docker.yml
  ci/docker/Dockerfile
Labels: A-ci

#3422 rest/v1: get all proposals in a vote plan a user have voted for
  doc/api/v1.yaml
  jormungandr-lib/src/interfaces/mod.rs
  jormungandr-lib/src/interfaces/vote.rs
  jormungandr/src/rest/v1/handlers.rs
  jormungandr/src/rest/v1/logic.rs
  jormungandr/src/rest/v1/mod.rs
  testing/jormungandr-integration-tests/src/jormungandr/vit/public.rs
  testing/jormungandr-testing-utils/src/testing/node/legacy/rest.rs
  testing/jormungandr-testing-utils/src/testing/node/rest/mod.rs
  testing/jormungandr-testing-utils/src/testing/node/rest/raw.rs
Labels: A-api, A-jormungandr, VOTE

#3441 OpenAPI: Fix the path for v1/fragments/logs
  doc/api/v1.yaml
Labels: A-api, A-doc

#3458 Clean up serialization of vote plans
  jcli/src/jcli_lib/certificate/new_vote_plan.rs
  jormungandr-lib/src/interfaces/blockdate.rs
  jormungandr-lib/src/interfaces/mod.rs
  jormungandr-lib/src/interfaces/vote.rs
Labels: A-api, cleaning, technical debt

#3464 Rename and export vote types in jormungandr-lib
  jormungandr-lib/src/interfaces/mod.rs
  jormungandr-lib/src/interfaces/vote.rs
Labels: A-api, cleaning
