Repository input-output-hk/jormungandr, pull requests merged in 2021-02, with the labels that each got.

#2974 [Tests] remove invalid Tally conversion
  jormungandr-lib/src/interfaces/vote.rs
Labels: A-tests

#2979 [Tests] move logger asserts to JormungandrLogger
  testing/jormungandr-integration-tests/src/common/jormungandr/process.rs
  testing/jormungandr-testing-utils/src/testing/node/logger.rs
Labels: A-tests

#2975 Change bardecoder for quircs
  Cargo.lock
  testing/jormungandr-testing-utils/Cargo.toml
  testing/jormungandr-testing-utils/src/qr_code.rs
Labels: bug

#2962 Explorer add gc and confirmed block notion
  jormungandr/src/blockchain/multiverse.rs
  jormungandr/src/explorer/graphql/mod.rs
  jormungandr/src/explorer/mod.rs
  jormungandr/src/main.rs
Labels: A-explorer, bug, enhancement

#2993 Pack release binaries with GNU tar on Mac OS
  .github/workflows/release.yml
Labels: A-ci

#2985 remove warp from jormungandr-lib and use http crate
  Cargo.lock
  jormungandr-lib/Cargo.toml
  jormungandr-lib/src/interfaces/config/node.rs
Labels: A-jormungandr, cleaning

#2994 [Test] expose linear_fee parameter in settings
  testing/jormungandr-testing-utils/src/testing/network_builder/blockchain.rs
  testing/jormungandr-testing-utils/src/testing/network_builder/settings.rs
Labels: A-tests

#2981 Add tracking tips explorer multiverse
  jormungandr/src/explorer/error.rs
  jormungandr/src/explorer/graphql/mod.rs
  jormungandr/src/explorer/mod.rs
  jormungandr/src/explorer/multiverse.rs
  jormungandr/src/start_up/error.rs
Labels: A-explorer

#2995 Remove unused data member from BranchData
  jormungandr/src/blockchain/branch.rs
Labels: cleaning

#2992 Check the correctness of archives and attach checksums to releases
  .github/workflows/release.yml
  ci/pack-assets.py
Labels: A-ci, enhancement

#3003 ci: use thin LTO in the release workflow and disable LTO in the test workflow
  .github/workflows/release.yml
  .github/workflows/test.yml
Labels: A-ci, enhancement

#3018 update all dependencies to use cryptoxide 0.3.1
  Cargo.lock
Labels: dependencies

#2925 add flake.nix
  flake.lock
  flake.nix
  jormungandr.nix
Labels: A-packaging-nix

#3032 Clean up, fix a lint in nightly
  jormungandr/src/utils/borrow.rs
  jormungandr/src/utils/mod.rs
  testing/jormungandr-integration-tests/src/jormungandr/grpc/server_tests.rs
Labels: A-tests, cleaning

#2923 use a copy of fragment pool per leader
  jormungandr-lib/src/interfaces/fragment_log.rs
  jormungandr/src/fragment/logs.rs
  jormungandr/src/fragment/mod.rs
  jormungandr/src/fragment/pool.rs
  jormungandr/src/fragment/process.rs
  jormungandr/src/fragment/selection.rs
  jormungandr/src/intercom.rs
  jormungandr/src/leadership/process.rs
  jormungandr/src/main.rs
Labels: A-jormungandr, bug, subsys-mempool

#2929 Slog to Tracing migration
  .github/workflows/test.yml
  Cargo.lock
  jormungandr/Cargo.toml
  jormungandr/src/blockchain/candidate.rs
  jormungandr/src/blockchain/chain.rs
  jormungandr/src/blockchain/process.rs
  jormungandr/src/blockchain/storage.rs
  jormungandr/src/client.rs
  jormungandr/src/explorer/mod.rs
  jormungandr/src/fragment/logs.rs
  jormungandr/src/fragment/pool.rs
  jormungandr/src/fragment/process.rs
  jormungandr/src/fragment/selection.rs
  jormungandr/src/intercom.rs
  jormungandr/src/leadership/process.rs
  jormungandr/src/log/asyncable_drain.rs
  jormungandr/src/log/mod.rs
  jormungandr/src/log/stream.rs
  jormungandr/src/main.rs
  jormungandr/src/network/bootstrap.rs
  jormungandr/src/network/client/connect.rs
  jormungandr/src/network/client/mod.rs
  jormungandr/src/network/grpc/client.rs
  jormungandr/src/network/grpc/server.rs
  jormungandr/src/network/mod.rs
  jormungandr/src/network/p2p/comm.rs
  jormungandr/src/network/p2p/policy.rs
  jormungandr/src/network/p2p/topology.rs
  jormungandr/src/network/service.rs
  jormungandr/src/network/subscription.rs
  jormungandr/src/rest/context.rs
  jormungandr/src/rest/v0/logic.rs
  jormungandr/src/rest/v1/logic.rs
  jormungandr/src/settings/command_arguments.rs
  jormungandr/src/settings/logging.rs
  jormungandr/src/settings/mod.rs
  jormungandr/src/settings/start/config.rs
  jormungandr/src/settings/start/mod.rs
  jormungandr/src/start_up/mod.rs
  jormungandr/src/stuck_notifier.rs
  jormungandr/src/utils/task.rs
  testing/jormungandr-integration-tests/src/jormungandr/grpc/server_tests.rs
  testing/jormungandr-testing-utils/src/testing/node/benchmark.rs
  testing/jormungandr-testing-utils/src/testing/node/logger.rs
Labels: WIP, enhancement

#3028 fix compilation issue in enclave.rs
  Cargo.lock
  jormungandr-lib/src/crypto/account.rs
  jormungandr-lib/src/crypto/hash.rs
  jormungandr-lib/src/crypto/key.rs
  jormungandr-lib/src/interfaces/ratio.rs
  jormungandr-lib/src/interfaces/reward_parameters.rs
  jormungandr-lib/src/interfaces/stake.rs
  jormungandr-lib/src/interfaces/tax_type.rs
  jormungandr-lib/src/interfaces/value.rs
  jormungandr-lib/src/time.rs
  jormungandr/src/secure/enclave.rs
Labels: A-jormungandr

#2996 expose discrimination settings in blockchain template
  Cargo.lock
  testing/jormungandr-integration-tests/src/common/network/builder.rs
  testing/jormungandr-scenario-tests/Cargo.toml
  testing/jormungandr-scenario-tests/src/scenario/mod.rs
  testing/jormungandr-scenario-tests/src/test/network/real.rs
  testing/jormungandr-testing-utils/Cargo.toml
  testing/jormungandr-testing-utils/src/testing/network_builder/blockchain.rs
  testing/jormungandr-testing-utils/src/testing/network_builder/settings.rs
  testing/jormungandr-testing-utils/src/testing/network_builder/wallet/mod.rs
  testing/jormungandr-testing-utils/src/testing/network_builder/wallet/template/mod.rs
Labels: A-tests

#3054 expose External addresses
  testing/jormungandr-testing-utils/src/testing/network_builder/blockchain.rs
  testing/jormungandr-testing-utils/src/testing/network_builder/settings.rs
Labels: A-tests

#3061 [Test] Expand private voting load tests
  Cargo.lock
  testing/jormungandr-integration-tests/src/common/jormungandr/configuration_builder.rs
  testing/jormungandr-integration-tests/src/non_functional/voting.rs
  testing/jormungandr-integration-tests/src/non_functional/voting/config.rs
  testing/jormungandr-integration-tests/src/non_functional/voting/mod.rs
  testing/jormungandr-integration-tests/src/non_functional/voting/private/load.rs
  testing/jormungandr-integration-tests/src/non_functional/voting/private/mod.rs
  testing/jormungandr-integration-tests/src/non_functional/voting/private/noise.rs
  testing/jormungandr-integration-tests/src/non_functional/voting/public/load.rs
  testing/jormungandr-integration-tests/src/non_functional/voting/public/mod.rs
  testing/jormungandr-integration-tests/src/non_functional/voting/public/noise.rs
  testing/jormungandr-testing-utils/src/testing/fragments/load/adversary_generator.rs
  testing/jormungandr-testing-utils/src/testing/fragments/load/mod.rs
  testing/jormungandr-testing-utils/src/testing/fragments/mod.rs
  testing/jormungandr-testing-utils/src/testing/node/configuration/block0_config_builder.rs
Labels: A-tests

#3053 make v1/fragments/logs and v1/fragments/statuses visible
  jormungandr/src/rest/v1/mod.rs
Labels: A-jormungandr
