Repository input-output-hk/jormungandr, pull requests merged in 2022-01, with the labels that each got.

#3701 Expose account based vote count endpoint
  CHANGELOG.md
  doc/api/v1.yaml
  jormungandr/src/rest/v1/handlers.rs
  jormungandr/src/rest/v1/logic.rs
  jormungandr/src/rest/v1/mod.rs
Labels: Priority - High, A-api

#3735 [Test] spending counter increasing update
  Cargo.lock
  testing/hersir/src/builder/wallet/mod.rs
  testing/jormungandr-integration-tests/src/jcli/transaction/e2e.rs
  testing/jormungandr-integration-tests/src/jcli/transaction/witness.rs
  testing/jormungandr-integration-tests/src/jormungandr/bft/counter.rs
  testing/jormungandr-integration-tests/src/jormungandr/bft/mempool/v1.rs
  testing/jormungandr-integration-tests/src/jormungandr/bft/mod.rs
  testing/jormungandr-integration-tests/src/jormungandr/explorer.rs
  testing/jormungandr-integration-tests/src/jormungandr/genesis/pool_update.rs
  testing/jormungandr-integration-tests/src/jormungandr/genesis/stake_distribution.rs
  testing/jormungandr-integration-tests/src/jormungandr/grpc/client_tests.rs
  testing/jormungandr-integration-tests/src/jormungandr/legacy.rs
  testing/jormungandr-integration-tests/src/jormungandr/persistent_log.rs
  testing/jormungandr-integration-tests/src/jormungandr/rest/v0/errors.rs
  testing/jormungandr-integration-tests/src/jormungandr/rest/v1/fragments/fail_fast.rs
  testing/jormungandr-integration-tests/src/jormungandr/rest/v1/fragments/statuses.rs
  testing/jormungandr-integration-tests/src/jormungandr/transactions.rs
  testing/jormungandr-integration-tests/src/networking/communication/mod.rs
  testing/jormungandr-integration-tests/src/networking/communication/parallel_spending_counter.rs
  testing/jormungandr-integration-tests/src/non_functional/compatibility.rs
  testing/jormungandr-integration-tests/src/non_functional/rewards.rs
  testing/jormungandr-integration-tests/src/non_functional/soak.rs
  testing/jormungandr-integration-tests/src/non_functional/transaction.rs
  testing/jormungandr-testing-utils/src/testing/fragments/mod.rs
  testing/jormungandr-testing-utils/src/testing/fragments/sender.rs
  testing/jormungandr-testing-utils/src/testing/fragments/transaction.rs
  testing/jormungandr-testing-utils/src/testing/jcli/api/transaction.rs
  testing/jormungandr-testing-utils/src/testing/jcli/command/transaction.rs
  testing/jormungandr-testing-utils/src/testing/jcli/services/fragment_check.rs
  testing/jormungandr-testing-utils/src/testing/jcli/services/transaction_builder.rs
  testing/jormungandr-testing-utils/src/testing/witness.rs
  testing/jormungandr-testing-utils/src/wallet/mod.rs
  testing/loki/Cargo.toml
  testing/mjolnir/src/mjolnir_lib/generators/batch_generator.rs
  testing/mjolnir/src/mjolnir_lib/generators/fragment_generator.rs
Labels: A-tests

#3747 [Tests] added pack of test for token in block0 on jormungandr level
  jormungandr-lib/src/interfaces/account_state.rs
  jormungandr-lib/src/interfaces/block0_configuration/initial_fragment.rs
  jormungandr-lib/src/interfaces/block0_configuration/mod.rs
  testing/jormungandr-integration-tests/src/jormungandr/mod.rs
  testing/jormungandr-integration-tests/src/jormungandr/tokens.rs
  testing/jormungandr-testing-utils/src/testing/jormungandr/configuration_builder.rs
  testing/jormungandr-testing-utils/src/wallet/mod.rs
Labels: A-tests

#3784 Expose things for vit testing
  testing/hersir/src/controller/mod.rs
  testing/thor/src/lib.rs
Labels: A-tests

#3738 [Test] exclude explorer tests from soak tests in integration test
  testing/jormungandr-integration-tests/src/non_functional/mod.rs
Labels: A-tests

#3794 add derive Clone to hersir controller, expose constructors
  testing/hersir/src/builder/settings.rs
  testing/hersir/src/builder/vote_plan_settings.rs
  testing/hersir/src/controller/mod.rs
  testing/hersir/src/controller/monitor/mod.rs
Labels: A-tests

#3741 remove apparently unused dependencies
  Cargo.lock
  jormungandr-lib/Cargo.toml
  testing/jormungandr-automation/Cargo.toml
Labels: cleaning
